[2020-07-09 19:18] nayanamana commented on #711
* 0db5cab943f4d486fa896e9a5272fc82270e97268a4b8ba86b7a9f32eac14d4a
* 3d1d8ff6a670771a57b34176bea3f233febf93f5decf11d45932646ee6c9235b

[2020-07-10 18:34] birdsarah commented on #711
If we could get another person to try my demo.py and report their results, this may help triangulate the problem.

[2020-07-10 18:37] nayanamana commented on #711
From my side, I am the only user using OpenWPM at the moment. Was there any updates that would have rectified this issue when going from 0.10.0 to 0.11.0 ?

[2020-07-10 18:59] birdsarah commented on #711
No. There is nothing that has changed in at least a year that I would expect to have changed this. I'm doing a quick look to see if the problem exists on one of our large crawls.

[2020-07-10 19:46] birdsarah commented on #711
I did a very quick analysis on the Feb 2020 crawl (@englehardt @vringar you know what I mean) - an Alexa top 100k crawl.

See my notebook here: https://gist.github.com/birdsarah/41dcb10751ecb52f7e4fbc14ae10076a

If researchers are relying on the content hash for analysis, then I would call this a bug.

@nayanamana this is a great spot. Thanks. If you're interested, the reason I haven't even though

[2020-07-14 11:52] Febeoro commented on #709
[install-out.txt](https://github.com/mozilla/OpenWPM/files/4918605/install-out.txt)
hi，this is the install.sh 's output.
Thank you very much.

[2020-07-14 22:34] birdsarah commented on #709
Great. Your installation looks like it all completed just fine. Now that it's done you should be able to run `conda activate openwpm` and `python demo.py` to run the demo crawl (I like to set `display_mode` to `native` so I can see the crawl executing).

Assuming that you can, can you clarify what the issue is that you're experiencing?

[2020-07-15 12:16] Febeoro commented on #709
This is the demo's log. Could you help me to have a look at the out to verify the correctness?
Thank you.
[openwpm.log](https://github.com/mozilla/OpenWPM/files/4925071/openwpm.log)

[2020-07-15 15:39] birdsarah commented on #709
Nothing obviously wrong. Are you experiencing a problem with your data?

[2020-07-16 15:22] Febeoro commented on #709
I haven't started running my data yet, because I need to study the function and usage of OpenWPM. After I have a preliminary result, I will reply to you immediately.

Thank you for your patience.

[2020-07-23 03:13] Febeoro opened #714 "How can I call the function "extract_links"?"
As the title says when I want to call the function `extract_links` of Available Commands, I get the error to remind.
The error is as follows:
[code]
My code is as follows:

[code]
Just added a line below the get function. When I try other functions such as `dump_page_source`, it all just ok. I want to know what is wrong with this and what I can do to fix this.
Thank you.

[2020-07-23 15:44] vringar commented on #714
As the error message states there is no function called `extract_links` on the `CommandSequence`. Where did you get the impression that such a function does exist?

[2020-07-23 15:45] #709 closed

[2020-07-23 16:19] englehardt commented on #714
This function used to exist but was removed in https://github.com/mozilla/OpenWPM/pull/213. I've updated the wiki to remove reference to it. Let me know if we reference it anywhere else!

[2020-07-23 16:19] #714 closed

[2020-07-23 23:05] birdsarah commented on #561
When standardizing crawl_id (aka browser_id), task_id, visit_id - will need to have a new strategy that spans - because at the moment local sqlite and parquet handle very differently.

[2020-07-29 15:33] turban1988 opened #717 "Instrument specific JavaScript function"
Hey,
I want to log calls to the JavaScript function[ `window.postMessage()`](https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage). OpenWPM implements the instrumentation of JavaScript based on objects and properties. My problem is that logging all access to the  `window` object is probably too noisy and I might still miss calls to that specific function.
How can I instrument calls

[2020-07-29 16:42] vringar commented on #717
I know it's possible, but I don't know exactly how
Pinging @birdsarah since she implemented this

[2020-08-03 16:04] birdsarah commented on #717
It's documented here: https://github.com/mozilla/OpenWPM#instrumentation-and-data-access

    browser_params['js_instrument_settings'] = {"window": ["postMessage",]}

Should do it.

If you have tried that and it fails then please open an issue.

I believe the documentation contains a more accurate statement "Records all method calls (with arguments) and property accesses for configured APIs".

[2020-08-03 16:04] #717 closed

[2020-08-03 22:19] #711 closed

[2020-08-03 22:20] englehardt opened #719 "Verify content hashing is deterministic"
See #711 and the related PR #715. We should verify that this has fixed the issue after running a large crawl with the new fix.

[2020-08-04 07:01] turban1988 commented on #717
Great, thanks!

[2020-08-04 12:45] turban1988 opened #720 "JS instrumentation"
@birdsarah In response to #717:

When I add

`browser_params[i]['js_instrument_settings'] = {"window": ["postMessage"]}`

to the demo, I get

[code]
I get the same error when I use other examples from the documentation: https://github.com/mozilla/OpenWPM#instrumentation-and-data-access

[2020-08-04 22:31] birdsarah commented on #720
Right. Apologies. The documentation does say "In summary, a list is passed with JS objects to be instrumented and details about how that object should be instrumented." But the example snippets in the doc should be updated to reflect that.

The correct invocation should be:

    browser_params[i]['js_instrument_settings'] = [{"window": ["postMessage"]}, ]

The good news is that the validation erro

[2020-08-04 22:32] birdsarah commented on #720
Assuming, my suggestion above works, I propose updating this issue to be a documentation one to improve the current docs section.

[2020-08-05 10:43] turban1988 commented on #720
Worked just fine

[2020-08-07 17:11] #720 closed

[2020-08-07 18:37] #611 closed

[2020-08-07 18:41] vringar opened #723 "Use black to replace flake8, isort and autopep8"
[black](https://pypi.org/project/black/) is opinionated enough that you'd need other tools to accommodate it with extensive formatting.
IMO developer mental capacity is better spent on higher level stuff and not formatting

[2020-08-07 18:49] vringar opened #724 "Introduce pylint and don't allow new code that decreases out pylint rating"
[pylint](https://www.pylint.org/) is a highly customizable linting framework that also rates your code.
It will gently guide us to move to more idiomatic python and will allow us to track our progress towards that goal.

[2020-08-07 18:53] vringar opened #725 "Use typechecking as part of our pre-commit workflow"
[mypy](https://mypy.readthedocs.io/en/latest/) is a type checker that allows for the gradual introduction of type hints, which will allow us to catch simple programming mistakes like clearing a `set` by replacing it with a `list`, or passing `str` instead of a `List[str]` before even committing the code.

By using [pyannotate](https://github.com/dropbox/pyannotate) to generate type hints from exec

[2020-08-07 18:54] vringar commented on #725
mypy --ignore-missing-imports --check-untyped-defs --disallow-incomplete-defs --disallow-untyped-defs

[2020-08-07 18:54] vringar commented on #579
Closing this issue as too broad.

[2020-08-07 18:54] #579 closed

[2020-08-07 20:47] vringar commented on #605
Moving visit_id into the command_sequence is more work than expected, since we never pass the `CommandSequence`  to the `BrowserManager` only singular commands over the `command_queue`

[2020-08-11 09:10] vringar commented on #655
1) "95886,jeepgarage.org"
 2) "95776,goggles4u.com"
 3) "93900,rocketium.com"
 4) "89980,sahmplus.com"
 5) "87785,wheresgeorge.com"
 6) "84941,makinglemonadeblog.com"
 7) "84582,sausageroll.com.au"
 8) "77722,drdavinahseats.com"
 9) "74797,appdividend.com"
10) "74991,680news.com"
11) "74347,clickview.com.au"
12) "73838,overclockers.com"
13) "73294,pics.livejournal.com"
14) "70946,googest.ru"
15) "

[2020-08-14 06:31] #707 closed

[2020-08-14 08:44] #701 closed

[2020-08-14 10:35] jyothisjagan commented on #708
Hi @birdsarah , Can I work on this issue?

I was trying to setup the environment on my Debian 10.5 system. I did run tests after running install.sh. Currently two tests are resulting in error(see the output of py.test -vv [here](https://bin.disroot.org/?f913dfa09ad7f4a7#DwRgf6auj7vm55eRyWS4aGkQzzk7kbsfisd5yhhgMSn1)). But when I run only those two tests, it passes(see the [output](https://bin.disro

[2020-08-14 15:37] vringar commented on #708
Hey @jyothisjagan, thank you for expressing interest in this issue.

As for the tests breaking have you looked at point 3 in our troubleshooting section of our README.md

If the tests are still broken then file another issue for this

[2020-08-16 09:14] jyothisjagan commented on #708
Hi @vringar, thank you for the response.

I have tried setting PYTHONNOUSERSITE, but it did not solve the issue. I found that the error happens only when running TestS3Aggregator with TestCallbackCommand::test_s3_callbacks(see [this](https://bin.disroot.org/?cb7153aa45bed4df#GHiHmrADkGcMQ8Af2GSrY3G1dSQ1ukjD6GpUXtfdibga))

I tried to find out why this is happening, and it seems I am facing [this](h

[2020-08-17 15:10] vringar commented on #708
Hey @jyothisjagan, thanks for breaking this down into a minimal testcase. Would you mind filing a seperate issue for this?
While I don't like our tests being broken, I expect the issue to be non trivial, so I'd suggest you ignore them afterwards and I'll try to figure the localstack issue out.

[2020-08-17 15:38] jyothisjagan commented on #708
Sure @vringar. Will create a new issue for this. :)

[2020-08-17 16:13] jyothisjagan opened #732 "TestS3Aggregator tests results in error while running with TestCallbackCommand::test_s3_callbacks test"
I was setting up environment for this project on Debian GNU/Linux 10.5 after showing interest to work on #708 .

When I run tests using `py.test -vv`, I got errors([output](https://bin.disroot.org/?dfd33fa61f932088#BNmMidi9sJ1tmR85Q8nZFZDR7KUy2CBXbJLSfQZpXt2t)) for tests `test_s3_aggregator.py::TestS3Aggregator::test_basic_properties` and `test_s3_aggregator.py::TestS3Aggregator::test_commit_on_ti

[2020-08-21 15:09] vringar opened #733 "Pull js instrument config out of table"
It breaks the entire config table, just pull it out of there like we do for profile tars.

[2020-08-21 15:11] vringar opened #734 "Setting `profile_tar` only works for the first site of a browser"
Afterwards some other profile (the default profile??) is used

[2020-08-24 15:49] vringar commented on #732
This is due to `infra.stop_infra()` only sending a signal to the infra to shutdown and not waiting for the shutdown to actually happen.

[2020-08-24 18:26] vringar commented on #547
When messing around with #735 I found this error message in the logs, it appears that the error is the first element of the tuple.
Object was of type <class 'tuple'> and looked like (<class 'AssertionError'>, AssertionError("Result was False of <class 'bool'>\nassert F
alse"), <traceback object at 0x7f14954dfec0>).

[2020-08-25 10:16] #547 closed

[2020-08-25 17:07] vringar opened #739 "Add Markdown linting to pre-commit"
The following tools should be added to our pre-commit workflow.

[markdown-link-check](https://github.com/tcort/markdown-link-check)
[markdownlint-cli](https://github.com/igorshubovych/markdownlint-cli)

[2020-09-07 11:30] vringar commented on #723
Turns out as of version 5.0 isort has a black compatibility mode which they are committed to maintaining.
And black won't add any options to sort or even remove unused imports on their own, so we still need isort.

[2020-09-07 11:39] vringar commented on #739
Thinking about this further makes me reconsider on this.
It's not going to be useful for most developers so maybe they should only run in the daily cron build or just manually run.

[2020-09-10 09:06] bkrumnow opened #741 "Disabling pop-ups lead to crash in FinalizeCommand"
When setting pop-up block to True, each browser instances crashes during the finalizeCommand. This can be repeated by adding _fo.set_preference("dom.disable_open_during_load", True)_  in  automation/DeployBrowsers/configure_firefox.py.

https://github.com/mozilla/OpenWPM/blob/41023a800a1990e0b4177e1e345bb419d3dac222/automation/DeployBrowsers/configure_firefox.py

[code]

[2020-09-11 08:38] #734 closed

[2020-09-11 12:15] vringar opened #742 "Installation of OpenWPM fails on OpenSuSe"
Conda says it can't satisfy the condition that glibc >=2.17 but the installed glibc is on version 2.26 as per the user-agent field in conda info.

@birdsarah any idea why this might have happened?

[code]

[2020-09-11 12:31] vringar commented on #686
Duplicate of #684

[2020-09-11 12:31] #686 closed

[2020-09-11 12:55] vringar opened #743 "Refactor commands to actually follow the Command pattern"
The [command pattern](https://en.wikipedia.org/wiki/Command_pattern)  describes how to encapsulate behaviour and the necessary state for this behaviour in a class, that is opaque to the caller.
My suggestion is as follows:
https://github.com/mozilla/OpenWPM/blob/1ad7d5a41f6c0e87173bcfa8838e894d373b5b48/automation/BrowserManager.py#L502-L504
gets replaced by
[code]
This is enabled by removing the s

[2020-09-11 13:43] #733 closed

[2020-09-11 14:07] vringar commented on #743
This bug is pretty well documented and I'm willing to mentor anybody that shows interest in working on this.

[2020-09-11 21:10] englehardt commented on #743
This sounds great to me. So `GetCommand` would be fully defined in `browser_commands.py`? Perhaps we can do some renaming of the `Commands` directory files, such that a caller could do something like `from commands.browser import GetCommand`, and similarly for the current profile commands.

Allowing us to replace custom functions with commands that follow the same pattern is also a huge win.

[2020-09-11 21:21] englehardt commented on #700
This was fixed by #733, but it's still just a small improvement on a bad design.

[2020-09-11 21:26] englehardt commented on #739
Is that too much overhead?

[2020-09-11 21:35] englehardt commented on #597
@birdsarah Do we now have the fix for this? Anything else that we need to do?

[2020-09-11 21:42] englehardt commented on #433
This is out of scope.

[2020-09-11 21:42] #433 closed

[2020-09-11 21:46] englehardt commented on #655
@vringar can we close this?

[2020-09-11 21:48] englehardt commented on #557
@vringar is this still an issue?

[2020-09-11 21:55] englehardt commented on #604
Fixed in https://github.com/mozilla/OpenWPM/pull/693

[2020-09-11 21:55] #604 closed

[2020-09-11 22:19] #353 closed

[2020-09-11 22:21] englehardt commented on #669
See https://github.com/mozilla/OpenWPM/pull/675#issuecomment-645683737

[2020-09-11 22:21] #669 closed

[2020-09-11 22:27] englehardt commented on #732
I'm going to close this as our workaround in #736 does fix the failing tests. We have a desire to move away from localstack (see: #652), so I don't see a reason to track / try to fix the underlying localstack issue.

[2020-09-11 22:27] #732 closed

[2020-09-11 22:29] englehardt commented on #474
@vringar ping on this

[2020-09-11 22:29] englehardt commented on #506
Closing due to inactivity

[2020-09-11 22:29] #506 closed

[2020-09-11 22:31] englehardt commented on #307
Closing due to inactivity. Please re-open if you're still having the issue.

[2020-09-11 22:31] #307 closed

[2020-09-11 22:33] englehardt commented on #60
Fixed by #735

[2020-09-11 22:33] #60 closed

[2020-09-11 22:36] englehardt commented on #336
We are going to keep this library GPLv3 for now

[2020-09-11 22:36] #336 closed

[2020-09-11 22:38] englehardt commented on #278
Closing due to inactivity. Feel free to file a new issue if you're still having problems.

[2020-09-11 22:38] #278 closed

[2020-09-11 22:39] englehardt commented on #341
#716

[2020-09-11 22:39] #341 closed

[2020-09-11 22:42] englehardt commented on #348
Closing this since we've been on the WebExtension instrumentation for a while. I'll accept that this issue will have to serve as documentation.

[2020-09-11 22:42] #348 closed

[2020-09-11 22:43] englehardt commented on #391
There's now a release checklist. See #716

[2020-09-11 22:43] #391 closed

[2020-09-11 22:45] englehardt commented on #427
I don't think this is relevant anymore given the changes we're planning in #561 and #652, but please re-open if it is.

[2020-09-11 22:45] #427 closed

[2020-09-11 22:46] englehardt commented on #548
Closing due to inactivity. Please open a new issue if this is still a problem.

[2020-09-11 22:46] #548 closed

[2020-09-11 22:51] englehardt commented on #64
Given how much has changed since I filed this, I suspect it's no longer an issue / relevant.

[2020-09-11 22:51] #64 closed

[2020-09-11 22:59] englehardt opened #745 "Remove support for random_attributes and browser_settings"
These are a vestige of an unmaintained attempt to allow users to randomize some of the browser's properties. It's incomplete (#17), unsupported (#620), and untested.

Here are some code pointers:

https://github.com/mozilla/OpenWPM/blob/e989ce5f74c1737185c89a33bde4015b55df066a/automation/Commands/profile_commands.py#L14-L35

https://github.com/mozilla/OpenWPM/blob/master/automation/DeployBrowsers/

[2020-09-11 23:01] englehardt commented on #17
See #745

[2020-09-11 23:01] #17 closed

[2020-09-11 23:02] #49 closed

[2020-09-13 05:27] cyruskarsan commented on #743
Hi, I am interested in resolving this issue. Where/how should I begin?

[2020-09-13 10:00] vringar commented on #743
@cyruskarsan Thanks for showing interest in this issue.
This is a pretty major rewrite, so please expect that this will take some time.
Assuming you've never worked with OpenWPM before, I'd suggest first just running demo.py and then having a look at the following to pieces of code.
- Everything related to creating and storing Commands happens in the CommandSequence:
https://github.com/mozilla/Ope

[2020-09-13 17:04] cyruskarsan commented on #743
@vringar So I took a look at `demo.py` and got a high level understanding of what you guys are doing. From a high level, it appears that you have modified firefox to log a customized set of variables in an effort to search for leaked information/bad practices and run multiple browsers in parallel. I ran demo.py locally using python3 on Ubuntu 20.04. Do I need to run it using docker or is docker fo

[2020-09-14 03:30] #334 closed

[2020-09-14 03:33] englehardt commented on #350
Out of scope since these settings will be known for crawls.

[2020-09-14 03:33] #350 closed

[2020-09-14 06:20] ankushduacodes commented on #743
Hi, I am interested in taking on this issue, if this is still available...

[2020-09-14 06:24] ankushduacodes commented on #745
Hi @englehardt, I am interested in working on this task, would you please guide me what needs to be done here...

[2020-09-14 08:29] vringar commented on #745
Hi @ankushduacodes,
At first I'd suggest you familiarize yourself with OpenWPMs general workings, by running `demo.py` and using your favourite SQL Client to inspect the SQLLite DB that will be put onto your desktop.
Afterwards I'd search for `browser_params` and try to understand their purpose and how they are used.
Once you have a big of context, search for `ua_string` and `screen_res` to see al

[2020-09-14 08:32] ankushduacodes commented on #745
@vringar, i did clone it but when i ran demo.py it game me some module errors, and i could not find any requirements.txt is there some other way to install the dependencies?

[2020-09-14 08:36] ankushduacodes commented on #745
What are you trying to achieve with this issue and why do we need to remove some attributes and what are those attributes @vringar

[2020-09-14 08:40] vringar commented on #745
I'd suggest reading [the installation section of our README.md](https://github.com/mozilla/OpenWPM/blob/master/README.md) on how to get setup.

These attributes were originally intended to help us obfuscate the fact that we were running an automated crawl with Firefox.
However we have discovered our attempts to be insufficient and we don't have the resources to build out and maintain such evasion

[2020-09-14 09:17] #723 closed

[2020-09-14 12:16] vringar commented on #743
@cyruskarsan Conceptually correct. The **Open** **W**eb **P**rivacy **M**easurements project aims to enable researchers to collect data on website behaviour, to enable privacy researchers to focus on their research and not waste time with building yet another crawler. It does so by installing an extension Firefox that can be configured to collect a variety of data points and stream them back to th

[2020-09-14 12:19] vringar commented on #743
Would you be more comfortable with me creating the required changes to BrowserManager.py and CommandSequence.py and make the changes to GetCommand and you'd then replicate the changes made to all other commands?

[2020-09-14 13:34] vringar opened #748 "Different types for `request_id` in parquet_schema.py"
https://github.com/mozilla/OpenWPM/blob/181920fb229b708ec6b4010b9f85dab66d9baff5/automation/DataAggregator/parquet_schema.py#L47
https://github.com/mozilla/OpenWPM/blob/181920fb229b708ec6b4010b9f85dab66d9baff5/automation/DataAggregator/parquet_schema.py#L194
The only place where we use int is in the callstacks instrument. But it also should be an int, because it's obviously a number.
Like 25 or sm

[2020-09-14 13:34] vringar commented on #748
If we decide to change this we also need to update the .ts schemas.

[2020-09-14 13:48] vringar opened #749 "Reactivate process_watchdog now that it's fixed"
https://github.com/mozilla/OpenWPM/blob/181920fb229b708ec6b4010b9f85dab66d9baff5/automation/TaskManager.py#L69
change this to True?

[2020-09-14 15:01] vringar commented on #655
I think all of these websites crash our crawler repeatedly, so I was hoping, I'd find the time to investigate them and turn these one by one into higher quality issues.
But if you want, we can close this

[2020-09-14 15:35] #670 closed

[2020-09-14 16:38] vringar commented on #748
Resoltion: Update all `request_id` types to integer

[2020-09-14 18:06] cyruskarsan commented on #743
@vringar Thanks for your succinct explanation. I think I understand the issue now. In its current implementation, the execution of tasks (such as the GetCommand) is disjoint and fragmented across different files. My task is to consolidate the implementation of these commands into the `browser_commands.py` file.

To begin, I will take you up on your offer to do the first changes to GetCommand.

Wit

[2020-09-15 11:33] ankushduacodes commented on #745
hi @vringar, I tried running demo.py multiple times, it runs properly except for I get two exceptions
[code]

I can see that these exceptions are interrelated to each other, any idea what this is about?

(PS: I do get the database on my desktop tho)

[2020-09-17 07:27] vringar commented on #745
Hey @ankushduacodes,
Unfortunately I have no idea what causes this but seeing as it's "only" the watchdog dying the actual working of the platform should be unaffected.
Could you please file a bug for this and point out that you are using macOS. I unfortunately don't have the hardware to investigate this issue, but maybe we can hack around it.

[2020-09-17 09:07] vringar commented on #743
Hey @cyruskarsan,
I've created the branch [CommandRefactoring](https://github.com/mozilla/OpenWPM/tree/CommandRefactoring), feel free to create multiple PRs against this branch. I'll merge anything that passes our current tests.
I haven't changed the CommandSequence yet, but I might get on that eventually.

[2020-09-17 09:26] #474 closed

[2020-09-17 09:51] vringar commented on #557
Yes, the error still happens on [this version](https://github.com/mozilla/OpenWPM/tree/1d01187cef8194578033602be7d565f8bee234e7) aka our current version.

[2020-09-17 09:58] vringar commented on #749
And remove this guard
https://github.com/mozilla/OpenWPM/blob/1d01187cef8194578033602be7d565f8bee234e7/automation/TaskManager.py#L141-L145

[2020-09-18 10:27] #605 closed

[2020-09-23 14:35] richardgreg commented on #748
Hi @vringar I would like to work on this.

[2020-09-23 15:02] vringar commented on #748
Go right ahead!

[2020-09-24 19:09] vringar commented on #748
@richardgreg If you need any support feel free to ask here or in the Matrix channel linked in the readme.md

[2020-09-25 08:46] richardgreg commented on #748
Okay! Will do. I was having some problems running the test suite in conda virtual environment. I have resolved it. running `py.test -vv` test takes around 40 mins to complete on my system. Are there faster alternatives?

[2020-09-25 17:46] birdsarah commented on #742
No idea. Sorry.

[2020-09-28 07:39] vringar commented on #748
Unfortunately our test suite is just that slow :( The only way you could possibly work around that is by just pushing the changes and checking whether they pass on CI or not.

[2020-09-28 07:44] vringar commented on #745
@ankushduacodes How is this coming along? Do you need any kind of support from our side?

[2020-09-28 07:47] ankushduacodes commented on #745
@vringar, I haven't been able to get around this issue, I have been quite busy the last two week and will be for another few weeks. I will ask for more info on this whenever I get around to dealing with this issue. I hope it's fine

[2020-09-28 07:49] vringar commented on #745
Of course that fine! Sorry if I seemed pushy. I just wanted to check in and make sure that you weren't blocked on something from our side

[2020-09-28 07:56] ankushduacodes commented on #745
@vringar oh no no, dont worry about it, you weren't pushy.
I really appreciated that gesture of making sure i wasn't stuck. Thank you for that 😇

[2020-09-28 09:14] vringar commented on #561
TODO: Discuss renaming DataAggregators to StorageProviders, because they don't actually aggregate anything.

[2020-09-29 13:06] Metropass commented on #233
I've been reading the Issues you referenced in the paragraph.

I noticed that `browser_params`have the extensions that you wanted to remove, should we replace them with a similar extension or should I just remove the block entirely?

@englehardt @vringar

https://github.com/mozilla/OpenWPM/blob/8ee163a88d160ca644733ba2b341b819969bc943/automation/DeployBrowsers/configure_firefox.py#L45

[2020-09-29 13:13] vringar commented on #233
We don't want any extensions but our own to be part of OpenWPM. If users want to have extensions installed they should do so by setting up a profile that has the extension installed and setting that as a `seed_profile`
So please just remove the block entirely.
Do you want me to show you all parts of the code base that you'll need to touch for this issue or do you want to explore this on your own?

[2020-09-29 13:45] Metropass commented on #233
At least from what I've seen inside the issues, you wanted Ghostery, Disconnect and uBlock to be removed. Are there any extensions that you also wanted to remove? 😄

[2020-09-29 14:42] vringar commented on #233
We also want to get rid of HTTPS everywhere. Basically all that's in [here](https://github.com/mozilla/OpenWPM/tree/master/automation/DeployBrowsers/firefox_extensions) should be deleted. And all code that refers to these extensions (aka some of the browser_params) should be deleted as well.

[2020-09-29 16:52] Metropass commented on #233
@vringar I have the extensions removed, however TravisCI fails a test with

`The command "if [[ "$TESTS" != "webextension" ]]; then pre-commit run --all; fi" failed and exited with 1 during .`

I tried looking at the json to double check that I removed the references to the deleted extensions, and everything is fine. I might need some help debugging TravisCI.

[2020-09-29 16:55] vringar commented on #233
We want all of our code to have the same format so we use black as an automated formatter
The easiest way to fix this would be to check out the code locally, run black there and then commit and push the changes
Sorry that this is inconvenient from the Web UI

[2020-09-29 17:49] Metropass commented on #233
I ran black, and nearly everything seems to be in order. However Test 2576.4 failed. Should I post the logs here?

[2020-09-29 21:00] vringar opened #755 "Localstack is once again broken"
Localstack is crashing both in local as well as Travis tests with
[`'NoneType' is not subscriptable`](https://travis-ci.org/github/mozilla/OpenWPM/jobs/731353339#L1021)
because calling to get the list of all buckets returns `None`
The quick fix is to disable the tests for now and focus our efforts on landing the aggregator rewrite soon.
So we can use `MemoryStructuredStorageProvider` and `MemoryPa

[2020-09-29 22:18] vringar commented on #755
This affects #750, #752, #753 and #754

[2020-09-29 22:20] vringar commented on #755
I'll verify that the tests fail on master tomorrow and if that's the case I'll disable them until they are removed by #753

[2020-09-30 10:31] vringar commented on #755
The tests started failing on branches at least 12 days ago, but only failed yesterday for the cron build on master, [as you can see here](https://travis-ci.org/github/mozilla/OpenWPM/builds)

[2020-09-30 11:13] #755 closed

[2020-09-30 15:28] vringar commented on #743
@cyruskarsan I've finally brought the branch into a state where all tests are passing.
Does this example help you or do you need any other assistance?

[2020-09-30 16:42] vringar commented on #619
@Metropass This issue is currently lacking a lot of context, but the gist is:
We currently pass around a lot of our failure status messages as tuples, and just assume on both sides that we'll have the same structure. This has proven brittle in the past, since we don't have any tests on these paths and don't catch errors until it crashes in production.
The task would probably scope up to be slightl

[2020-09-30 16:49] #233 closed

[2020-10-01 00:18] Metropass commented on #619
Interesting, if that's the case, then could we create a `status` object that can store the tuple data itself, and just have a query function call within the queue for better management? @vringar I'll take a look at the code, and see if I can make a mock `status` class.

[2020-10-01 10:45] vringar commented on #619
Yeah, a single status object that looks something like this:
[code]
There wouldn't need to be any accessor methods and for the "Ok" status we could just leave everything but `name` as `None`.
`error_class`, `error` and `tb` are returned by `sys.exc_info()`

[2020-10-01 13:57] Metropass commented on #619
I see. I also noticed that on line 554, you pickle the error tuple itself. Would it be a good approach to pass the tuple into the object's constructor, then pickle the object itself through `pickle.dumps()` for stability?
https://github.com/mozilla/OpenWPM/blob/c2a700448f31882bf75530eca98f536321b622e8/automation/BrowserManager.py#L554

[2020-10-01 14:21] vringar commented on #619
Yes, that seems like a good design

[2020-10-01 16:20] Metropass commented on #619
Cool, I'll have some code done by today. I would assume we would make a `status_object.py` to hold the definition of the object, since we're using it in multiple files?

[2020-10-01 20:10] Metropass commented on #619
@vringar I got the definition of the object, I added, `tb,error,error_class` from your example, and I also added `logger_info` and `error_text` just so you can store it in the Object to cache, rather than calling `self.logger` every time.

I also added the destructor and a function called `clean()` so that the object can be reused, or to flush any unused data.

https://github.com/Metropass/status_

[2020-10-02 11:19] vringar commented on #619
Thank you for following up so quickly on this.
Two questions on `__del__` and on `clean` because I'm currently don't understand why we need them:
- Isn't freeing of resources done automatically by the interpreter?
   [This SO answer](https://stackoverflow.com/a/43669054/7439718)  implies the only use case for `__del__` is if you have external memory or other resources and that it's use is heavily

[2020-10-02 16:29] Metropass commented on #619
You're right, the interpreter does free resources. I completely forgot about that. I'll remove that.

As for the `clean()` I added it just in case if TaskManager ever gets revamped, and there's case where we need to flush the data from the object, we can call `clean()`.

But if it's not necessary, I'll remove that as well.

[2020-10-04 18:31] cyruskarsan commented on #743
@vringar I made an attempt at refactoring `save_screenshot` but when I attempt to push to the branch, git gives me this error:
`remote: Permission to mozilla/OpenWPM.git denied to cyruskarsan.
fatal: unable to access 'https://github.com/mozilla/OpenWPM.git/': The requested URL returned error: 403`

How can I push my changes to the branch?

[2020-10-04 19:42] vringar commented on #743
@cyruskarsan Yes, you don't have push access to this repository, so you'll have to create a Pull Request (PR) instead.
What you'll need to do instead is:
1. Fork this repository to have a private copy of it on GitHub. You can do this by using the fork button in the top right corner of the screen.
2. Add this fork as a remote to your repository. For that you'll need the URL from your repository, so

[2020-10-05 01:17] Metropass commented on #619
@vringar I changed the object to only have `setName` for the Status (case; "OK"), and the attributes that we need. I'll take a look at TaskManager and see how we could pickle the object :)

[2020-10-05 08:37] vringar commented on #619
If you find it useful in your current implementation, I have no objection to it, but otherwise I'd like to see it removed.

I don't think you need to worry about the pickling as the queue pickles objects internally.
You should be able to just put the status object in there and get it out from the other side.

[2020-10-05 08:41] vringar commented on #684
We don't need a dedicated method for this as `type(command).__name__` gives us exactly what we want.

[2020-10-05 22:49] MLJBrackett commented on #651
Hey @birdsarah, I would like to take on this issue, although it will be my first time contributing to an open source project.

To clarify, you want me to look through the code/documentation and find any reference of geckodriver 0.15 and just make it say 0.26?

In addition to this I will also be researching if the limitation is present or not with the newly updated version of geckodriver.

[2020-10-06 02:44] birdsarah commented on #651
GREAT!

Not quite.

Yes!

It's my hunch that we can just change geckodriver 0.15 -> 0.26. But, I would like to make sure that where our documentation mentions that there was a specific limitation that was affecting us that either:
a) that limitation is gone from geckodriver, or
b) that limitation no longer affects OpenWPM because we've changed how OpenWPM works.

PLEASE DON'T HESITATE TO ASK! It w

[2020-10-06 14:16] vringar opened #758 "Remove all TODOs from the docs"
The following things need to be done:
- [ ] Document the navigation instrument
- [ ] Document the callstack instrument
- [ ] Document the DNS instrument
- [ ] Document how `http_redirects` works now

[2020-10-06 14:17] vringar commented on #758
Anybody who wants to work on one of these things can have that broken out into a separate issue. Though I hope that @englehardt and I will just sit down and write these things out in a session.

[2020-10-06 16:02] Prajwal7842 opened #759 "Running install.sh gives ResolvePackageNotFound error in Ubuntu 18.04"
I tried installing the OpenWPM repo on my OS : Ubuntu 18.04. When I run the file ./install.sh, the terminal gave me this error given in the picture
![2020-10-06-1602000034_screenshot_1920x1080](https://user-images.githubusercontent.com/34996624/95227042-40d87980-081b-11eb-8569-159c8968bffc.jpg)

Also I tried installing it in gitpod. I got the same error.

My temporary solution : I removed the vers

[2020-10-06 16:26] joy2306 commented on #758
Hi @vringar  i would like to work on this , although i might need some help from the start as this is my first time working on open source .

[2020-10-06 16:29] Prajwal7842 commented on #674
@englehardt , Hello, I wanted to work on this issue. After going through the repo, does this issue require to remove all the statements like pa.field("instance_id", pa.uint32(), nullable=False) from different fields and responses in parquet_schema.py file ?

[2020-10-06 17:10] vringar commented on #759
This is super weird given that we test against bionic (18.04) on Travis
https://github.com/mozilla/OpenWPM/blob/a811af1c9c1f8efa4b9d2a008c6cbb3e5be6d1e8/.travis.yml#L2
but I have had the same problem before under OpenSuSe (see #742)
Would you mind creating a branch where you run `repin.sh` in the `scripts` folder to update all of our dependencies?
If the test pass on there, I'll merge it and nobod

[2020-10-06 17:21] vringar commented on #758
Hey @joy2306,
thanks for choosing OpenWPM for your first open source contribution.
However I'm afraid that this issue isn't suitable for a beginner.
Do you want to have a look at #679 and tell me if that seems interesting to you?
Please don't worry about being a beginner, the issue I'm suggesting is quite simple in its implementation and I am willing to help you get familiar with the process.

[2020-10-06 17:45] joy2306 commented on #758
Hey @vringar i saw the issue and couldn't interpret it properly as to what its asking , so if you can just help me out it would have been easier

[2020-10-06 17:46] vringar commented on #708
Hey @jyothisjagan, did you have time/capacity to work on this issue or do you need any help from our side?
If you're still working on this, I'll assign you the issue otherwise I'd consider it up for grabs.

[2020-10-06 18:02] vringar commented on #679
@joy2306 does this list make this a little clearer?

[2020-10-06 18:25] vringar commented on #674
Yes, you need to remove it from the parquet_schema but also from [the S3 Aggregator](https://github.com/mozilla/OpenWPM/blob/master/automation/DataAggregator/S3Aggregator.py)

[2020-10-07 03:34] Prajwal7842 commented on #759
okay, I can create a new branch and run repin.sh file. I just wanted to know is there any guidelines that are followed like some naming conventions that should be used to name a branch ?

[2020-10-08 17:32] Metropass opened #761 "Convert BrowserManager's "check_queue" into the Status object"
As I'm working on #619, I've noticed that `result` is also parsed as a Tuple. Since we're transitioning into using a `Status` object, I would assume we need to change this block of code as well.

https://github.com/mozilla/OpenWPM/blob/c2a700448f31882bf75530eca98f536321b622e8/automation/BrowserManager.py#L127-L137

[2020-10-08 17:36] vringar commented on #761
Yes, this would need to be changes as well. Thanks for catching that.
Is there a reason to track this in a separate issue? I'd expect your PR for #619 to fix this as well.

[2020-10-08 18:04] Metropass commented on #761
Wow. You're right, I hadn't thought of that. I'll close this issue, and reflect the changes onto #619.

[2020-10-08 18:04] #761 closed

[2020-10-08 23:49] MLJBrackett commented on #651
Hi @birdsarah please check out my draft pull request for updates on this issue.

[2020-10-09 09:53] vringar commented on #759
Closing this as #760 fixed the problem.

[2020-10-09 09:53] #759 closed

[2020-10-09 16:37] Metropass commented on #619
@vringar So, I'm almost finished with this issue, however I'm kind of confused with Line 131 in `BrowserManager.py`

https://github.com/mozilla/OpenWPM/blob/c2a700448f31882bf75530eca98f536321b622e8/automation/BrowserManager.py#L129-L131

From what I've understood, the tuple's we worked with is of type `Tuple[str,str]`, but I'm unsure what the 3rd element of the tuple is.

[2020-10-12 07:41] vringar commented on #619
Unfortunately I don't know either. My usual approach is writing:
[code]
and just seeing, what results you get.

[2020-10-12 08:22] vringar commented on #665
This feature is not yet available to us, because it's currently only in the alpha branches of the 4.0 version of selenium.
We are currently on version 3.141

[2020-10-12 16:18] jyothisjagan commented on #708
Hi @vringar , sorry for the late response. Can I keep this instance as it is?<https://github.com/mozilla/OpenWPM/blob/6a8bd88b87f3dea93f84ac07017e045859d989e3/automation/DeployBrowsers/selenium_firefox.py#L117-L129>
If we use with, we need to write `BaseService.__init__` multiple times.

[2020-10-14 00:04] vringar commented on #464
Brain dumping into this issue:
WebSockets offer two main benefits
1. We don't need to pull messages out of the buffer one byte at a time
2. WebSockets allow for registering custom data types meaning we can move all information on parsing the data out of band, though the `websockets` python package doesn't seem to support that yet
Additionally by introducing WebSockets everywhere we could get rid o

[2020-10-14 16:06] bkrumnow opened #766 "Support for synchronised crawls"
It looks like support for synchronised crawls was removed in 560c6579a127d1a7d8b47fc5204d93e26cfa2a08 and e47e0eef31170d9b733a652ada1a5c4d3ff8a742.
The example in the [docs](https://github.com/mozilla/OpenWPM/wiki/Platform-Demo#running-a-simple-crawl) proposes using `index='**'` to synchronise crawls, which appears to be not working anymore.

So, I am wondering if it is still supported and how to

[2020-10-15 11:12] vringar commented on #766
I'm sorry for our wiki being terribly out of date we are currently trying to move this into the repository with #716
Can you tell me your use case, so we can work out a setup that works for what you want to do?

[2020-10-15 12:57] vringar commented on #708
@jyothisjagan Sorry for dropping the ball on this.
I think this can't be refactored since the filehandle needs to stay open
So yes, please keep this instance as is.

[2020-10-15 14:38] Yashs911 commented on #745
@vringar I would like to work on this issue.

[2020-10-16 04:06] cyruskarsan commented on #743
@vringar Does `stitch_screenshot_parts(visit_id, browser_id, manager_params)` need to be refactored?
I don't see it in `command_executor.py` nor `types.py`

[2020-10-16 08:54] vringar commented on #743
This method seems to only be called from [`screenshot_full_page`](https://github.com/mozilla/OpenWPM/blob/4f466a552716324d05574707c3a1ed9a992626b1/automation/Commands/browser_commands.py#L388) so I'd suggest making it a method on the `ScreenshotFullPageCommand`.

[2020-10-16 09:46] bkrumnow commented on #766
Thanks for taking this up. My use case is: Run multiple crawlers that visit the same website at the very same moment.

[2020-10-16 10:13] vringar commented on #766
Okay, then I'd suggest you modify `demo.py` by first setting NUM_BROWSERS to however many browsers you want to have an replace
https://github.com/mozilla/OpenWPM/blob/6a8bd88b87f3dea93f84ac07017e045859d989e3/demo.py#L42-L56
with something like

[code]
If this is simultaneous enough for you, we can leave it at that, but we still have a lot of options to explore afterwards.

[2020-10-16 10:14] vringar commented on #766
(This is basically what synchronized crawls looked like under the hood)

[2020-10-16 16:32] bkrumnow commented on #766
Works perfect! Thanks :) 👍

[2020-10-27 08:54] ankushduacodes commented on #745
@vringar Hi, Thank you for your patience on this issue, I will start working on it soon.
I was wondering if it is okay to use Python3.9 with this issue, Is it okay to use new stuff introduced in 3.9.

[2020-10-28 11:01] vringar commented on #745
While I would like to say yes to using Python3.9 features, however I think it's a bit too early to use this version, as conda (our package manager of choice) [is currently using Python3.8](https://docs.conda.io/en/latest/miniconda.html), so I think you shouldn't use these features yet.

[2020-10-28 13:09] #748 closed

[2020-10-28 16:27] ankushduacodes commented on #745
Okay @vringar got it, I was also wondering that are we just removing wherever there are variables named "random_attributes", "browser_settings", "browser_params", "ua_string" and "screen_res"? or are we modifying the use of them?

And also Can you please point me to the file which is the entry to the whole program? (looking for the main function here)

[2020-10-29 18:20] vringar opened #773 "Disable the old wiki"
@englehardt as I'm only a maintainer and not an admin on this repository I can't simply disable the wiki.
You however should be able to do so.

[2020-10-29 18:40] englehardt commented on #773
Done!

[2020-10-29 18:40] #773 closed, assigned to englehardt

[2020-10-29 19:12] vringar commented on #745
Hey,
We want to remove all pieces of code, that use `"random_attributes"`, `"ua_string"` and `screen_res"`, the `browser_params` as a whole will stay.
We have a `demo.py` for demonstrating the usage of OpenWPM.
Since we only provide a plattform there isn't a main function per se, but I think
https://github.com/mozilla/OpenWPM/blob/e989ce5f74c1737185c89a33bde4015b55df066a/automation/TaskManager.py#

[2020-10-29 19:59] vringar commented on #743
Copying @cyruskarsan's question from #770 here so it doesn't get lost:

-  DumpProfCommand exists [here](https://github.com/mozilla/OpenWPM/blob/master/automation/Commands/profile_commands.py#L37) and can be turned into a command there
- We want to get rid of `RunCustomFunctionCommand` and instead create an `appendCommand` method on `CommandSequence`so that users can more easily write Commands on

[2020-10-29 20:10] #684 closed

[2020-10-29 20:16] vringar commented on #743
@cyruskarsan I've just added `append_command` myself. So consider running `git pull origin CommandRefactoring` before continuing your work.
Once you have removed `RunCustomFunctionCommand` some tests will need updating. Do you want to do that or do you want leave that to me?

[2020-10-31 16:13] cyruskarsan commented on #743
@vringar I've never created pytests before but I would be interested in learning.

I removed the `RunCustomFunctionCommand` from the code and noticed that `append_command` is not in `Command_Sequence.py`. Does it need to be there like the other commands or no?

[2020-10-31 16:13] ankushduacodes commented on #745
@vringar is there a way to run all the tests at once or do I have to run all the tests manually

(PS: I am sorry if this seems to be a stupid question, as this is my first time contributing to a big project like this)

[2020-10-31 16:21] vringar commented on #745
@ankushduacodes don't worry about asking questions! I'm happy to help.
To run the tests you first need to:
- Have the conda environment activated
- Change into the `test` directory
- Run `EDGE_PORT=9999 pytest -vv`

Please note that our tests are quite slow, on my machine it can take up to 45 min, so it's completely reasonable to push and see if CI passes since the tests are parallelized on there

[2020-10-31 16:23] vringar commented on #743
@cyruskarsan Did you run `git pull origin CommandRefactoring`?
Then you should hopefully see `append_command`

[2020-10-31 16:30] ankushduacodes commented on #745
@vringar I have been running the tests on my local machine and so far one of the tests have failed which is `test_crawl.py::TestCrawl::test_browser_profile_coverage XFAIL`
Any insight?

[2020-10-31 16:34] vringar commented on #745
`XFAIL` means that the test is expected to fail so you don't have to worry about it.
There was a lot of functionality we used to support, but now don't anymore. We kept the tests around and hope to restore it someday

[2020-10-31 17:39] ankushduacodes commented on #745
@vringar I had just made a pull request to run tests on CI as per your recommendation... Multiple tests have failed, Could you please have a look at what's going on.

[2020-10-31 17:53] vringar commented on #745
Our CI configuration also enforces that the code is formatted uniformly.
I'd suggest that you run
`pre-commit install` and then `pre-commit run --all-files`

[2020-10-31 17:54] cyruskarsan commented on #743
@vringar You are right, it was there. I just didn't see it :)

[2020-10-31 18:56] ankushduacodes commented on #745
@vringar All the tests have passed, Please review the pull request #775

[2020-11-01 20:47] ankushduacodes commented on #745
@vringar Do you have any more beginner-friendly issues that I can work on, not just in OpenWPM, any projects that you are looking over? I would love to work on them

[2020-11-02 12:06] vringar commented on #745
@ankushduacodes Thank you for expressing interest in further working with me. I currently spend most of my time working on OpenWPM, so most issues I can offer you will be here.
I don't have something I could immediately assign you once your PR is done, but I'm planning on landing a rather big change (#753) soon. Once that PR has landed there will be a lot of new tests and documentation to be writt

[2020-11-02 13:01] vringar commented on #619
Hey,
I'm sorry to say this but I completely underestimated the complexity in this change and don't the approach I originally suggested can work.
I apologize for wasting your time and am hopeful that the second approach will work much better.
My initial observation looked only at the "NETERROR", "FAILED" and "CRITCAL" and "OKAY" assumed that they could be all modelled in one class. However looking

[2020-11-02 14:53] ankushduacodes commented on #745
I would love to take part in more issues related to OpenWPM. Please ping me whenever there is something I can help with.
I will also keep an eye for issues that I can help with.
Thank you

[2020-11-02 16:51] vringar opened #777 "TravisCI should run the test even if formatting is run"

[2020-11-04 15:04] ankushduacodes opened #778 "OpenWPM Watchdog Error"
When ever I try to run demo.py, openwpm-watchdog gives the following error:
[code]

Operating System - MacOS 10.15.7

[2020-11-04 16:19] vringar commented on #778
@ankushduacodes Do you want to stab at fixing this?

[2020-11-04 16:20] vringar commented on #749
Maybe we should wait with this until #778 is done.

[2020-11-04 16:46] vringar commented on #679
@ankushduacodes Is this something you'd be interested in working on?

[2020-11-04 18:01] ankushduacodes commented on #679
@vringar For sure!... Do you have any pointer for me to look for?

[2020-11-04 18:04] ankushduacodes commented on #778
@vringar yes!... Thank you for mentioning me here, Can you please give me some head start as to what to look for in this issue?

[2020-11-04 18:17] #745 closed

[2020-11-04 18:52] vringar commented on #778
Sure, I'll give you some basics now and if you have further questions I can answer them tomorrow (aka in 15h).
So in OpenWPM we have a so called watchdog in reference to [watchdog timers](https://en.wikipedia.org/wiki/Watchdog_timer) that tries to ensure two things.
1. That we don't forget to kill any GeckoDriver (or Xvfb) instances (GeckoDriver is used by Selenium to control Firefox and Xvfb a "v

[2020-11-04 18:53] vringar commented on #679
I'd suggest you first fix the watchdog before having a look at this. However can you tell me what is unclear to you after reading the issues description?

[2020-11-05 15:54] ankushduacodes commented on #778
@vringar I have will be busy for the next couple of days as I have a college project to complete. I will start looking into this issue after I am done with my project and will ask further questions. I hope it's fine with you.

[2020-11-05 15:59] englehardt commented on #778
I agree. Specifically for long-running stateful crawls.

[2020-11-05 18:47] Metropass commented on #619
Yeah, I'd love to do that! Thank you so much 😄

[2020-11-06 01:00] vringar commented on #778
@ankushduacodes Please take all the time you need! I really appreciate you wanting to work on this at all and there is no rush to get this completed.

[2020-11-06 14:16] vringar opened #779 "Rename things to follow PEP-8"
We want to follow [PEP8](https://www.python.org/dev/peps/pep-0008/#naming-conventions)
This means modules should use snake_case which they currently don't.

[2020-11-06 14:26] vringar opened #780 "Write new tutorial on CommandRefactoring"
Once #750 has landed, the documentation on how to write your custom command should be rewritten.

[2020-11-06 14:40] englehardt commented on #99
We don't have commands that close the browser tabs anymore, and this hasn't been reported again. Closing.

[2020-11-06 14:40] #99 closed

[2020-11-06 14:55] englehardt commented on #66
[code]

Have the openwpm startup function check this version file and compare the version number to the number via geckodriver. This is possible to check as we're deploying the browser. After we initialize the driver (https://github.com/mozilla/OpenWPM/blob/93ddf80c185de5f4298a2870eb04b05a0bc522e8/automation/DeployBrowsers/deploy_firefox.py#L175-L180) we can query its capabilities. If the versions

[2020-11-06 15:06] vringar opened #781 "Test robustness of the platform"
We expect a bunch of exceptions to bubble through the platform, but we don't have tests to ensure this actually works.
The ToDo: Throw a bunch of exceptions in a bunch of places and see how the platform handles it.

[2020-11-06 15:17] englehardt commented on #209
Closing as low priority. We think there are better ways to improve the speed of the test suite.

[2020-11-06 15:17] #209 closed

[2020-11-06 15:17] englehardt commented on #230
We're doing this work in #561

[2020-11-06 15:17] #230 closed

[2020-11-06 15:19] vringar commented on #561
#232 should also be addressed  by this issue.

[2020-11-06 15:26] englehardt commented on #290
Anecdotally, we don't see any spurious requests in the tests or in our crawls. Closing until we have evidence this is an issue.

[2020-11-06 15:26] #290 closed

[2020-11-06 15:34] #343 closed

[2020-11-06 15:36] englehardt commented on #347
We've decided against doing this. We'd like to move instrumentation into Firefox, and this will require too much effort for the JS instrumentation with no certain benefit.

[2020-11-06 15:36] #347 closed

[2020-11-06 15:37] englehardt commented on #349
This will have limited use. Likely better for folks to implement this if they need it.

[2020-11-06 15:37] #349 closed

[2020-11-06 15:40] englehardt commented on #351
If folks find a need for this in the future, they can file an issue/PR. No need for us to track in the interim.

[2020-11-06 15:40] #351 closed

[2020-11-06 15:42] englehardt commented on #379
The cookie instrument is more detailed. I don't think is necessary.

[2020-11-06 15:42] #379 closed

[2020-11-06 15:44] englehardt commented on #380
This is a direction we aren't planning to take for now.

[2020-11-06 15:44] #380 closed

[2020-11-06 15:47] englehardt commented on #381
It looks like we'll need to do this manually for now as part of the release process.

[2020-11-06 15:47] #381 closed

[2020-11-06 15:49] englehardt commented on #393
We are taking a manual approach to culling issues and it's working well.

[2020-11-06 15:49] #393 closed

[2020-11-06 15:53] englehardt commented on #446
OpenWPM should support any model of stateful crawling the user wants once we have stateful crawling enabled again (via profile loading and saving). If there's a specific model that isn't supported please file a new issue for that.

[2020-11-06 15:53] #446 closed

[2020-11-06 15:56] englehardt commented on #465
Out of scope for now. We don't have the resources to do it, and are already tied into FF-specific APIs.

[2020-11-06 15:56] #465 closed

[2020-11-06 16:00] englehardt commented on #470
There may be some simplification possible here, but closing until we specific recommendations that we can discuss.

[2020-11-06 16:00] #470 closed

[2020-11-09 09:20] ankushduacodes commented on #778
@vringar I have read through the provided resources, I have a few questions regarding the issue:
1. Higher level privileges are required to run memory_full_info(), Do you want me to write a check to see what platform the crawl is running on? if crawl if running on mac os then we set the memory_watchdog param to false else we keep it true.?. I know you are suggesting that memory_watchdog param be f

[2020-11-09 11:44] vringar commented on #778
Welcome back, I hope your project went well.
1. I don't think the memory watchdog should run by default since it doesn't add any meaningful value when not running in a cloud environment
2. Yes :)
3. Sorry for being imprecise, I mostly meant figuring out how `self.process_watchdog` gets set.
4. Thanks for pointing this out. I forgot that `process_watchdog` isn't in `manager_params`.
I think `proces

[2020-11-09 12:19] vringar opened #782 "Rethinking our test strategy"
To understand where we want to go we need to accurately describe the current situation of our tests.
What we have:
- A lot of integration tests that enable different instruments and then assert that the database contains the elements that we expect to be there
- A web server that gets automatically started when the tests begin running
- The extension being built automatically every time the tests

[2020-11-09 14:39] englehardt commented on #482
Closing because of this bug's age. If you're still having issues feel free to file a new one. Sorry we never got back to you!

[2020-11-09 14:39] #482 closed

[2020-11-09 14:41] englehardt commented on #487
Closing because of the age of this. Feel free to file a new issue if you're still having issues. Sorry we never followed up!

[2020-11-09 14:41] #487 closed

[2020-11-09 14:53] englehardt commented on #505
In the new command model, it will be easier for users to implement this themselves. But it would to have different built-in strategies.

[2020-11-09 15:13] englehardt commented on #557
We still aren't sure why this is required. For now, we're going to force both instruments to be enabled when the callstack instrument is enabled. We can do this when we validate the browser params config (see #495).

[2020-11-09 15:19] englehardt commented on #569
This is something that should be tracked in another repo. We aren't going to track crawl requests here.

[2020-11-09 15:19] #569 closed

[2020-11-09 15:26] englehardt commented on #594
Closing for now. We can file a new issue if we see this again.

[2020-11-09 15:26] #594 closed

[2020-11-09 15:29] vringar commented on #597
https://github.com/mozilla/OpenWPM/blob/master/automation/DeployBrowsers/configure_firefox.py#L150
The fix is deployed but we need tests for it.

[2020-11-09 15:32] englehardt commented on #598
This fix has already landed. Follow ups happening in #778 and #749

[2020-11-09 15:32] #598 closed

[2020-11-10 09:57] Pr11t-cmd opened #783 "OpenWPM doesn't work with WSL2"
[code]

[2020-11-10 10:46] vringar commented on #783
Hey @Pr11t-cmd,
the logs on their own aren't enough to debug the problem. Could you please describe how you tried to run OpenWPM.
The relevant questions are:
- Which Platform are you using (Native, Docker) and if you are trying to run OpenWPM natively which OS do you have
- Did you try to run `demo.py` or do you have a custom script, if so please share this script

[2020-11-10 10:55] Pr11t-cmd commented on #783
I'm running OpenWPM on Windows Subsystem for Linux v2 on Windows 10.

[code]

Running `demo.py` with headless mode enabled for all the browsers.

[2020-11-10 11:00] vringar commented on #783
Could you post the full log output, that you see, maybe the error is further up
Consider using the details tag
[code]

[2020-11-10 11:11] vringar commented on #660
Hey @agogodavid,
sorry for following up on this after such a long time.
Did you end up writing that blogpost and if so would you care to share it?
My takeaway from this issue is that our setup scripts are incomplete and we need to expand them and that our documentation needs to improve.

[2020-11-10 11:31] Pr11t-cmd commented on #783
./install.sh > installlog

<details>
  <summary>OpenWPM logs</summary>
Creating / Overwriting openwpm conda environment.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Activating environment.
Installing firefox.
Insta

[2020-11-10 11:57] ankushduacodes commented on #783
@vringar @Pr11t-cmd I also have windows sideloaded on my mac and when I tried to run the script in wsl2 Ubuntu 20.04LTS
It gave me same error, Although this wasn’t the case when I ran it in proper Ubuntu virtual machine

[2020-11-10 11:58] vringar commented on #783
Thanks for the input/confirmation.
Can either of you have a look at your Desktop and check if there is an `openwpm.log file there` and post it's contents here.

[2020-11-10 12:14] Pr11t-cmd commented on #783
[openwpm.log](https://github.com/mozilla/OpenWPM/files/5517140/openwpm.log)

Included the .log file

[2020-11-10 12:21] ankushduacodes commented on #778
@vringar Is there a reason why docs/<filename>.md did not get forked?

[2020-11-10 12:24] vringar commented on #783
Hmm, it looks like Firefox build for Linux just can't start under Windows. However @birdsarah claimed in #657 that she got WSL working.
Can you try to run `firefox-bin/firefox --headless` and see what it outputs.

[2020-11-10 12:31] Pr11t-cmd commented on #783
*** You are running in headless mode

[2020-11-10 12:34] ankushduacodes commented on #783
I see that #657 was before wsl2 was launched. wsl2 was a substantial change outlined [here](https://docs.microsoft.com/en-us/windows/wsl/compare-versions)
This could issue only experienced in wsl2

[2020-11-10 12:41] vringar commented on #778
Maybe your master branch is outdated. The .md files only landed there relatively recently. My suggestion would be to get your master branch up to date and then rebase your fix_mem_watchdog branch onto the new master.

[2020-11-10 12:42] vringar commented on #783
Hmm, I was hoping it would crash and give us something more to work with.
What happens if you try to run it in non-headless mode.

[2020-11-10 12:43] ankushduacodes commented on #778
I had rebased forked master branch with OpenWPM master branch before working on this issue

[2020-11-10 13:04] ankushduacodes commented on #778
@vringar Do you want me to add this as h2 tag under TaskManager in docs/Platform-Architecture.md?

[2020-11-10 13:10] vringar commented on #778
I moved the wiki into the repo in https://github.com/mozilla/OpenWPM/commit/e989ce5f74c1737185c89a33bde4015b55df066a so maybe check if that commit appears in your git log

[2020-11-10 13:10] Pr11t-cmd commented on #783
display mode native and same error!

[2020-11-10 13:12] ankushduacodes commented on #778
@vringar This is available now sorry for any confusion

[2020-11-10 13:32] vringar commented on #783
Oh, I just noticed something. `browser_params[i]['headless'] = True` is no longer how you make Firefox run headless.
The correct setting is `browser_params[i]['display_mode'] = "headless"

[2020-11-10 14:16] vringar commented on #749
We should also move process_watchdog to the manager_params.

[2020-11-10 14:46] ankushduacodes commented on #749
@vringar May I take this one as well?

[2020-11-10 14:53] #778 closed

[2020-11-10 14:54] vringar commented on #749
Go ahead :)

[2020-11-10 15:03] vringar commented on #495
#783 also could have been avoided if we validated the dict to only contain valid keys.

[2020-11-10 15:04] vringar commented on #783
@Pr11t-cmd did this fix the issue?

[2020-11-10 15:15] Pr11t-cmd commented on #783
Will try tomorrow

[2020-11-11 07:59] vringar opened #786 "Update release run book to include docker-compose crawl"
Once https://github.com/mozilla/openwpm-crawler/issues/50 has been completed we should update our run book to include this additional check to ensure that we haven't accidentally broken our cloud crawling capability.

[2020-11-11 08:53] Pr11t-cmd commented on #783
It seems, that it fixed the issue. Big thanks.

[2020-11-11 10:01] vringar commented on #783
You're welcome! Please let us know if you have any further issues.

[2020-11-11 10:01] #783 closed

[2020-11-11 10:02] vringar commented on #495
#584 should be addressed as part of this issue

[2020-11-11 11:13] ankushduacodes commented on #749
@vringar Do you want process watchdog to be active by default?

[2020-11-11 12:10] vringar commented on #749
No, I think you got the default right.

This comment is outdated and should be removed.

[2020-11-11 12:33] vringar commented on #584
Closing in favor of using dataclasses in #495

[2020-11-11 12:33] #584 closed

[2020-11-11 12:38] vringar commented on #505
I don't think that we can provide much in the way of a generic spidering strategy since this will heavily depend on the use-case. I would instead suggest putting my gclid crawling code up as a tutorial (either in the docs or on my website) and link to that.
This way we show people how to do what they want and slim down our code base.

[2020-11-11 12:39] vringar commented on #527
Someone should try to write a test page that either times out or tries to disrupt our data collection in some other way.
Once we have a test case we can investigate further.

[2020-11-11 13:55] vringar commented on #529
Coming back to this I have a couple of thoughts:
Our target audience aren't developers/software engineers but researchers, this means the barriers both to modifying existing code and adding new code should be as low as possible.
To achieve this result I think having the Instruments be written in TypeScript is valuable, since it allows people looking at the code and know what to expect without havi

[2020-11-11 14:42] vringar commented on #101
The basic way to reenable tracking protection is to have a `browser_params["tp_cookies"].lower() == "etp"` check in here
https://github.com/mozilla/OpenWPM/blob/65337e0c19dc857f63bbca1b3aa3773a2c49fd42/automation/DeployBrowsers/configure_firefox.py#L17-L23
and set `cookie_behaviour` to 5 if that's the case.
The only other modification required is to wrap this code block in an if to check the same

[2020-11-11 15:43] vringar opened #788 "Should we use structlog?"
[Structlog](https://www.structlog.org/en/stable/why.html) is a structured logging provider. This means instead of taking a string and formatting it to a log message as soon as it enters the system the message and the data are kept separate for as long as possible making it easy to programmatically processing it.
It also allows for [data bindings](https://www.structlog.org/en/stable/why.html#data-b

[2020-11-11 16:17] vringar commented on #788
One we have this set up we could also think about removing all logging code and just writing to stdout as JSON.
This way the GCP Cloud Logging solution would pick up all of our logs and allow us to search through them with a query builder

[2020-11-11 21:07] englehardt opened #789 "Expand profile loading, saving, and recovery tests"
We have relatively limited profile [test coverage](https://github.com/mozilla/OpenWPM/blob/master/test/test_profile.py). Once the tests are re-enabled (#383), we should define how we expect the `seed_tar` and `profile_tar` profiles to be handled for both stateful and stateless crawls and ensure our tests cover all conditions.

[2020-11-12 11:35] Scrashdown opened #790 "Loading a profile in a stateless crawl doesn't seem to work"
Hello,

I am trying to run a stateless crawl with a seed profile that I created myself, following the [instructions](https://github.com/mozilla/OpenWPM/blob/master/docs/Configuration.md#load-a-profile). When running the crawl, OpenWPM reports it did get an input profile tar file and is loading it:

[code]

[code]

But looking at the browser windows, it seems the profile was not loaded correctly. I

[2020-11-12 12:08] ankushduacodes commented on #679
@vringar I am gonna start working on this one now.

[2020-11-12 14:35] ankushduacodes commented on #679
@vringar I added a new column named duration to both [SQL](https://github.com/mozilla/OpenWPM/blob/a811af1c9c1f8efa4b9d2a008c6cbb3e5be6d1e8/automation/DataAggregator/schema.sql#L41) and [Parquet schema](https://github.com/mozilla/OpenWPM/blob/a811af1c9c1f8efa4b9d2a008c6cbb3e5be6d1e8/automation/DataAggregator/parquet_schema.py#L26)
and I have also added the time.time() lines in accordance with issu

[2020-11-12 14:41] vringar commented on #790
Thank you for this well written and thorough bug report. I'm sorry that the tool isn't working as expected.
Would you have a problem with attaching the profile.tar so I could debug this tomorrow?

[2020-11-12 14:42] vringar commented on #679
You need to delete the existing database for the table to be rewritten. So consider deleting or moving the database on your Desktop. Then everything should work.

[2020-11-12 15:17] ankushduacodes commented on #679
@vringar Shouldn't the new duration column be of type `float` instead of `int`?

[2020-11-12 17:24] vringar commented on #679
I think casting these `float`s to `int`s is acceptable since dealing with `int` values is a lot nicer when having to do data analysis.
Maybe use [time_ns](https://docs.python.org/3/library/time.html#time.time_ns) and then save the result in milliseconds.

[2020-11-12 18:48] ankushduacodes commented on #673
@vringar @birdsarah I would love to work on this issue. Please let me know if I may...

[2020-11-12 18:49] ankushduacodes commented on #685
@vringar May I work on this?

[2020-11-12 20:44] birdsarah commented on #783
@vringar - can we change the title of this issue - so others searching find the correct cause rather than having to wade through wsl2 issues.

[2020-11-12 20:44] birdsarah commented on #783
i can do it, but just so i understand it right, it was `browser_params[i]['display_mode'] = "headless"`. I thought we'd had that setup like that for a while, so I'm confused.

[2020-11-12 21:10] vringar commented on #783
Yeah, I was surprised as well. Maybe I need to have another look through the docs to see if we have the old setting mentioned somewhere

[2020-11-12 21:31] Scrashdown commented on #790
No worries, thank you for your reply. And no problem, you can download it here: https://drive.switch.ch/index.php/s/gf1F4uZqPWjkMJz

[2020-11-12 21:42] ankushduacodes commented on #783
@vringar I should mention here that when I try to run demo.py with changing anything in wsl2, it still gives me the same error mentioned in the issue description.
Next time I login to windows, I will post the log file here

[2020-11-13 11:06] vringar commented on #685
Go for it!

[2020-11-13 11:40] ankushduacodes commented on #679
@vringar I have made a pull request regarding this, Please let me know if any changes are required....

[2020-11-13 14:43] vringar commented on #673
I think we need to close this issue, as our current design makes it impossible to reliably capture the `browser_id` (which was previously called `crawl_id`. I think we can capture the `task_id` but I don't know if that is useful. It would help differentiate different crawl. Perhaps we should flip this issue on it's head and talk about removing `browser_id` from everything but `site_visits`

[2020-11-13 14:58] #749 closed

[2020-11-13 15:39] vringar commented on #673
Thanks for trying to find issues at your own but I don't think that the `Road to 1.0` is a good source of issues to work on right now.
Instead please have a look at [which issues we consider to be high-priority](https://github.com/mozilla/OpenWPM/labels/high-priority).

[2020-11-13 19:26] Metropass commented on #619
@vringar Apologies for the wait, I've been ill the past week, I should have my code done by Sunday, and I just wanted to let you know :)

[2020-11-14 15:06] #685 closed

[2020-11-16 12:22] vringar opened #795 "Remove our custom interface types and replace them with the @types/firefox-webext-browser ones"
Since the official types now have a lot more type definitions we can get rid of our own WebRequestOnBeforeSendHeadersEventDetails. This way we no longer need to maintain them manually.
We should also check which other types we can just use from the library

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/e06e65d28fa1e3376fffc9ae08f85a74053518d3/types/firefox-webext-browser/index.d.ts#L4803

[2020-11-16 13:38] vringar commented on #619
No worries! Hope you're feeling better now. Please be aware that I just merged a big PR that moved everything from `automation` to `openwpm`. So be prepared to adjust your code for that.
Sorry for the inconvenience, but it had to be done.

[2020-11-16 14:43] ankushduacodes commented on #495
@vringar Is it okay if I work on this?

[2020-11-16 14:57] vringar commented on #495
Absolutely :)

[2020-11-16 15:07] ankushduacodes commented on #495
@vringar I have not worked with dataclasses before, If I need any help I will let you know

[2020-11-16 16:58] vringar opened #796 "Write tutorials on tasks a user might want to do"
We want to make it easy for users to customize OpenWPM to their needs, so we should provide guidance on how to do it most effectively.
All of these tutorials should be under `docs/tutorials`
- [ ] Write a tutorial on how to create a new command
- [ ] Write a tutorial on how to create a WebExtension instrument in JS
- [ ] Write a tutorial on how to create a WebExtension instrument in TS

[2020-11-16 16:59] vringar opened #797 "Move Contributing.md into the top level directory"
It's currently in the docs folder preventing any integration with GitHub

[2020-11-17 21:55] birdsarah commented on #597
Should be relatively straight forward to make the tests based on the code that's up at http://www.sarahbird.org/tests/sourceURL/ and toggling the pref on and off.

[2020-11-18 07:35] ankushduacodes opened #800 "Unnecessary List Unpacking"
In the code snippet: https://github.com/mozilla/OpenWPM/blob/512018f852a2b554b5b08a72936f835adf6b7110/test/test_webdriver_utils.py#L29-L33
List unpacking is very unnecessary here, I am not sure why `_` is used here, and what the use of it is.

Explanation:
Now, when I tried to debug what the `SELECT` query is returning is a list of two tuples, Now, to my understanding  one is the tuples is for `<c

[2020-11-18 07:38] LordReigns commented on #795
I am a first time contributor. can you elaborate more on this issue?

[2020-11-18 08:33] vringar commented on #800
I'd prefer option 2 over 1. Thanks for pointing this out.
Please also remove the double quotes in the middle of the query string.

[2020-11-18 08:37] ankushduacodes commented on #800
@vringar We could also potentially use `WHERE` clause here as well as pointed out by you [here](https://github.com/mozilla/OpenWPM/pull/799#discussion_r525895829)

[2020-11-18 09:15] vringar commented on #795
Hey @LordReigns
Do you have any previous experience with TypeScript?  If you don't I'd suggest you look at our other `good-first-bug`s

As an overview, we currently define a lot of types for the WebExtension API ourselves, which is a lot of maintenance effort that we don't need to have.
An example would be this:
https://github.com/mozilla/OpenWPM/blob/512018f852a2b554b5b08a72936f835adf6b7110/openw

[2020-11-18 09:29] vringar commented on #597
Would you mind us copying that page into our test pages, since we have set the explicit goal of being able to run the tests without an internet connection.

[2020-11-18 09:31] LordReigns commented on #795
Thank you @vringar for the response. Since my experience with typescript is low I'll be looking for another good-first-bug. If you don't mind could you recommend one that would suit a first time contributor.

Thank You. 😊

[2020-11-18 14:06] vringar commented on #795
Maybe have a look at #797

[2020-11-18 14:13] ankushduacodes commented on #795
If #800 looks interesting to @LordReigns, he can also take over that.

What is your opinion? @vringar

[2020-11-18 14:15] #679 closed

[2020-11-18 14:16] vringar commented on #795
After #797 #800 may be a good next step. But #797 is a high-impact and easy to do change, so I'd prioritize that.

[2020-11-18 14:32] LordReigns commented on #795
Thank you @vringar . I'll start working on the issue #797
I'm interested to work on issue #800 too, after finishing #797. @ankushduacodes . Your guidance would be very much appreciated.

Thank you all for your time 😊

[2020-11-18 14:33] LordReigns commented on #797
I would like to work on this issue

[2020-11-18 14:39] vringar commented on #797
Go right ahead :)

[2020-11-18 15:02] LordReigns commented on #797
I have opened a pull request. @vringar Let me know if there are any changes to be made.

[2020-11-18 15:05] #797 closed

[2020-11-18 15:10] LordReigns commented on #800
I would like to work on this issue. @ankushduacodes .

[2020-11-18 15:43] ankushduacodes commented on #800
@LordReigns Have to set up the development environment? If not please do so using [this guide](https://github.com/mozilla/OpenWPM/blob/master/README.md#installation), You should also set up pre-commit configurations using [this guide](https://github.com/mozilla/OpenWPM/blob/master/CONTRIBUTING.md#setting-up-a-dev-enviroment)

Then run demo.py and take a look at the SQLite database file that will b

[2020-11-18 15:46] ankushduacodes commented on #800
@vringar just to make sure I am not forgetting anything [here](https://github.com/mozilla/OpenWPM/issues/800#issuecomment-729765046), Would you like to add something?

And just making sure, You do want the `WHERE` clause to be used here as well right?

[2020-11-18 15:49] vringar commented on #800
No this looks good to me :)

Yes

You can use `python -m pytest -vv -s -k test_parse_neterror_integration` from the test folder to run the test from the command line.

[2020-11-18 16:01] LordReigns commented on #800
Thank you. I will try my best to figure out how to combine all these information. I have setup the environment. As recommended I will use pycharm since it would make things easier.  I will let you know about any difficulties.

Thank you for your support @vringar @ankushduacodes ❤

[2020-11-18 17:46] vringar opened #802 "Remove npm-run-all from the webext-instrumentation package.json"
The package is unmaintained and breaks with Node v15 (which we'll skip but still)

[2020-11-19 01:50] LordReigns commented on #800
Is this is expected fix @ankushduacodes  ,

get_command = db_utils.query_db(
     manager_params["db"],
     "SELECT command_status, error FROM crawl_history WHERE command = \"<class 'OpenWPM.openwpm.Commands.Types.GetCommand'>\" ",
     as_tuple=True,
 )

[2020-11-19 02:14] ankushduacodes commented on #800
@LordReigns Yes, you are definitely on the right path, try to print debug and see what is being returned into `get_command` variable when you run the test. And then use indices appropriately

You also will have to escape the double quotes here:
`"SELECT command_status, error FROM crawl_history WHERE command = \"<class 'OpenWPM.openwpm.Commands.Types.GetCommand'>\" "`

This is because in the databa

[2020-11-19 02:22] LordReigns commented on #800
This how the final code looks like,
[code]
It passed both the test cases. Hope this is okay.
@ankushduacodes

[2020-11-19 02:30] ankushduacodes commented on #800
@LordReigns Looks great to me! I would suggest 1 more step before making pull request to run pre-commit install and then pre-commit run --all-files to make sure matches the OpenWPM code organisation convention

[2020-11-19 02:42] LordReigns commented on #800
I ran the pre-commit commands and opened a pull request. @ankushduacodes

[2020-11-19 14:14] #800 closed

[2020-11-19 14:16] #708 closed

[2020-11-19 16:15] birdsarah commented on #597
I'm just saying, woever picks up this issue to implement is free to copy-paste the code from my test page.

[2020-11-19 16:16] vringar opened #805 "Rethink test distribution across travis instances"
Our current test distribution strategy is to group the tests by name:
https://github.com/mozilla/OpenWPM/blob/01f399328582041436eeb40844b0a4687a1d0561/.travis.yml#L3-L14

However this leads to an uneven distribution of tests across the runners resulting in our CI taking longer to show the final results as it is waiting for one runner to finish up.

My suggestion:
Run all the tests locally with `--

[2020-11-20 01:15] LordReigns commented on #795
@vringar. I like to to work on this issue.  As you explained delete all of our type definitions that exist in a more complete form in @types/firefox-webext-browser. Should the deleted ones be replaced?

Here is how I understood the task,

[code]
For example: since this ` interface WebRequestOnBeforeRequestEventDetails ` exists in @types/firefox-webext-browser as above, I should delete the existing

[2020-11-20 10:50] ankushduacodes commented on #495
@vringar I am gonna start working on this one now.
I just need to know few things:
1. Do you want me to combine both dataclasses into one file or seperate files?
2. Which directory you want me to keep the file/files in?
3. Are there any browser or manager params other than default one that I should be aware of?

[2020-11-20 13:42] FukurouMakoto commented on #779
I would like to handle this if possible.
Just to make sure, the entire project would need to be edited to follow PEP8 correct?

[2020-11-21 02:02] LordReigns commented on #795
@vringar. I need some help on how to include the @types/firefox-webext-browser. I see that it is included in the tsconfig.json. I am having trouble in how to import/ get them in to the browser-web-request-event-details.ts file. Could you explain the procedure I should follow.

[2020-11-21 06:06] LordReigns commented on #795
**Clarification**

The replacement for the interface `WebRequestOnBeforeRequestEventDetails ` is `browser.webRequest.onBeforeRequest.` How should I technically add this type. Do you mean that all the files where the previous interface was implemented should be replaced with the above or else only add it to the types ( If so could u explain the procedure).

Thank you

[2020-11-21 22:27] vringar commented on #779
Yes. However I mostly meant this for global symbols, so not local variables but anything that can be imported.
In particular these are module and class names as well as free functions.

[2020-11-22 02:13] FukurouMakoto commented on #779
Okay just to make sure:

- module names
- class names
- free functions

local variables can be ignored.

That sound about right?

[2020-11-22 10:55] vringar commented on #495
1. I'd put them in one file and call that `config.py`
2. The file should be in the `openwpm` directory
3. No, I don't think there are any you need to be aware of

[2020-11-22 11:00] vringar commented on #790
Sorry for falling behind on this.
A couple of things unexpectedly showed up and kept me busy. I'm hoping to get back to this next Wednesday.

[2020-11-22 16:49] FukurouMakoto commented on #779
Also just to make sure are there any tests that I should run specifically to ensure that I haven't completely broken the system by renaming the modules?

[2020-11-22 17:20] vringar commented on #779
The fastest way to do a sanity check is to run `python demo.py` and see if any exceptions pop up.

[2020-11-22 17:20] vringar commented on #779
Otherwise just create a PR and see if the CI starts complaining

[2020-11-23 08:41] ankushduacodes commented on #495
@vringar As mentioned in the issue description, that we should use [dataclasss-json](https://github.com/lidatong/dataclasses-json) but I am not sure why we need to use this library, Could you please explain what I am missing here?

[2020-11-23 11:57] ankushduacodes commented on #495
@vringar  1. We do want to set the default values for browser and manager params right?

if so, Then there is an issue with setting default value of `js_instrument_settings`.
As you can see here:
https://github.com/mozilla/OpenWPM/blob/d74dcf75d777a5487676c496abd0baa0a0c76ea3/openwpm/default_browser_params.json#L5
default value for `js_instrument_settings` is a list(which is of mutable type), now

[2020-11-23 13:27] vringar commented on #495
We currently allow for people to just provide their own JSON and use that instead of the `default_manager_params.json`, so that functionality should remain.

[2020-11-23 13:43] vringar commented on #495
Yes.

Thanks for finding this issue and doing the research on it.
Can you try doing something like:
[code]

Some of those can be found [here](https://github.com/mozilla/OpenWPM/blob/master/docs/Configuration.md#browser-configuration-options). If you find any field insufficiently documented please ask and then add the response to the documentation.

They represent paths, so we could try and see if

[2020-11-23 14:14] ankushduacodes commented on #495
This works!... Thank you

[2020-11-23 15:25] ankushduacodes commented on #495
@vringar Could you please explain what does @englehardt means by this line from the issue description?

[2020-11-24 10:56] ankushduacodes commented on #495
@vringar I wondering if we could discuss the flow of
1. When and where dataclasses will be instantiated
2. When and where are validations are being applied
3. What happens to the dataclasses if user provides its own browser and manager params
4. Where are do we need to convert dataclasses into its json counterparts
5. I see that currently default browser and manager params are being loaded with th

[2020-11-24 13:24] vringar commented on #495
I edited his comment and this line is from me.
I thought of something like
[code]

[2020-11-24 13:27] ankushduacodes commented on #495
But what are run configs and why do we need them?

[2020-11-24 14:01] vringar commented on #495
1. When and where dataclasses will be instantiated?

Somewhere before the TaskManager gets created. A piece of sample code I'm thinking of:
[code]

2. When and where are validations are being applied

In the `__init__` of the `TaskManager`
Sample Code:
[code]
 3. What happens to the dataclasses if user provides its own browser and manager params

The user has to pass the browser and manager params

[2020-11-24 14:15] ankushduacodes commented on #495
Got it!... Could also please check it #807 , It has issues with new added dependencies which is making all the tests to fail

[2020-11-24 14:16] vringar commented on #495
I'm looking into it!

[2020-11-24 16:19] ankushduacodes commented on #495
@vringar I have added validations for browser params, please have look so I know I am on the right path

[2020-11-25 02:02] MollieBakal commented on #694
First time contributor--could I look into this?

[2020-11-25 13:06] LordReigns commented on #795
Sorry for the delay. @vringar.

This is the approach I have taken,

**example:**

Consider the present interface `WebRequestOnBeforeRequestEventDetails`

I have replaced the above interface with the definition in firefox-webext-browser, as follows

[code]
Can you confirm this approach, so I can finalize it.

Thank you.

[2020-11-25 13:19] ankushduacodes commented on #495
@vringar could you please help me with `js_instrument`, I tried reading the documentation but could not understand much.
I also not sure what kind validation will be applicable to `js_instrument_settings`.
Your guidance will be much appreciated.

[2020-11-25 13:30] vringar commented on #795
Hey, sorry for dropping the ball on this.
This seems good :) Unfortunately I don't know too much about TypeScript so I'm unsure if it's the best way.

[2020-11-25 13:31] vringar commented on #694
Go right ahead :) Feel free to ask any questions you have here or in [our Matrix channel](https://matrix.to/#/#OpenWPM:mozilla.org?via=mozilla.org)

[2020-11-25 13:35] vringar commented on #495
I think the validation for the `js_instrument_settings` happens here:
https://github.com/mozilla/OpenWPM/blob/051a3846cbd62a50a462fa37333ab5eeae037b39/openwpm/task_manager.py#L128-L132
So you don't need to add validation for them.

[2020-11-25 13:37] vringar commented on #779
This was almost completely adressed by #806 so I'm closing it for now

[2020-11-25 13:37] #779 closed

[2020-11-25 13:37] ankushduacodes commented on #495
Could you please give a gist of what js_instrument is for?

[2020-11-25 13:41] vringar commented on #495
Browsers expose a [WebAPI](https://developer.mozilla.org/en-US/docs/Web/API) that websites can use to interact with the browser that displays the website.
OpenWPM enables user to see what WebAPIs are called in what way with the JS instrument, by allowing them to say which WebAPIs they are interested in and then logging every time a method is called or a property is accessed.

[2020-11-25 15:04] ankushduacodes commented on #495
@vringar For the manager params, theres not much to validate in them, may be I can set validation for `log_file` extension type and `database_name` extension type, other than that there's directories for data and logs to be stored, Do we want to validate these directories to see if they actually are directories?
What else is there to validate in manager params?

[2020-11-25 15:08] vringar commented on #495
What you suggest seems reasonable. There isn't much to validate in there and there will be even less once #753 lands so don't invest too much energy there.

[2020-11-25 16:19] ankushduacodes commented on #495
@vringar I have tried something to validate file extension which tbh looks kinda ugly, what is your opinion on the latest commit. I am not a fan of what I have done there but I could not think of something else

[2020-11-25 17:14] vringar commented on #495
I much prefer the splitext to a regex and I don't think it looks ugly.
The code expresses what we want to do and is easily readable.

[2020-11-25 18:03] ankushduacodes opened #810 "Issues while running demo.py"
I am not sure why but an `AttributeError` occurs while running demo.py, and it stops at `Launching Browser` after command sequence is done for the first command (example.com in my case). and needs to be closed of with `control + c` ie `Keyboard Interrupt`
It also take alot of time to start once I have hit enter on command `python demo.py`
here are full terminal logs:
<details><summary>Terminal Log

[2020-11-25 18:23] vringar commented on #810
#809 hasn't been merged into master but into the `CommandRefactoring` branch.

#806 is the culprit in this case since there is now a `command_sequence` local variable and module name.

To fix this could you please change the imports in `demo.py` to
[code]
and adjust the call in the file.

[2020-11-25 18:51] ankushduacodes commented on #495
@vringar After I delete the following check the file will be redundent which will just be calling one method,
https://github.com/mozilla/OpenWPM/blob/65337e0c19dc857f63bbca1b3aa3773a2c49fd42/automation/DeployBrowsers/deploy_browser.py#L5-L15
`deploy_browser()` is only being used in one place here: https://github.com/mozilla/OpenWPM/blob/051a3846cbd62a50a462fa37333ab5eeae037b39/openwpm/browser_mana

[2020-11-25 19:33] #810 closed

[2020-11-25 19:36] vringar commented on #495
You can delete `deploy_browser.py` and just call `deploy_firefox` in `browser_manager.py`.
OpenWPM won't support any other browser in the foreseeable future

[2020-11-25 19:36] vringar commented on #495
Please also delete `screen_resolutions.txt` and `ua_strings.txt` while you are at it.

[2020-11-25 19:51] vringar opened #812 "Make the TaskManager a ContextManager"
It's currently super easy to forget to close the TaskManager. Making it a ContextManager would allow users to write
[code]
and the call to close would happen automatically at the end of the scope.

Implementing a ContextManager is super easy, as there are only two methods to implement. https://docs.python.org/3.8/library/stdtypes.html#typecontextmanager

In `task_manager.py`:

[code]

[2020-11-25 19:57] ankushduacodes commented on #495
One more important question for the night and then I am done 😅,
This issue was filed because `save_content = ['script']` didn’t raise any issue as described in #494.
This is still the case with the logic below:
[code]
this does not help our case to have `save_content` as a boolean as we can not assert `save_content` to be of a certain type(other than boolean) beforehand.

my solution would be to j

[2020-11-25 20:25] vringar commented on #495
Okay, in this one case we will do type checking since the interface is really finicky to use.
Please emit an error if `save_content` is neither a string nor a boolean.

[2020-11-26 01:19] LordReigns commented on #795
Oh, Ok,  Is there a test for this ? so I can make sure this doesn't cause any errors.

Thank You.

[2020-11-26 09:46] vringar commented on #795
As long as you can run `./scripts/build-extension.sh`

[2020-11-26 10:34] ankushduacodes commented on #495
@vringar Could you please point me to documentation where I can find all the run configs that the platform checks for right now and what rules does it enforce as you have an example of `save_content` in this [comment](https://github.com/mozilla/OpenWPM/issues/495#issuecomment-732991428):

[2020-11-26 10:48] ankushduacodes commented on #758
@vringar I would love to work on this alongside #495, I want to understand the platform better. I was also looking into web instrumentation yesterday but could not find any significant resources on it, Do you think this will be a good learning opportunity?

[2020-11-27 10:52] ankushduacodes commented on #495
`browser_params[i]["browser_id"] = self.data_aggregator.get_next_browser_id()`
and
`browser_params["profile_path"] = prof_folder`

@vringar, These are currently not part of default_browser_params
Do you suggest making them and others that I find part of dataclass defaults and set it to `None` or a `falsy`?

Also could you please point me to the documentation as requested [here](https://github.com/

[2020-11-27 10:59] vringar commented on #495
Unfortunately there isn't much documentation on that. I think you found all of checks that we currently have in the codebase but I can take another look in the afternoon.

I currently don't have a good solution for these yet. This is one of the reasons I'm now thinking it might be better to merge the PR as is and make changing the internal use a separate issue.

[2020-11-27 11:10] ankushduacodes commented on #495
From what I understand these parameters are always going to be overwritten by internal code. In my opinion it would not hurt to make them part of dataclasses. Even if users does set value for these while instanciating BrowserParams, it should not make any difference as explained above. And later we may be we can document that assigning values to these member variables is forbidden

[2020-11-27 11:27] vringar commented on #495
I'm thinking maybe we should have `BrowserParamsInternal` and a `ManagerParamsInternal`classes that have all of these additional fields. They would inherit from `BrowserParams` and `ManagerParams` respectively and would be constructed after the validation.

[2020-11-27 11:28] ankushduacodes commented on #495
Sounds good...🚀

[2020-11-27 13:38] ankushduacodes commented on #495
@vringar I was looking for where the `ldb_address` gets set as it becomes part of the manager_params dict and I want to see what type it is of (probably tuple just like other address like `aggregator_address`).
Unfortunately, I could not find it, only usage I found was this:
https://github.com/mozilla/OpenWPM/blob/d0c34662500a40db38e0ecc5509dece9774aaa12/openwpm/deploy_browsers/deploy_firefox.py#L

[2020-11-30 13:53] vringar opened #814 "Create an docs/README.md"
This markdown files should contain a brief explanation for each of the other files functions/meanings.

[2020-11-30 21:45] vringar commented on #561
https://arrow.apache.org/docs/python/filesystems.html#using-fsspec-compatible-filesystems

[2020-12-01 10:00] vringar opened #816 "Make RedisWQ a separate package and test it thoroughly"
The work queue we use for the crawler isn't specific to OpenWPM and can be useful to other projects. Also by pulling it out we have an easier time testing it.

[2020-12-01 10:01] vringar commented on #816
We know that the Work Queue is currently broken but don't have the time to figure out how and why. This would be one of the first issues in the new repository.

[2020-12-02 09:10] #495 closed

[2020-12-02 13:47] ankushduacodes commented on #280
@vringar May I work on this?

[2020-12-02 14:17] ankushduacodes commented on #758
@vringar just a friendly reminder for this [comment](https://github.com/mozilla/OpenWPM/issues/758#issuecomment-734224574)

[2020-12-02 15:54] vringar commented on #280
Go ahead!

[2020-12-02 15:57] vringar commented on #758
Go right ahead. I might be a little less available the next couple of weeks as I try to finally get #753 done, so you might be stuck on questions a little while longer, but feel free to explore!

[2020-12-02 16:00] ankushduacodes commented on #758
For sure, could you please give a starting point as to what and where to explore. And if there is some readings to do, I will be happy to do it

[2020-12-02 16:22] vringar commented on #758
I think the DNS instrument is the best place to start as the other 3 topics are pretty advanced and go deep into firefox.
As for reading on the DNS instrument I would suggest reading the [source](https://github.com/mozilla/OpenWPM/blob/master/openwpm/Extension/webext-instrumentation/src/background/dns-instrument.ts) and trying to find the PR it was introduced in to have a look at what we discussed

[2020-12-04 12:44] vringar opened #819 "Remove mentions of default_manager_params.json from README.md"
@Ankushduacodes when merging #807  we forgot to remove to `default_manager_params.json` and `default_browser_params.json` even though they are no longer used anywhere.

We should also remove all references to those two files e.g. in the "Quick Start" section in the README.md. I haven't searched the rest of the codebase, but there may be some more references to it.

[2020-12-04 13:03] vringar opened #820 "Set up Sphinx"
I started setting up Sphinx some time back but haven't had the time to get back to it.
Anybody who want to work on this should have a look at https://github.com/mozilla/OpenWPM/commit/2e17baa15e59e5d49549f1d59f3c1ad868995bd9

[2020-12-04 16:14] vringar commented on #816
Currently some jobs get stuck assigned to an instance that has crashed which means they won't get retried.

[2020-12-04 21:45] ankushduacodes commented on #819
For sure, I will fix them. Should i also delete the json files?

[2020-12-07 12:58] jhabarsingh commented on #820
okay I would love to work on it.

[2020-12-07 20:42] vringar commented on #820
Go right ahead!

[2020-12-09 13:06] ankushduacodes commented on #819
@vringar Along with deleting references to default JSON files, I have also updated some documentation on how to instantiate TaskManager and some little things here and there, Let me know how they are looking.

[2020-12-09 19:32] #819 closed

[2020-12-11 09:42] vringar commented on #820
If there is anything you're getting stuck on or want an explanation for please feel to reach out here or on [matrix](https://matrix.to/#/#OpenWPM:mozilla.org?via=mozilla.org)

[2020-12-11 10:13] jhabarsingh commented on #820
Sir, I am really sorry but my exams were going on that's why I couldn't
start this but tomorrow my exams would get over so I would be glad to work
on this issue.

On Fri 11 Dec, 2020, 3:13 PM Stefan Zabka, <notifications@github.com> wrote:

[2020-12-11 10:16] vringar commented on #820
Please don't feel rushed :) I just wanted to reach out and make sure you are okay.
As you can see the commit is 8 months old and we haven't gotten around to it since. So there is no time pressure of any kind.

[2020-12-11 10:17] jhabarsingh commented on #820
Awesome, thank you so much!

On Fri 11 Dec, 2020, 3:46 PM Stefan Zabka, <notifications@github.com> wrote:

[2020-12-11 16:15] vringar opened #823 "Reimplement S3Structured and Unstructured"
See https://github.com/mozilla/OpenWPM/tree/S3StorageProvider

[2020-12-11 16:15] vringar opened #824 "Test timeout and cache full"

[2020-12-11 16:16] vringar opened #825 "Test random delays in storage, to see if everything is robust"

[2020-12-11 16:16] vringar opened #826 "Test completion_queue for all local/non-cloud structured aggregators"

[2020-12-12 22:38] MollieBakal commented on #694
I've been looking into this, and I think the interface change was in moving away from inheriting a class with cmd_params. I think we could get the display's port from display.new_display_var for an easy patch.
However, I've been trying to figure out whether a proper shutdown would delete the temporary files (and I think so?). I think a good way to do that might be to have the deploy_firefox method

[2020-12-13 06:09] jhabarsingh commented on #820
Sir I forked the project and looked at 2e17baa

[2020-12-13 06:11] jhabarsingh commented on #820
could you please let me know How to commence.

[2020-12-13 14:33] aschrijver opened #830 "You have been added to awesome-humane-tech"
This is just a FYI issue to notify that you were added to the curated awesome-humane-tech in the 'Awareness' category, and - if you like that - are now entitled to wear our badge:

[![Awesome Humane Tech](https://raw.githubusercontent.com/humanetech-community/awesome-humane-tech/main/humane-tech-badge.svg?sanitize=true)](https://github.com/humanetech-community/awesome-humane-tech)

By adding this

[2020-12-14 08:06] ankushduacodes commented on #280
@vringar I am sorry for the delays in the response to this issue. I was quite busy for the past two weeks and could not look into it much. I will be actively working on this issue and #758 from now on.

Thank you for your patience!   :)

[2020-12-14 11:09] vringar commented on #820
I'd suggest pulling the latest master branch, from there creating a new branch and then merging 2e17baa into that new branch.
Next you would add `sphinx` to the `requirements-unpinned-dev.yaml` and then follow the steps described [here](https://github.com/mozilla/OpenWPM/blob/master/CONTRIBUTING.md#managing-requirements).
After that you should be able to run `./docs/generate_docs.sh` and see a bun

[2020-12-14 13:16] vringar commented on #280
Once again, no worries! :)
Welcome back, I look forward to hearing from you again.

[2020-12-14 13:42] vringar commented on #694
Yes, by default we should just shut down properly and don't go around killing processes and deleting files manually.
However the way things are currently implemented the `BrowserManager` process/function may just exit without shutting down the display.

[2020-12-14 14:37] jhabarsingh commented on #820
Sir, I am getting conflicts while merging.
[code]

[2020-12-14 16:07] jhabarsingh commented on #820
I resolved the conflict + added the `sphinx` int the `environments-unpinned-dev.yaml`
But when I'm running the  `repin.sh` file I am getting this error.
[code]

[2020-12-14 16:34] vringar commented on #830
Thanks for letting us know!

[2020-12-14 16:34] #830 closed

[2020-12-14 16:38] jhabarsingh commented on #820
Sir I have successfully generated the doc files
[code]

[2020-12-14 16:43] jhabarsingh commented on #820
Sir,
  One more thing I wanted to tell you that when I tried to run `./docs/generate_docs.sh`, It gave me the Error shown below.

### ERROR
[code]
### Fixed

[2020-12-14 17:14] vringar commented on #820
Yes, please add it to the dev-dependencies!

[2020-12-14 17:17] jhabarsingh commented on #820
Ok sir

[2020-12-14 17:17] jhabarsingh commented on #820
Sir, what should I do next ?

[2020-12-15 01:45] jhabarsingh commented on #820
Sir, I've added `nbspinx` in the `add it to the dev-dependencies!`.

[2020-12-15 07:24] ankushduacodes commented on #280
@vringar As outlined in this [comment](https://github.com/mozilla/OpenWPM/issues/280#issuecomment-601822805) by Steven, I tried to check if key combinations would work.
Here's what I have tried so far to debug this issue(macOS specifics with geckodriver):
|Serial no.|Key combinations| Status|
|-|------------------|---------------|
|1| CMD + c                 |         --Works |
|2| CMD + v

[2020-12-15 10:24] vringar commented on #820
Could you please create a Pull Request with the changes you made.

[2020-12-15 10:32] vringar commented on #280
Thanks for the detailed writeup on this!
Can you think of another way to open an `about:blank` tab and then closing all other windows and tabs?

[2020-12-15 11:12] vringar commented on #820
Please also add a [`.readthedocs.yml`](https//docs.readthedocs.io/en/stable/config-file/v2.html#conda) to the PR.

[2020-12-15 11:58] ankushduacodes commented on #280
I am looking into it. I will update you soon.

[2020-12-15 12:10] jhabarsingh commented on #820
Sir, where would I get `.readthedocs.yml`.

[2020-12-15 12:13] jhabarsingh commented on #820
Sir, the link you had attached to the `.readthedocs.yml`. It's redirecting me to a `404 NOT FOUND` page

[2020-12-15 12:37] ankushduacodes commented on #280
@vringar I was looking into emulating keypresses using javascript but could not make it happen :(
Unfortunately, At this point, I am not aware of any other ways to open a new tab/window. I think for now `window.open()` is our best bet unless you have something in mind.

[2020-12-15 12:43] ankushduacodes commented on #820
@jhabarsingh try this 👆, I think vringer made a little mistake while constructing the url.

[2020-12-15 13:06] jhabarsingh commented on #820
Sir, I have added `.readthedocs.yaml` file

[2020-12-15 14:52] vringar commented on #820
Thanks @ankushduacodes for fixing my link.

[2020-12-15 15:25] vringar commented on #820
@jhabarsingh Thank you for adding the file. I have left some comments on the PR.
Also please just call me @vringar. There is no need for something as formal as sir. :)

[2020-12-15 15:51] vringar commented on #280
Then we'll just leave this open until selenium releases a version with `driver.switch_to._new_window()`
Thanks again for all of your research!

[2020-12-17 01:37] hwine opened #835 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2020-12-17 04:49] jhabarsingh commented on #812
Could you please assign this issue to me.

[2020-12-17 13:00] vringar commented on #812
Thank you for doing this :)

[2020-12-22 13:45] jhabarsingh commented on #812
I have to add __enter__ and __exit__ methods in Taskmanager. right ?

[2020-12-22 13:48] vringar commented on #812
Yes.

[2020-12-23 14:49] vringar opened #837 "Commands can't be defined in __main__ module"
Due to limitations in dill, classes defined in the `__main__`  module can't be pickled.
Since we send all of our commands through a multiprocess.queue which uses dill internally we can't send Commands defined in the main module.

See https://github.com/uqfoundation/multiprocess/issues/22 and https://github.com/uqfoundation/multiprocess/issues/5 for progress on allowing us to specify a different se

[2020-12-23 14:49] englehardt commented on #837
Possibly relevant:
https://stackoverflow.com/questions/60583118/serialize-subclass-of-abstract-class-in-python-3-7-1
https://stackoverflow.com/questions/59058588/pyspark-got-typeerror-can-t-pickle-abc-data-objects

[2021-01-09 10:15] #743 closed

[2021-01-10 11:12] ankushduacodes opened #839 "Add/Imporve docs to debug the platform"
Starting this issue as a reminder to add/improve docs on
1. How to debug the platform.
2. How to debug extension.

[2021-01-11 14:50] vringar opened #842 "Create test for manual_test.py"
`manual_test.py` is one of ways we enable contributors to run an interactive session and debug the WebExtension.
However since there are no tests it is constantly broken.
We'd need to add tests, that run the script with all of the various parameters that can be passed to it to make sure this doesn't continue to happen.

[2021-01-11 15:27] vringar opened #843 "Create DataSocket"
This would be a wrapper around client socket providing utility methods for the four types of messages the storage controller understands.
These are
- append_table(table_name, record)
- initialize (visit_id)
- finalize(visit_id, success)
- save_blob(hash, blob)

This class would replace the raw client socket we use today in BaseCommand.execute and could be used for testing

[2021-01-11 19:17] #812 closed

[2021-01-13 10:22] nrllh commented on #660
@birdsarah I also got the same issue. I gave up and just switched to desktop version. It works well now on Ubuntu desktop . It'd be cool to run OpenWPM also on the server versions.

[2021-01-15 11:24] vringar commented on #660
You can run it on the server version once you've installed the required dependencies and unfortunately we can't just change Firefox to support running it without libgtk.

[2021-01-15 11:24] #660 closed

[2021-01-19 13:09] vringar opened #845 "Callstack Instrument fails to capture some parts of the stack"
@hadiamjad pointed out on Matrix that the callstack instrument captures less than the Firefox debugger shows.

![Firefox output](https://mozilla.modular.im/_matrix/media/r0/download/matrix.org/SPWjnxCWVCpPKVHBEttJYesK)
![OpenWPM output](https://mozilla.modular.im/_matrix/media/r0/download/matrix.org/oBAIhNfiJDxhKXXVKCEtIgJc]

[2021-01-19 14:24] vringar commented on #845
It would be nice to get the raw string output from OpenWPM instead of an image since that's easier to read/understand (at least for me).

[2021-01-21 07:57] hadiamjad commented on #845
2/a</e.prototype.addCreative@https://ced-ns.sascdn.com/diff/templates/ts/dist/banner/sas-banner-1.2.js:1:16788;null
16/o</e.prototype.init@https://ced-ns.sascdn.com/diff/templates/ts/dist/banner/sas-banner-1.2.js:1:13108;null
onLoad@https://www3.smartadserver.com/ac?nwid=0&siteid=81298&pgid=632202&fmtid=35212&async=1&visit=s&tmstp=6304051897&tag=sas_35212&sh=768&sw=1366&pgDomain=https%3A%2F%2Fwww.

[2021-01-21 09:56] hadiamjad commented on #845
this might be the reason: https://github.com/mozilla/OpenWPM/issues/678?

[2021-01-21 16:48] vringar commented on #845
Yes, that seems like the reason. Can you check if that setting is set?

[2021-01-21 16:50] hadiamjad commented on #845
Where I can find this setting?

[2021-01-21 17:15] vringar commented on #845
https://github.com/mozilla/OpenWPM/blob/8dad9fd2129f8375575813baaa19992efdde47de/test/test_profile.py#L109-L134
If you add this command to the command sequence you can check whether the pref is set.

[2021-01-22 09:33] vringar commented on #845
I just realized that this answer is a little short. Should I explain myself further or is this enough to get you going?

[2021-01-22 09:35] hadiamjad commented on #845
No, it's understandable, I'll update you on this soon.

[2021-01-22 10:18] vringar opened #846 "`Initialize` command should write to `site_visits`"
Currently the TaskManager is responsible for writing into the `site_visits` table:
https://github.com/mozilla/OpenWPM/blob/8dad9fd2129f8375575813baaa19992efdde47de/openwpm/task_manager.py#L381-L391

[Steven and I](https://github.com/mozilla/OpenWPM/pull/753#discussion_r548018150) agreed that it would be better to move this writing into the Storage Controller when it receives the initialize command

[2021-01-23 07:12] hadiamjad commented on #845
Here, I have added TestConfigSetCommand at line 68 and it raises AssertionError. Looks like flag is not set.

![Screenshot (102)](https://user-images.githubusercontent.com/46374292/105571731-3dd6aa00-5d74-11eb-8182-93036e1e97f8.png)

[2021-01-24 12:18] vringar commented on #845
You can set the pref by using the BrowserParams like this:
[code]

[2021-01-24 13:26] hadiamjad commented on #845
Nope, unfortunately, it's still not working.

[2021-01-25 10:20] vringar opened #847 "Reimplement non relaxed shutdown"
With the storage rewrite we lost the ability to quickly save out data in case of an imminent shutdown.
We should restore this capability as our shutdowns now usually take longer than 30s which would mean our container getting SIGKILLed in case it needs to shutdown in an inorderly manner.

[2021-01-25 10:24] vringar commented on #847
When exploring the issue in previous crawls we didn't observe any container being shut down in such a manner.

[2021-01-26 18:13] boolean5 opened #848 "Add CI job for Docker builds"
PR https://github.com/mozilla/OpenWPM/pull/838 moved our CI from Travis to Github Actions but did not include a job to build the Docker image and deploy it to DockerHub. We should add one that does this.

[2021-01-26 19:32] vringar commented on #848
TODO me: Reach out to @motin to ask for credentials for the dockerhub account so we can put those into GitHub Secrets and publish every merge onto master on Dockerhub.
(This would change from the previous behavior of publishing every commit made to the repo)

[2021-01-28 15:40] hadiamjad commented on #845
Interestingly when I tried capturing the call stack directly from selenium, it has the same problem.
![image](https://user-images.githubusercontent.com/46374292/106161563-fc496300-61a8-11eb-936f-8f450014172a.png)

[2021-01-29 10:00] vringar commented on #845
Hmm, could you file a bug with Selenium then to see if maybe they can fix this?

[2021-01-29 10:31] vringar commented on #795
Hey @LordReigns
Hope you started off well in the new year :)
Did you ever file a PR for this?

[2021-01-29 10:34] LordReigns commented on #795
I couldn't work on it as I am busy with exams. Sorry about that. You can assign somebody else. @vringar

[2021-01-29 10:34] vringar opened #849 "Create meaningful tests for the webextension on it's own"
We can't currently test the WebExtension on it's own.
This issue aims to collect thoughts on how this could be done.
For integration with CI have a look at the travis.yml that was removed in January 2021.
https://github.com/mozilla/OpenWPM/blob/8dad9fd2129f8375575813baaa19992efdde47de/.travis.yml
And
https://github.com/mozilla/OpenWPM/blob/8dad9fd2129f8375575813baaa19992efdde47de/scripts/travis.sh

[2021-01-29 10:37] vringar commented on #795
Can you still push and file PR with what you've done so far?
This is not urgent.
Best of luck with your exams.

[2021-01-29 11:33] vringar opened #850 "Scope down GitHub Actions on: push:"
Rn it seems to trigger for every commit that gets pushed.
However what we really want it for it to run on the last commit in every PR and every commit that goes directly to master.

[2021-01-29 11:35] #850 closed

[2021-02-01 10:48] vringar commented on #847
To save time during shutdown the following steps should be followed:
- No save_record task should be awaited
- All currently not finalized visit_ids should be marked as unfinished
- The cache should be flushed
- The completion queue needs to filled appropriately

[2021-02-01 13:56] boolean5 opened #851 "Clarify failure_limit behavior"
[`test_profile.py::TestProfile::test_crash`](https://github.com/mozilla/OpenWPM/blob/master/test/test_profile.py#L33L40) (which is currently disabled because it depends on stateful crawling support) is based on the assumption that successive command failures will trigger a `CommandExecutionError`, even if the commands belong to different command sequences.

However, after the [`InitializeCommand`

[2021-02-01 14:33] boolean5 commented on #423
As we discussed in the weekly meeting, a possible solution is described here: https://firefox-source-docs.mozilla.org/testing/geckodriver/CrashReports.html
We could use `Options` instead of `FirefoxProfile` to set the profile. This way geckodriver will not delete it when closing or crashing, thus eliminating the race condition that broke stateful crawling. I'm implementing this change now and will

[2021-02-01 14:34] boolean5 commented on #423
It seems that since https://github.com/mozilla/OpenWPM/commit/bdb930f6f93664dca1a70e743b3e326618addbbd we get the browser profile location from [`driver.capabilities["moz:profile"]`](https://github.com/mozilla/OpenWPM/blob/master/openwpm/deploy_browsers/deploy_firefox.py#L169).

This means that we no longer parse the profile location out of the geckodriver logs and can remove most (if not all) of

[2021-02-01 14:43] vringar commented on #423
We want to have the geckodriver logs as part of our logging infrastructure so we can see errors happening inside the WebExtension along with the errors that are happening in the Python part of OpenWPM.
I'm not sure that this is the best solution to that problem but it's the one we currently have.

[2021-02-01 16:43] englehardt commented on #851
* Move failure limit default into the manager params file, not in TaskManager.
* Clear on the first successful command sequence.

[2021-02-03 12:09] vringar commented on #835
Addresses by us moving to GH Actions

[2021-02-03 12:09] #835 closed

[2021-02-03 12:10] vringar opened #852 "Tes"

[2021-02-05 15:59] vringar opened #853 "TaskManager should check that StorageController and MPLogger are alive"

[2021-02-05 16:02] vringar commented on #853
Register exception handler on storage controller loop.

[2021-02-08 05:40] jhabarsingh commented on #852
I would like to work on this issue

[2021-02-08 12:22] boolean5 commented on #851
After giving this some thought, it seems that it's more practical to keep setting the default value of `failure_limit` in the `TaskManager`.

My first thought was to make `num_browsers` a property and in its setter method also update `failure_limit` with the correct default value.

This would work in a scenario like this:

[code]

but would not work in a scenario like the following, as the value w

[2021-02-08 12:30] vringar commented on #851
What about using a [property](https://docs.python.org/3/library/functions.html#property)
This way we could calculate the value dynamically if the user hasn't set a default or we return the value set by the user.

[2021-02-08 12:58] boolean5 commented on #851
Yes, you're right, that works fine. Thanks!

[2021-02-09 08:53] boolean5 opened #855 "Compare Github Actions to CircleCI"
The purpose of this issue is to keep track of pros and cons of the two CI platforms, in order to help decide which is more suitable for this repo.

[2021-02-09 08:54] boolean5 commented on #855
Github Actions has a rather strict [log retention policy](https://docs.github.com/en/github/administering-a-repository/configuring-the-retention-period-for-github-actions-artifacts-and-logs-in-your-repository) for public repos - it only stores the logs for 90 days. In my experience, it's quite common for open issues to reference CI logs older than 3 months, so this is an important restriction. It

[2021-02-10 21:22] hammas9 opened #856 "[Discussion]Rotating outgoing IPv6 addresses"
Hi all,
I have a server which is allotted a certain block of IPv6 addresses. I have configured some of the addresses from that pool to my outgoing interface. What is the preferred way of binding my outgoing IP address of choice when a request is made by OpenWPM.

Thanks

[2021-02-11 15:28] vringar commented on #852
Thank you for you interest on this. However this is blocked on #753 getting merged.

[2021-02-11 15:30] vringar commented on #856
I don't know the answer to your question but I don't think that the answer to that question is OpenWPM specific. Maybe searching for "Force Firefox to use certain network interface" will yield something useful

[2021-02-11 15:58] vringar commented on #856
The other idea that comes to mind would be running OpenWPM in a container and then exploring the networking options of Docker.

[2021-02-14 12:46] vringar opened #857 "Remove _python_to_js_string"
https://github.com/mozilla/OpenWPM/blob/078395c4ad148a60e20a6dbac549a2287fde2cc3/openwpm/js_instrumentation.py#L23-L37
This function creates a string that looks like JSON while being invalid JSON due to the fact that all `object` fields are unquoted.
We decided to do this, so that once we had de-serialized the object in the WebExtension, the `object` fields directly reference the objects that need

[2021-02-15 12:14] boolean5 commented on #423
I have run into a problem in the implementation of the solution described above. Using `Options` to set the browser profile indeed lets us use the selected  profile in-place and the profile does not get deleted when geckodriver crashes or closes. Also, the profile is updated as expected after visiting some sites.
However, when geckodriver starts it also creates another profile directory whose name

[2021-02-15 13:45] vringar commented on #423
Ìnteresting. I think you should file a bug in the [geckodriver component](https://bugzilla.mozilla.org/enter_bug.cgi?product=Testing&component=geckodriver). I'd expect this to be Firefox specific.

[2021-02-15 14:59] #851 closed

[2021-02-15 16:24] vringar opened #858 "Localstack doesn't work with python 3.9"
This issue just appeared for me a couple of days ago.
You might need to switch to docker based workflow/an older version of conda for the time being.
https://github.com/conda/conda/issues/9653

[2021-02-16 11:47] boolean5 commented on #858
I Just ran `repin.sh` with conda version 4.8.3 and I'm getting some errors about specifications being incompatible with each other and with the python installation in my environment. Here's the output: [repin_output.txt](https://github.com/mozilla/OpenWPM/files/5988304/repin_output.txt)

[2021-02-16 11:54] vringar commented on #858
Paging @birdsarah as the conda expert in residence:
As you can see some of the conflicts are complete bogus:
[code]
The issue I have referenced conda v4.8.1 so we might need to go back another version, but that doesn't seem like a good way forward.

Any ideas? Do we say that #753 removes the need for solving from a partially pinned environment and so we just merge the evironment.yamls and then sol

[2021-02-16 12:00] vringar commented on #858
Looking through conda/conda#9653 again someone mentions `--update-deps` as a workaround however neither `conda env create` nor `conda env update` support this flag

[2021-02-16 15:00] birdsarah commented on #858
The latest version of conda is 4.9.2. If you're not on that, start there.

[2021-02-16 15:29] boolean5 commented on #423
Done. Here's the issue: https://github.com/mozilla/geckodriver/issues/1844

[2021-02-16 15:41] vringar commented on #858
I have the same issue on 4.9.2

[2021-02-16 15:41] vringar commented on #858
It seems to be broken starting in 4.8.1 and has been broken ever since.

[2021-02-16 15:44] vringar commented on #423
Very nice writeup!

[2021-02-16 15:49] birdsarah commented on #858
OK. I've run this locally. I don't see the problem. I'm not getting "frozen." When it tries to add the dev dependencies it hits conflicts. Here's the full output:

[code]

I'm more than happy to agree this isn't easy to parse though. Given that localstack's a trash fire I went hunting there first found `localstack==0.11.1.1 -> python[version='>=3.8,<3.9.0a0'] -> pip`.

One of the things that not o

[2021-02-16 15:50] birdsarah commented on #858
Here's a branch with the updates: https://github.com/mozilla/OpenWPM/tree/birdsarah-test-partial-release

[2021-02-16 15:57] birdsarah commented on #858
I did discover a separate issue in running this though. When I pinned python with `python<3.9` everything worked correctly but crucially the pinned python dependency didn't make it into the pinned `environment.yaml`. When I instead used `python==3.8.6` it did make it in (see this commit 5a0e025). That seems like a bug in `prune-environmeny.py` that should be fixed and/or noted in docs.

[2021-02-16 16:00] vringar commented on #858
I don't think that conda is broken by default. I much prefer it to our old ways of managing dependencies and like the sleek and reliable way of managing dependencies that it offers. I'm sorry that I was too negative/harsh in the words I used.
This issue just stopped me while trying to finish up work I'm already late on.
Thank you so much for figuring this out.

[2021-02-16 16:28] vringar commented on #858
In conclusion: the culprit is localstack.
The remediation is to pin python to <3.9 (which should be done to close this issue) and to merge the storage refactor

[2021-02-16 18:04] vringar commented on #858
Closed by #859

[2021-02-16 18:05] #858 closed

[2021-02-22 12:44] vringar commented on #232
Updating this comment as #753 removed everything mentioned in the original issue.
Observations:
- UnstructuredStorageProviders already have an interface suitable for storing a bunch of bytes under a user-defined name
- The base path for storing is specified at time of object instantiation
- => There is no more need for a `data_directory` in the manager params similiar to the `database_name` name b

[2021-02-22 14:13] vringar commented on #856
@hammas9 did you get anywhere with this and do you want to share your findings or should I close this issue?

[2021-02-22 14:19] vringar commented on #694
Closed by #831

[2021-02-22 14:19] #694 closed

[2021-02-22 14:29] vringar opened #861 "Create tests that checks the status_queue returns correct results"
In the `TaskManager` we rely on the `StorageController` to return a number less than 10000
https://github.com/mozilla/OpenWPM/blob/a81d80ad597bcc8344ed52bb274d9971c458cff8/openwpm/task_manager.py#L621-L629

However with the new implementation I'm uncertain what kind of numbers we can/should expect here. And if 10000 is a good limit.

So I'm proposing to introduce tests that check that the number o

[2021-02-22 14:52] vringar opened #862 "Add start_time to task in parquet_schema"

[2021-02-22 16:51] #561 closed

[2021-02-22 16:51] #652 closed

[2021-02-22 17:36] birdsarah commented on #652
https://giphy.com/gifs/1GrsfWBDiTN60/html5

[2021-02-22 17:48] englehardt commented on #614
@vringar I think we can close this now that you've merged #753?

[2021-02-23 11:12] vringar commented on #614
Yes, we have unpinned s3fs and no longer directly use boto/botocore

[2021-02-23 11:12] #614 closed

[2021-02-23 11:30] vringar commented on #852
The PR has now been merged.
What I would a test to do is to instantiate a StorageControllerHandle, send a bunch of data with different visit_ids to the storage controller and then finalize some as successful and some as unsuccessful.
I would then assert that `StorageControllerHandle.get_new_completed_visits` contains the entries I would expect to be there.

[2021-02-23 12:25] jhabarsingh commented on #852
@vringar, `The PR has now been merged`, Does it mean that this issue is closed .
please, correct me if I am wrong.

[2021-02-23 12:58] vringar commented on #852
Sorry for being imprecise. PR #753 has now been merged meaning you can start working on this issue.

[2021-02-26 19:57] hammas9 commented on #856
I did not instrument the webdriver in OpenWPM but I created separate namespaces and allotted different subnets to each of them. So when I ran OpenWPM from within each of these network namespaces I was able to send outgoing requests using different addresses allotted to different namespaces.

[2021-02-27 09:46] vringar commented on #856
Thank you for the follow-up

[2021-02-27 09:46] #856 closed

[2021-03-05 07:20] ksabaa15 commented on #790
Hello, Is there any update on the bug?

[2021-03-05 10:06] boolean5 commented on #790
Hi @ksabaa15,
I just tried loading a profile using the current master branch and it works as expected.   Please note that now `seed_tar` has to point to the tar file and not to a directory containing the tar file as it used to.

After looking at the tar file @Scrashdown used, I'm pretty sure the reported problem was caused by its directory structure. Specifically, the tar file contains the profile

[2021-03-05 10:14] ksabaa15 commented on #790
@boolean5 Thank you very much for your time!

[2021-03-05 11:08] boolean5 commented on #790
I suppose we could clarify this a bit in the docs. The wording in `docs/Configuration.md` might be a little misleading: `To load a profile, specify the seed_tar browser parameter in the browser configuration dictionary. This should point to the location of the profile.tar or (profile.tar.gz if compressed) file produced by OpenWPM or by manually tarring a firefox profile directory.`

Changing `by m

[2021-03-05 20:46] ankushduacodes commented on #280
@vringar While going through some extension APIs over at Bugzilla, I realized that it may be possible to load an extra extension that will be responsible for spawning a new browser using the [windows](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/windows) API for extensions.

What do you think?

[2021-03-08 16:48] vringar commented on #280
I think we can wait this out and not introduce any more code on our side. Thanks for the suggestion though!

[2021-03-11 13:48] vringar commented on #790
I think the issue is prevalent and subtle enough to warrant an explicit paragraph. Maybe we could introduce an extra runtime check to make sure we give an error when trying to load a profile containing only one folder. But idk if the gain from that is bigger than the ensuing complexity.

[2021-03-15 10:03] boolean5 opened #867 "Revert workaround of manually creating user.js"
PR https://github.com/mozilla/OpenWPM/pull/864 restores support for stateful crawling by using custom browser profiles.

However, geckodriver has a bug that makes it write the browser preferences we set, as well as its own default browser preferences, to a `user.js` file in the wrong profile directory when using a custom profile: https://github.com/mozilla/geckodriver/issues/1844. As a temporary w

[2021-03-15 21:52] englehardt opened #868 "Consider aligning column names with WebExtension documentation"
Following the WebExtension instrumentation upgrade we decided to prefer OpenWPM's previous column names as opposed to changing our column names to align with the names of the WebExtension APIs we're monitoring. This leads to us "converting" the representation internally from WebExtension event --> OpenWPM schema (e.g., as we do for [cookies](https://github.com/mozilla/OpenWPM/blob/cb95ecc05fb4618e

[2021-03-15 21:52] englehardt commented on #868
@vringar wdyt?

[2021-03-16 10:40] boolean5 opened #869 "Raise error when loading profile from incorrectly structured tar file"
This issue addresses a common pitfall in loading a browser profile. When the tar archive used includes the profile directory itself instead of only its contents, the loaded profile is ignored by the browser (see https://github.com/mozilla/OpenWPM/issues/790#issuecomment-791316632 for a more detailed description and an example).

As per @vringar's [suggestion](https://github.com/mozilla/OpenWPM/iss

[2021-03-16 11:41] boolean5 commented on #62
When we expand the saved profile to the full directory we should also consider the following:
Now, [when restarting a crashed browser](https://github.com/mozilla/OpenWPM/blob/cb95ecc05fb4618e4275faecbc62b84123ebf1b0/openwpm/browser_manager.py#L101L115), we archive its profile in a tar file and then extract the contents of this tar file into the profile of a freshly started browser. Maybe we could

[2021-03-16 13:20] vringar opened #870 "Add `"info": "npm-scripts-info"` under `scripts`"
We should probably add `"info": "npm-scripts-info"` under `scripts` as described [here](https://www.npmjs.com/package/npm-scripts-info) so that the descriptions under `scripts-info` can be displayed. But it's probably best if I open another PR for that as it's out of the scope of this one.

_Originally posted by @boolean5 in https://github.com/mozilla/OpenWPM/pull/865#discussion_r595074298_

[2021-03-16 13:22] #790 closed

[2021-03-16 15:41] #823 closed

[2021-03-22 09:49] boolean5 commented on #789
We should also update and reenable [`test_profile_saved_when_launch_crashes`](https://github.com/mozilla/OpenWPM/blob/ab01a2f6bdadcf75fe8c2878bc8d6610f5ed2a7a/test/test_profile.py#L59L80). This test uses the proxy to make the launch fail. Because the proxy is no longer supported, we need to find a different way to make the launch crash.

[2021-03-22 12:17] vringar opened #873 "Model BrowserManagerHandle (Browser) as a Finite State Machine"
We'd have a couple of high level states like
1. Startup
2. Running
3. Shutting down

https://github.com/mozilla/OpenWPM/blob/ab01a2f6bdadcf75fe8c2878bc8d6610f5ed2a7a/openwpm/browser_manager.py#L160-L205
And
https://github.com/mozilla/OpenWPM/blob/ab01a2f6bdadcf75fe8c2878bc8d6610f5ed2a7a/openwpm/deploy_browsers/deploy_firefox.py#L23-L168

Are super hard to reason about, especially when something go

[2021-03-23 15:25] YN-Zheng opened #874 "openwpm.log full of this type of error from `resource://openwpm/privileged/stackDump/OpenWPMStackDumpChild.jsm`"
## Configuration:
Newly clone and install.
Tag: v0.14.0
Set number of browser: 10

## Problem
`openwpm.log` is full of the error message below during running demo.py (with a site list):
[code]
Here is an example of the log file: (Please scrawl down to about 600th rows to see what's happening)
[openwpm.log](https://1drv.ms/u/s!AtYIZf-S9U-igao8Jp3B-rzl5M-Dxw?e=73RMha)

Although it seems that the cra

[2021-03-23 19:28] vringar opened #876 "Create test cases that simulate pages interrupting our usual flow"
We should have a page that creates multiple iFrames, one that creates an alert and one that overrides `window.open`

[2021-03-23 19:37] vringar commented on #874
Hey,
thanks for the well structured bug report!

I haven't fully investigated this issue yet, but from what I see in the callstacks table, we seem to be still recording callstack data.

So to answer your questions:

This message means that for one reason or another we're accessing a property in Firefox that destroyed.
I'd say it's okay to see that in the crawl

This instrumentation dives quite dee

[2021-03-23 19:58] YN-Zheng commented on #874
Thank you for your quick response!

That basically solved my issues. I'll let it open to leave room for any discussion. Feel free to close it.

[2021-03-26 13:21] shivani-1521 opened #877 "Expiry value of session cookies"
The expiry value of session cookies are being shown as "9999-12-31T21:59:59.000Z" in the javascript_cookies table of the output crawl-data.sqlite file. As session cookies may not be returning an expiration date, some other representation of the expiry would be more suitable.

[2021-03-26 13:42] englehardt commented on #877
This looks like a bug on our side. See: https://github.com/mozilla/OpenWPM/blob/cb95ecc05fb4618e4275faecbc62b84123ebf1b0/openwpm/Extension/webext-instrumentation/src/background/cookie-instrument.ts#L19. Session cookies probably never return an expiration date, so we treat it the same as maxint, which seems wrong.

[2021-03-26 14:23] vringar commented on #877
Another thing that weirds me out is that according to
https://github.com/mozilla/OpenWPM/blob/cb95ecc05fb4618e4275faecbc62b84123ebf1b0/openwpm/Extension/webext-instrumentation/src/schema.ts#L149 this is supposed to be an optional DateTime and then we assign a string to it.

Why not just leave it empty, if we don't have a good value?

[2021-03-29 12:08] #848 closed

[2021-03-29 15:34] #161 closed

[2021-03-29 15:34] #383 closed

[2021-03-29 15:34] #423 closed

[2021-03-29 15:34] #253 closed

[2021-03-29 15:34] #384 closed

[2021-03-29 15:34] #680 closed

[2021-03-30 12:22] #857 closed

[2021-03-31 21:01] nhnt11 commented on #874
I don't know off the top of my head why something might have stopped working here. It looks like this doesn't seem to be affecting the collection of callstacks? I.e. the results are fine?

Let me know if something looks wrong enough to deserve attention soon.

[2021-04-03 10:32] pickizme opened #880 "Simulating keys while crawling & user-agent"
Hi,

I wonder if it's possible to send some keys (like DELETE or _ENTER) while crawling. If yes, is there any instruction for that? I could not see anything related to that point.

Edit: I didn't want to create a new issue for that, I also wonder if it's possible to change user-agent?

Thanks!

[2021-04-06 09:38] vringar commented on #880
Hey,

For key events or mouse movement please use a [custom command](https://github.com/mozilla/OpenWPM/blob/master/custom_command.py). You can then use the Firefox driver passed to you in the `execute` method to create an [ActionChain](https://www.selenium.dev/selenium/docs/api/py/webdriver/selenium.webdriver.common.action_chains.html#module-selenium.webdriver.common.action_chains) to press all t

[2021-04-06 10:54] boolean5 commented on #40
Having read SQLite's write-ahead log documentation, this is certainly not the expected behavior. Since we copy the `*-wal` files along with the main sqlite database files they should sync and we should not be losing any data, unless the db files are [corrupted](https://www.sqlite.org/howtocorrupt.html).

I tried to reproduce this issue in two ways, using [`test_browser_profile_coverage`](https://g

[2021-04-06 11:58] pickizme commented on #880
Thanks @vringar it just works great :)

[2021-04-06 11:58] #880 closed

[2021-04-06 12:40] pickizme commented on #880
@vringar could you also please tell me, how can I change the resolution? I found some parameters in `deploy_firefox.py ` but I didn't find a way to pass a custom resolution.

[2021-04-06 14:01] vringar commented on #880
For now this is the only way. But I'd be willing to help you implement this feature if you want to.
Please file a new issue for it, so we can track it.

[2021-04-06 14:06] vringar commented on #40
I can't think of a way to provoke more drastic crashes.
Since your research shows that this is no longer an issue, I'm voting for closing this issue.

[2021-04-06 14:25] englehardt commented on #40
Agreed. This is as comprehensive as I'd expect. Thank you!

[2021-04-06 14:25] #40 closed

[2021-04-06 14:45] pickizme commented on #880
@vringar I just found a way. I created a custom command and execute it before crawling start. So something like that (maybe it helps somebody):

[code]

Thanks again!

[2021-04-07 18:28] nrllh commented on #379
@englehardt I think you should provide this functionality. At the moment, it's not directly possible to get cookies that are alive or not. Labeling a cookie as `deleted` won't also work if one wants to get all cookies with a simple query as in the last state cookie.jar.

Maybe you can add a column `is_active ` and assign all cookies as `1` if these were in cookie.jar before crawler stoped.

[2021-04-07 21:44] englehardt commented on #379
Hey! I'm not sure I understand what you're trying to achieve. Would you be able to share an example of a situation where the current instrumentation is insufficient?

[2021-04-08 05:53] nrllh commented on #379
@englehardt  I want to get all cookies as in cookie.jar. So deleted cookies shouldn't be in my result. In that case, I see no way to retrieve these cookies with a simple query. Of course, it's possible with subqueries etc. But it'd be much easier if you label cookies that were not deleted.

[2021-04-08 18:52] vringar opened #883 "Improve Unstructured Aggregator"
The last crawl has some `content_hash`es that can't be found on GCS so we are loosing some data there.
I'll need to investigate how many entries we are missing.

We're also currently storing the data uncompressed which probably isn't something we should do as we think about 1M site crawls.

[2021-04-12 11:57] vringar opened #884 "Write Docs for StorageProvider and Controller in Plattform-Architecture.md"
The docs are still talking about the DataAggregator.
https://github.com/mozilla/OpenWPM/blob/master/docs/Platform-Architecture.md#data-aggregator

[2021-04-12 15:07] boolean5 commented on #789
This is a list of things to test that I can think of. @vringar, @englehardt feel free to add more.

1. Test that for stateless crawls the profile specified by `seed_tar` is reloaded after each command sequence.
2. Test that the correct profile is loaded during crash recovery (a. the profile specified by `seed_tar` when running a stateless crawl, b. the profile specified by `recovery_tar`(i.e., the

[2021-04-12 15:37] vringar opened #885 "Move `Issuing Commands` should be moved to User Documentation"
Another thing to consider would be moving the `Issuing Commands` section to a different document, as it is of interest to the users and `Platform-Architecture.md` is placed under Developer documentation (this can also be done in a subsequent PR).

_Originally posted by @boolean5 in https://github.com/mozilla/OpenWPM/pull/863#r610651286_

[2021-04-12 15:42] vringar commented on #789
This condition is complicated and maybe worth testing or removing. https://github.com/mozilla/OpenWPM/blob/master/openwpm/browser_manager.py#L597

[2021-04-12 15:52] vringar commented on #789
This requires a test matrix.
1. operational mode: Stateful, Stateless
2. Seed_profile: Exists, Doesn't
3. Crash types: normal operation, crash during page visit, crash during launch, timeout during page visit

[2021-04-13 09:28] vringar commented on #197
localtest.me doesn't resolve anymore for me, so the tests keep failing locally. It appears that they are partially working when run on GitHub Actions but I'm still going to prioritize replacing them.

[2021-04-13 11:36] boolean5 commented on #789
We should also test that [`load_profile`](https://github.com/mozilla/OpenWPM/blob/e20fc6a29e191e9bacc5922ff494a05a922c8587/openwpm/commands/profile_commands.py#L127):
 * leaves the tar file unmodified
 * can handle both compressed and uncompressed tar files

[2021-04-13 15:06] vringar opened #887 "Make multiple names resolve to our test server"
The `test_recursive_dump_page_source_valid` previously proved it's usefulness by asserting that we could see a complex iframe structure over multiple domains.
However since we stopped using localtest.me we are now no longer able to test this.

This issue tracks the need to restore this capability and making the test ensure that.
_Originally posted by @vringar in https://github.com/mozilla/OpenWPM/

[2021-04-14 09:23] vringar commented on #883
For the last 100k crawl running OpenWPM v0.14.0 we got the following stats:

Data that appears as a hash in the data but not in the bucket: 4725 or in percent 0.47750376192117194 %
Blobs that appear in the bucket but aren't referenced in the data: 63088 or in percent 6.3756100173720425 %

For reference a crawl running on v0.10.0:
Data that appears as a hash in the data but not in the bucket: 1 or

[2021-04-14 09:38] vringar commented on #883
My first instinct was that we were not awaiting content, but that doesn't seem to be the case
https://github.com/mozilla/OpenWPM/blob/358c8a73373abf84e6bea4600e6e154e7a903854/openwpm/storage/storage_controller.py#L138-L141

My second thought was that there might be a bug in the implementation of `GcsUnstructuredProvider` but so far I haven't found one.

[2021-04-14 09:54] vringar commented on #883
One thing that makes me curious, even though I don't think it's the issue is the fact that we add the entry to the cache after having the transaction to write it out to disk be completed.
This means, there could be a point where a resource gets saved out twice by the same instance, resulting in one write overwriting the other. I assume that writes to GCS especially when wrapped in a transaction ar

[2021-04-14 15:33] vringar commented on #883
Investigation update:
There is an individual `visit_id` that have lost 114 records with the second highest one being 55.
Each affected browser lost data for 1-9 visit_ids so I'm assuming the instance doesn't crash when it doesn't save out.

[2021-04-15 09:21] vringar opened #889 "Failure to save data for some websites"
taehyung222 said in Matrix:

However when running just these sites in isolation I seemed to be getting structured data for them.
This needs further investigation.

This we need to know about:
- Which version were you running
- Which plattform are you running on
- Do you see any errors in the logs that could point us towards the error cause
- What kind of data are you missing? Structured or Unstruc

[2021-04-15 10:04] #820 closed

[2021-04-15 10:12] vringar opened #890 "Readthedocs build failing"
The RTD builder is failing on the following command `conda env create --quiet --name latest --file environment.yaml` with the following error message
[code]

I think I've seen this error before, but I don't remember the context.

[2021-04-15 12:56] vringar commented on #890
Okay, so the conda version read the docs uses is out of date and we need to downgrade our geckodriver to 0.26.0 for the build to work.

[2021-04-15 16:22] vringar commented on #890
After some searching I found [this issue](https://github.com/readthedocs/readthedocs-docker-images/issues/106) and then following from there [this ](https://github.com/Ouranosinc/raven/pull/167/files]
So we could also just define a `requirements-docs.yaml` that we try to keep in sync with the main `requirements.yaml` but remove all dependencies that we don't need for generating docs.

[2021-04-16 06:26] shivani-1521 commented on #889
OpenWPM version : v0.13.0
On Ubuntu 20.04.1 LTS with Python 3.8.5 and Conda 4.9.2
However, it appears this could be a false alarm as there were timeout errors, which could be due to my network.

[2021-04-16 10:05] boolean5 opened #891 "Replace remote connections in `test_http_stacktrace` or skip locally"
We've noticed that [`test_http_stacktrace`](https://github.com/mozilla/OpenWPM/blob/625d81460b25d68846de36ddeeab23c9731bbda6/test/test_callstack_instrument.py#L34) is flaky when running on CI (see [here](https://github.com/mozilla/OpenWPM/runs/2325350362) for a failure example).

This is probably because this test is still making a remote connection to https://gist.githack.com/gunesacar/b927d3fe69

[2021-04-16 10:36] vringar commented on #889
Okay, v0.13.0 didn't have any changes to the data storing.
Timeouts are unfortunately very common when running crawls.
Consider having a look at [openwpm-utils](https://github.com/mozilla/openwpm-utils) for analysis tools we use when analyzing our crawls

[2021-04-17 11:32] vringar commented on #887
This is a blocker for #197.
We can set the `network.dns.localDomains` pref in FF to have multiple different domains resolve to our test server.

[2021-04-17 11:33] vringar commented on #891
Maybe we can remove the remote connection by using the pref englehardt mentioned in #197

[2021-04-17 13:02] bkrumnow opened #892 "Missing data when using browser restarts"
Hey everybody,

I stumbled upon an inconsistency in the data collection produced by OpenWPM. In brief, I found that sometimes it takes a browser a bit longer to start all instruments, which can be long enough that a crawl starts before the recording has begun.

**The setup:**
I conducted an experiment where multiple crawlers visit the same site in parallel (nearly synchronised). Each browser resta

[2021-04-19 13:30] vringar commented on #892
Hey, thanks for the awesome bug report.

No, it was not. And I don't know what could be causing this.

After looking around in the code, I don't think it should be that hard. Sockets work both ways, so we should be able to expand the `ClientSocket` to be able to receive data.
Then we could wait for the ClientSocket to receive a "Started Up" message here:
https://github.com/mozilla/OpenWPM/blob/625

[2021-04-19 13:56] vringar commented on #892
This could be considered part of #135

[2021-04-20 09:01] bkrumnow commented on #892
Short update: I also found missing data when not using the reset option. It's not a surprise to see it happening after a browser restarted (probably due to errors from the previous visit?).

I should have some time for that tonight.

[2021-04-20 10:39] bkrumnow commented on #766
Hey,
Apologies on re-opening this, but I wanted to dive a bit deeper. I saw that crawlers start at a time, but loose synchronicity over time.

Is there an option where crawlers start the get command for the same site at the very same time?

Thanks a lot in advanced! :)

[2021-04-20 12:01] vringar commented on #766
I'll write up a tutorial and some sample code, to show how I think this could be done.
My basic idea is:
Insert a custom command that utilizes  [a barrier](https://docs.python.org/3/library/threading.html#barrier-objects) to sync all browsers and then run the GetCommand afterwards.

[2021-04-20 12:09] vringar commented on #766
Should I expand on this idea further or do you want to try and do it on your own.
I could either write this up as a tutorial or we could set up a meeting and develop this together.

[2021-04-20 13:10] #890 closed

[2021-04-20 13:19] bkrumnow commented on #766
Thanks for the fast reply.
Both works for me. I will direct message you to discuss it.

[2021-04-20 14:18] vringar opened #895 "Generate Module index"
Somehow we aren't generating the module index right now.
This needs to be fixed ASAP

[2021-04-23 08:53] boolean5 commented on #895
It seems that for the module index to be created we have to run `sphinx-apidoc -o source/ ../openwpm` (from within the `docs` directory) and then commit the autogenerated `rst` files ([[1]](https://sphinx-rtd-tutorial.readthedocs.io/en/latest/build-the-docs.html#generating-documentation-from-docstrings), [[2]](https://samnicholls.net/2016/06/15/how-to-sphinx-readthedocs/)).

This however, has the

[2021-04-23 09:28] vringar commented on #895
Thanks for doing this investigation

I haven't started working on this yet so I'd appreciate a PR

[2021-04-23 22:00] Ayushsunny commented on #870
is this still open sir @vringar ?

[2021-04-23 22:01] Ayushsunny commented on #678
is this still open sir @englehardt ?

[2021-04-26 09:44] vringar commented on #892
We can just write a file to the profile dir after startup is complete and poll on that.

[2021-04-26 11:11] bkrumnow commented on #766
Very first insights from testing your proposed solution (I used OpenWPM 0.13.0): It works well! :)

However, it can lead to deadlocks (as any other solution potentially can). I run into deadlocks when using timeouts for the GetCommand that were larger than for the lockstep command. In my case, some browsers run out of time waiting for other browsers while the other browsers were still loading the

[2021-04-26 13:37] vringar commented on #870
Hey @Ayushsunny,
Yes, this issue is still open. Do you want to work on it?

[2021-04-26 13:39] vringar commented on #678
As far as I can tell, yes, this issue is still open.
Do you want to work on this after #870

[2021-04-26 13:45] Ayushsunny commented on #678
yeah sure

[2021-04-26 13:47] Ayushsunny commented on #870
Hello @vringar can you guide me on this? Yes I want to work on this issue

[2021-04-26 13:59] vringar commented on #870
Sure :)
How familiar are you with Javascript and npm?

[2021-04-26 14:26] Ayushsunny commented on #870
Okay I'm familiar with Javascript but "npm" I am still looking for a nice tutorial

[2021-04-26 15:05] #895 closed

[2021-04-26 17:09] vringar commented on #870
Okay, so for this change you only need a rough understanding of npm.
npm is a package manager for Node.js which is a program you can use to run Javascript outside of the browser.
We use node to run certain checks and build the WebExtension that powers the data collection in OpenWPM.

The central entry point for node and npm is the `package.json` file. There you define among other thingds your proj

[2021-04-26 17:09] vringar commented on #870
Please feel free to ask any questions that you have

[2021-04-26 19:31] Ayushsunny commented on #870
@vringar Sir in this line I didn't get that and **add `npm-scripts-info` to our dependencies.**

[2021-04-27 08:34] vringar commented on #870
For that you'll need to run `npm install --save-dev npm-scripts-info` after you have set up the environment.

[2021-04-27 15:28] boolean5 opened #904 "Revert `environment-rtd.yaml` workaround"
When the cause behind https://github.com/mozilla/OpenWPM/issues/890 gets resolved by updates on readthedocs, we should revert the workaround applied in https://github.com/mozilla/OpenWPM/pull/894
and go back to using the main `environment.yaml` file in `.readthedocs.yaml`. We should also remember to remove the `docs/environment-rtd.yaml` file and [the code that generates it](https://github.com/moz

[2021-04-28 13:46] MaazBinMusa opened #905 "v0.13.0 process watchdog access error"
I cloned the v0.13.0 from tags as the README said its the stable one.

conda is installed, openwpm env is active but I am getting the following error. I am running on a server that has linux.

I am running with 2 browsers and both are headless.

[code]

Edit:

turning off process watchdog removes this error

[2021-04-28 14:31] shashigharti opened #906 "Connection error NS_ERROR_UNEXPECTED"
I am trying to run web extension and connect it to the remote server to receive the data. But once the browser starts it can not establish connection to the remote socket server. Code throws this error:

`Exception { name: "NS_ERROR_UNEXPECTED", message: "Component returned failure code: 0x8000ffff (NS_ERROR_UNEXPECTED) [nsIBinaryOutputStream.writeByteArray]", result: 2147549183, filename: "file:/

[2021-04-28 14:32] Ayushsunny commented on #870
Hello @vringar I have made the changes and also run this command `npm install --save-dev npm-scripts-info` and suddenly a new `package-lock.json` generated with changes.
Now what to do sir?

[2021-04-28 17:23] MaazBinMusa opened #907 "Assertion Error on tab restart"
Hi, I am simply using the latest openwpm to crawl list of top 100K sites.
I install everything and it works.

Description:    Ubuntu 18.04.5 LTS
Release:        18.04
Codename:       bionic

- I updated the list  of sites
- enabled bot_mitigation
- headless mode turned on
- sleep on each page for 1 min
- timeout 10 minutes
- 10 number of browsers

An hour into the experiment this happens:

Traceba

[2021-04-29 10:48] vringar commented on #907
Sorry, that this seems like a warning. It only means that a browser shut down and closed the connection to the storage_controller.

Could you share the website that was being visited at that time?
Because this means that this website is breaking OpenWPM.

[2021-04-29 10:53] vringar commented on #907
From my understanding this only happens because the TaskManager is a context manager and calls it's `close` method when the exception bubbles out of the `with` statement. The actual error should be happening further up in the logs.

[2021-04-29 10:55] vringar commented on #906
Oh interesting, this might explain @bkrumnow's comment that he wasn't seeing any logging from the extension in the OpenWPM logs.
Thanks for digging into this and reporting the issue!

[2021-04-29 11:13] vringar commented on #870
Please commit both the changes to `package.json` and `package-lock.json` and create a Pull Request with your changes.

[2021-04-29 11:26] vringar commented on #905
Interesting. Do you have any other software that's using xvfb on that server?

[2021-04-29 13:55] Ayushsunny commented on #870
Hello @vringar I have made a PR.
could you review please

[2021-04-29 14:01] MaazBinMusa commented on #905
I have docker containers running firefox-52 tag of openwpm on the server as well but as far as I know xvfb is not used in headless mode and they are all in headless mode as well.

[2021-04-29 14:09] MaazBinMusa commented on #905
I was running this without process watch dog and it gave an error on this site

"http://www.cisco.com"

`BrowserManager       - INFO     - BROWSER 4: Launching browser...

[2021-04-29 14:12] vringar commented on #870
Thank you for your PR. I'll just wait for the tests to pass and then merge it.

[2021-04-29 14:15] Ayushsunny commented on #870
np Sir, I wanna work more under you sir.
as a new contributor you helped me in a nice way.
Thank you so much

[2021-04-29 14:16] vringar commented on #905
I can't find that tag on dockerhub. Can you link me to the image you're referring to?

True. This is quite curious.

[2021-04-29 14:18] MaazBinMusa commented on #905
https://github.com/mozilla/OpenWPM/releases/tag/firefox-52

This is the tag I used to create openwpm image and have been using it.

[2021-04-29 14:26] MaazBinMusa commented on #905
I also have a jupyter notebook running on the server that remotely links to my desktop so I can view it here. Is it possible that is using xvfb? even though it is running in the base env whereas this was running in openwpm env

[2021-04-29 14:32] vringar commented on #870
:) I'm always happy to help new contributors!
Do you want to work on #678 next?

[2021-04-29 14:35] vringar commented on #905
What's your reason for using such an old version of OpenWPM?

[2021-04-29 14:36] vringar commented on #905
I think it's more likely that the different versions of OpenWPM are somehow interfering with each other. Even though Docker should be isolating them against each other...

[2021-04-29 14:36] #870 closed

[2021-04-29 14:42] MaazBinMusa commented on #905
This was the last version that supported state-full crawls at the time. I can try rerunning with process_watchdog True once the dockers are all done in a few days.

Also even with the process_watchdog turned off, the crawl crashes as I showed above on "cisco.com". Can you shed some light on that?

[2021-04-29 14:43] Ayushsunny commented on #870
yes sir, Sure

[2021-04-29 15:15] Ayushsunny commented on #678
Hello @vringar Sir I couldn't find the `javascript.option.asyncstack` which we're going to set true.
can you help me with that ?

[2021-04-29 15:56] vringar commented on #905
Unfortunately I can't reproduce this error when checking out `v0.13.0` and trying to visit "cisco.com" directly on my local machine.
As a hacky work around I would suggest remove `AssertionError` from
https://github.com/mozilla/OpenWPM/blob/53e4516930f91b15d5731245ed13b2db1b080a38/openwpm/BrowserManager.py#L541-L547
so that a `BrowserCrashError` gets generated
https://github.com/mozilla/OpenWPM/bl

[2021-04-29 16:19] MaazBinMusa commented on #905
Okay, I will try this. Also was I right in assuming that browser4 caused the crawl to crash? Because browser10 throws the webdriver error as we can see in the logs i posted.

If so, is it because Critical bug crashes the crawl?

[2021-04-29 16:36] vringar commented on #905
Yes, sorry for not stating that earlier.

Yeah but a webdriver error turns into a BrowserCrashError which is not considered critical and so we don't stop the crawl.

Yes

[2021-04-29 17:37] MaazBinMusa opened #909 "v0.13.0 on google cloud vm"
``Hi,

I am trying to run v0.13.0 on a google cloud VM

[code]

I used this to clone the tag

`git clone --depth 1 --branch v0.13.0 https://github.com/mozilla/OpenWPM.git
`

I ran the install script and conda is installed but it keeps giving me this error

[code]

Am I missing some packages on the new VM? I installed `packagekit-gtk3-module` as well and still no luck

[2021-04-29 17:49] MaazBinMusa commented on #909
I started another new VM with the latest openwpm and same issue. There is an error when running the install script

[code]

[2021-04-29 21:58] vringar commented on #909
What happens if you run `<openwpm_root_dir>/firefox-bin/firefox-bin --version`?

[2021-04-29 22:02] vringar commented on #678
Hey,
You will need to set the option true in this function
https://github.com/mozilla/OpenWPM/blob/18e12864cef5d7a8c855db7e78cdeebb7c445836/openwpm/deploy_browsers/configure_firefox.py#L132-L252

I'd expect something like
[code]

[2021-04-29 22:42] MaazBinMusa commented on #909
XPCOMGlueLoad error for file /home/maazbinmusa94/OpenWPM/firefox-bin/libmozgtk.so:
libgtk-3.so.0: cannot open shared object file: No such file or directory
Couldn't load XPCOM.

[2021-04-30 03:58] MaazBinMusa commented on #907
Hi, thanks for the consistent and quick replies

This is the site that crashes the latest openwpm build. This throws a critical bug

`http://www.yts.mx`

[2021-04-30 07:09] Ayushsunny commented on #678
Hello @vringar Sir I've made PR for this issue.
could you review it pls [here](https://github.com/mozilla/OpenWPM/pull/910)

[2021-04-30 15:15] vringar commented on #905
Closing this for now.

[2021-04-30 15:15] #905 closed

[2021-04-30 15:39] vringar commented on #909
Consider installing libx11-xcb so that it can be found by Firefox.

[2021-04-30 17:38] #906 closed

[2021-05-01 06:59] MaazBinMusa commented on #909
I will try this out. I was able to make v13 work by running it in its docker. It sometimes starts giving the following error but I think Openwpm recovers catches and manages the crash and continues the crawl

[code]

I am going to close this for now since I found a work around, but I will try installing the libx11 and get back here.

[2021-05-01 06:59] #909 closed

[2021-05-03 10:57] #892 closed

[2021-05-03 15:32] vringar opened #914 "Consider replacing GCSFS with google.cloud.storage for unstructured data"
Currently the writing of unstructured data for whatever reason keeps throwing the same error:
[code]
(This is on d09e213)

When using google.cloud.storage we could specify the compression and everything else we want and hopefully eliminate this error.

[2021-05-04 09:46] boolean5 commented on #914
In two issues mentioning this error the users were able to resolve it by removing a configuration file: see [[1]](https://github.com/googleapis/gcs-resumable-upload/issues/17) and [[2]](https://github.com/googleapis/google-cloud-node/issues/1044). I doubt this will be useful in our setup but I'm leaving them here in case they give you an idea.

[2021-05-04 11:48] boolean5 opened #915 "Link to RTD documentation from README"
In order to make our new documentation on readthedocs discoverable, we should add its link (https://openwpm.readthedocs.io) to the `README` and perhaps also embed a docs badge, by adding the following:
[code]
Additionally, we could add the `openwpm.readthedocs.io` link to the About section of the repository.

[2021-05-04 11:53] boolean5 opened #916 "Move config documentation into docstrings"
We could port some of our configuration documentation from [`Configuration.md`](https://github.com/mozilla/OpenWPM/blob/master/docs/Configuration.md) to docstrings in [`config.py`](https://github.com/mozilla/OpenWPM/blob/master/openwpm/config.py).

An idea would be to keep some parts of `Configuration.md`, such as the [introductory part](https://github.com/mozilla/OpenWPM/blame/dafc26cb562a9d1a744

[2021-05-05 14:43] vringar commented on #914
Steps to still try:
v0.14.0 as it was
v0.14.0 with deps updated

[2021-05-05 19:28] bkrumnow commented on #766
Hey,

I have experimented a bit more. I observed that browsers sometimes crash during startup and break the barrier. The barrier does not recover on its own and needs resetting to prevent deadlocks.

Something like this can do the job (v0.13.0 style):

[code]

Still, it does not prevent all problems. In one run, I saw that all of my browsers were scanning the same site, except for one browser that

[2021-05-05 19:41] vringar commented on #766
Yeah, the solution is not perfect by any means, but I'm happy to help and glad it worked out this well.

[2021-05-05 19:41] #766 closed

[2021-05-07 10:12] boolean5 opened #918 "Optimize profile recovery"
Now, [when restarting a crashed browser](https://github.com/mozilla/OpenWPM/blob/bfc4644a717ee2cd9c7e83fee1dd9272d14d6a71/openwpm/browser_manager.py#L103L118), we archive its profile in a tar file and then extract the contents of this tar file into the profile of a freshly started browser. Maybe we could skip this intermediate step and reuse the old profile directly instead (i.e., avoid making two

[2021-05-07 11:33] #62 closed

[2021-05-07 12:26] Ayushsunny commented on #916
Hello @boolean5 I would like to work on this issue. can you guide me for this?

[2021-05-07 12:44] vringar commented on #916
Hey,
to resolve this issue I'd like you to do the following things:

1. Move the documentation from [Configuration.md](https://github.com/mozilla/OpenWPM/blob/master/docs/Configuration.md#platform-configuration-options) into the respective docstring of the attributes [here](https://github.com/mozilla/OpenWPM/blob/master/openwpm/config.py#L123)

2. Figure if it's possible to link from the Configura

[2021-05-10 16:01] vringar commented on #915
@Ayushsunny do you want to do this next?

[2021-05-10 16:24] boolean5 opened #921 "Fix extension tests and make them run on CI"
Tests under `test/extension` are failing. We didn't notice this before because we forgot to include them in the Github Action [workflow jobs](https://github.com/mozilla/OpenWPM/blob/889b54d4295e1ad5c0da24c29a3b0ed746da33ba/.github/workflows/run-tests.yaml#L51).

`test_logging` is failing because on [this line](https://github.com/mozilla/OpenWPM/blob/889b54d4295e1ad5c0da24c29a3b0ed746da33ba/test/ex

[2021-05-11 07:14] nrllh commented on #379
@englehardt just wanted to ping if there are any thoughts to implement such a function. Or am I missing something, and this function is already there?

[2021-05-11 16:21] MaazBinMusa opened #922 "Shutdown taking forever"
I created the docker image and in it I am using 30 browser instances. If I crawl 100 sites it completes the crawl and shuts down. However if I move up to 250 or 500 crawls. The crawls complete. I get this message as well:

`storage_controller   - INFO     - Received shutdown signal!`

But it takes hours and still the program does not terminate.

[2021-05-11 23:18] #914 closed

[2021-05-11 23:18] #889 closed

[2021-05-12 08:29] vringar commented on #922
Could you check in log file if the storage_controller logs any useful debug messages there?
The logs are always written to in debug mode, so there might be more useful info there.

[2021-05-12 15:54] #915 closed

[2021-05-12 15:57] vringar commented on #103
@Ayushsunny wanna look around our WebExtension code under `openwpm/Extension` and see if there are any console.log calls left around?

[2021-05-12 16:42] Ayushsunny commented on #103
@vringar According me there are no any `console.log` calls are left after digging that huge file. what to do next sir ?

[2021-05-16 14:28] shashigharti opened #925 "Undefined custom_params error"
When I try to run web extension using
`npm run watch`

I get this error
`can't access property "pre_instrumentation_code", config.custom_params is undefined` in index.js file.

![screenshot-nimbus-capture-2021 05 16-20_04_47](https://user-images.githubusercontent.com/5582809/118400819-feb1c900-b682-11eb-9530-b8fc4acd0024.png)

[2021-05-17 12:04] vringar commented on #925
Thanks for bringing this issue to our attention!

[2021-05-17 16:06] vringar opened #928 "Move from tslint to eslint"
TSLint has been deprecated for a year at this point and we should move to ESLint as the supported alternative. https://github.com/palantir/tslint/issues/4534

They even provide [a tool](https://github.com/typescript-eslint/tslint-to-eslint-config)  that should automate this migration.

@Ayushsunny do you want to try and do this?

[2021-05-17 18:37] Ayushsunny commented on #928
@vringar Yes Sir, Sure.
So I have to follow [these steps](https://github.com/typescript-eslint/tslint-to-eslint-config/blob/main/README.md) in our repo for the migration right?

[2021-05-18 09:51] vringar commented on #928
Yes, that is what I'd expect you to do.
Please file a PR early, so that I can look at the changes you've done.

[2021-05-19 04:47] Ayushsunny commented on #928
@vringar, Sir I'm getting these errors while configuring -

![Screenshot from 2021-05-19 10-16-12](https://user-images.githubusercontent.com/73520373/118757746-502ca480-b88b-11eb-929e-5db6cfaf08a1.png)

[2021-05-19 08:51] vringar commented on #928
You ran the command in the wrong directory.
Our typescript code is under `openwpm/Extension/webext-instrumentation`.
Please also make sure to have the conda openwpm environment activated.

[2021-05-19 10:17] #789 closed

[2021-05-24 10:05] #925 closed

[2021-05-24 11:05] #921 closed

[2021-05-27 09:07] nrllh opened #932 "Distinguish between timeout and exception while crawling"
I'm trying to find a way to distinguish between timeout and exception. `success` parameter by callback is also then false, if a visiting page takes more than set timeout even if the crawling was successfully. So in my case, `success` parameter should be `true`, if there was no error and additionally I should know if it's timed out or not.

Any thoughts how can I do that?

I'm appreciated for any h

[2021-05-27 11:21] vringar commented on #932
Do you need to do this at runtime or can you do this when analysing this data?

[2021-05-27 11:34] nrllh commented on #932
It actually doesn't matter, It's also fine if I can get it after crawling has been completed.

[2021-05-27 11:47] vringar commented on #932
Then I'd suggest doing this analysis on the data afterwards.
How do you save the data as SQLite or in parquet?

[2021-05-27 13:43] vringar commented on #932
Then unfortunately I don't have a ready made script for you, but you should be able to look at the `crawl_history` table and group by visit id filtering down to `ok`, `timeout` and everything else.

[2021-05-27 14:28] nrllh commented on #932
oh, this helps me too. Thank you!

[2021-05-27 14:28] #932 closed

[2021-06-08 14:35] Jidbo opened #933 "Include OpenWPM as a module"
I'm in the process of upgrading our project from OpenWPM version 0.13 to version 0.15, and I have hit a roadblock.

In our project we have OpenWPM included as a git submodule and import the `CommandSqequence` and `TaskManager` classes directly from there. Somewhere in the update from 0.13 to 0.15 the imports seem to have changed. In 0.13 OpenWPM used relative imports, but now all imports are from

[2021-06-09 08:47] vringar commented on #933
Hey,
that's a really clean way to integrate with OpenWPM.
You should be able to fix the import errors you're seeing by adding the `OpenWPM` folder to your [PYTHONPATH](https://docs.python.org/3/using/cmdline.html#environment-variables) environment variable.
Something like
[code]

[2021-06-11 12:56] Jidbo commented on #933
Thank you, I'll try this. :+1:

[2021-06-11 12:56] #933 closed

[2021-06-12 12:13] MaazBinMusa opened #936 "READ ME file"
For docker support, the commands are not updated. The current docker run command still has a `python3 op/OpenWPM/demo.py` at the end.

But with `CMD = ["python","demo.py"] `in the Dockerfile, we dont need that in the docker run command

[2021-06-13 21:34] MaazBinMusa opened #937 "docker latest"
Unable to run docker in interactive shell.

1- I removed the CMD line from dockerfile and built the image
2- I ran the docker run command and just removed the python command at the end

This should allow me to enter docker shell but instead gives thsi error

[code]

[2021-06-14 05:30] vringar commented on #937
Hey,
We use tini instead of bash as the root process of our containers to ensure signals get passed through properly.
If you specify the run command to be bash you should get the shell you want.

[2021-06-14 05:57] #937 closed

[2021-06-14 08:19] vringar commented on #936
Do you want to file a Pull Request to fix this?

[2021-06-14 20:13] MaazBinMusa commented on #936
Sure! Just did.

[2021-06-14 20:13] #936 closed

[2021-06-23 07:06] nrllh commented on #379
I tried to do this with the following SQL statement:
[code]

So my goal is to get cookies with their last value and cookies that are not deleted. Do you think, I'm interpreting the table right and getting with the statement the cookies I want?

[2021-06-28 17:24] vringar opened #941 "Document how to use primed profile"
Currently there is no documentation on how to use primed profiles e.g. to run crawls with Addons or with some previous set of Cookies and Site Data.

[2021-06-29 03:03] 8-legged-elephant commented on #941
I was trying to run a crawl with the uBlock Origin extension and I am unable to get it working.

The steps I took were:
- Created a new firefox profile called 'uBO_profile'
- Opened a new instance of firefox using that profile
- Installed the uBlock Origin extension
- Closed all instances of firefox
- Located the profile directory and compressed it to a .tar file
- In the demo.py file included, I

[2021-06-29 07:31] vringar commented on #941
I just remembered that we already wrote something on the topic.
See [here](https://openwpm.readthedocs.io/en/latest/Configuration.html#load-a-profile).

It sounds to me like you tarred the profile directory instead of the contents of the profile directory.
That's why your profile is copied in a subfolder in the active profile instead overwriting the active profile.

[2021-06-29 14:59] 8-legged-elephant commented on #941
Okay, thanks for clarifying. I did not see the doc entry about profiles. I think it is because I do not have much experience with Firefox profiles, so I was looking for 'adding extensions' instead of 'adding profiles'.

I appreciate all the help.

[2021-06-29 19:34] vringar commented on #941
Then I'll write up something explicitly mentioning add-ons

[2021-07-09 13:07] vringar opened #942 "javascript_cookies contains records with visit_ids that don't show up in site_visits"
taehyung222 reported on Matrix:

This might be related to #922 and be caused by the number of browsers running in parallel.

[2021-07-09 22:38] MaazBinMusa opened #943 "Save Content Decode error when saving image"
I added this line in the config.py

`save_content: Union[bool, str] = "image,media,script,imageset"`

Ran 1 site. Looked up the hash for an image from the http_response table and tried getting the image using plyvel.

[code]

This saves an error image. So I added a line from an answer I found on stackoverflow

[code]

However this keeps giving me unicodedecodeerror.

[2021-07-16 10:19] vringar commented on #943
Hey,
I  don't think decoding the image will do what you want.

We have this test to check that content saving actually works:
https://github.com/mozilla/OpenWPM/blob/6742ebbec896a568459fd039ea41e027fac75a55/test/test_http_instrumentation.py#L957-L992

Which basically does the same thing you were doing at first, so I don't have any idea why it wouldn't work.
Are you sure about the type of file this

[2021-07-16 14:57] #928 closed

[2021-07-16 16:30] vringar commented on #379
I'm sorry this level of SQL is completely unreadable to me.
I'd probably implement this in either Pandas or Spark to be able to have intermediates with names and a syntax I'm familiar with.

[2021-07-16 16:32] MaazBinMusa commented on #943
It turned out to be a different error. I was trying this on a virtual machine. Which seemed to have been the issue. Otherwise you are right the test method / my first method it working fine.

Thanks. closing this

[2021-07-16 16:32] #943 closed

[2021-07-16 16:32] #166 closed

[2021-07-19 02:15] GorgMish opened #946 "Continue CommandSequence after Exception in GetCommand"
Currently, the OpenWPM stop running subsequent command if an error occurs in the previous commands.
I added a custom command which will set data entries inside an implemented table for each website. The problem is this custom command should be executed after `GetCommand` which might face an error, so some gaps appear in the table making it hard to compare tables from different crawls (with the sam

[2021-07-19 10:25] vringar commented on #946
Hey, thanks for bringing this interesting use case to my attention.
Currently I can't think of a way to do this, unless you are willing to give up on parallelization, run each CS blocking and then execute the code from the custom command in your own script. (This assumes you don't need access to the things you get in the `execute` method)

I think there is a way to implement this behaviour. Howeve

[2021-07-19 11:07] GorgMish opened #947 "Hanging when excecuting webdriver-related commands in some cases"
During crawling some websites, the OpenWPM will kinda freeze when reaching a webdriver-related command, e.g. running "https://www.marriott.com" in official demo.py, the script will hang in this line of custom_command.py `link_count = len(webdriver.find_elements(By.TAG_NAME, "a"))`.
I think this can be related to the DB recording process since this issue usually happens for websites that relatively

[2021-07-19 12:10] GorgMish commented on #946
Thanks for the answer.
For me, I am using the third one since it doesn't need to change the OpenWPM source code.
However, I think the second approach is a more flexible and scalable one.

[2021-07-21 10:19] GorgMish commented on #947
`browser_param.extension_enabled = False` will fix the issue temporarily. (normally setting that to False will raise an error so some other modifications are needed)

[2021-07-21 16:29] vringar commented on #946
If you have time until this Friday I'll draft up approach 2 and publish it on a branch.

[2021-07-21 16:33] vringar commented on #947
There is no DB related activity happening in the link counting command however.
https://github.com/mozilla/OpenWPM/blob/491262e9a9f1a9397abba47bc500f2495971bce4/custom_command.py#L42-L43
:thinking:
Is this while using the modified GetCommand, so it doesn't stop the command sequence if there are errors?

[2021-07-21 16:33] GorgMish commented on #946
Sure thanks, I am not in a hurry!

[2021-07-21 16:33] vringar commented on #947
Also

shouldn't affect how any of this works.
This is quite curious.

[2021-07-21 16:35] vringar commented on #947
However this command also doesn't do anything useful for larger crawls and maybe we should encourage removing it then.
It's mostly there to show off how easily one can write their own commands.

[2021-07-21 16:37] GorgMish commented on #947
Yes, there is no DB related command in the costum_command.py, but I thought maybe the process of recording in the database is going on in another thread or process and that causes the problem.

[2021-07-21 16:41] GorgMish commented on #947
This issue would happen also with non-modified GetCommand, I used this scenario as the MWE so you can reproduce it.
Not just for the webdriver-related command in LinkCountingCommand, this would also be the case for the custom commands I have written myself.

[2021-07-22 13:01] ogasser commented on #947
I can reproduce this issue for http://www.marriott.com. The `FinalizeCommand` times out consistently, every time you run demo.py with `GetCommand` only (i.e. no `LinkCounting`) and only http://www.marriott.com in the target list.

Relevant log output:

[code]

@vringar can you reproduce this?

[2021-07-23 18:04] vringar commented on #947
I can reproduce it but don't have any idea, why this might be happening.
I'll need to investigate this further.

[2021-07-23 18:07] vringar commented on #947
Just me brainstorming:

Is it really the webdriver becoming unresponsive and if so, how could that happen?
Like how could a website crash the webdriver?? It shouldn't have that power.
Need to check the website console logs to see if there is anything going on there.
Also get instrumentation in the web extension, so we can see if it's something there.

[2021-07-23 18:10] GorgMish commented on #947
Disabling opwnwpm.xpi will fix this issue; since openwpm.xpi is responsible for communication between DB and browsers instances, I will suggest looking into those parts of the project to find the problem, i.e the instrumentation parts.

[2021-07-23 18:11] vringar commented on #947
Could either of you add another webdriver action right after the last action in the GetCommand and see if it starts hanging there instead of in the Finalize Command?

I'll likely only get to work on this next Friday so any information gathered until then would reduce the delay in getting this fixed.

[2021-07-23 18:12] GorgMish commented on #947
I already did; yes it will hang!

[2021-07-23 18:14] vringar commented on #947
Thanks! Okay, then I'm going to see when we last updated geckodriver, see if we need to update [our copy of their prefs](https://github.com/mozilla/OpenWPM/blob/master/openwpm/deploy_browsers/configure_firefox.py#L15) and see if I need to file an upstream bug.

[2021-07-23 18:17] vringar commented on #947
Nope, GeckoDriver hasn't been updated in forever. https://github.com/mozilla/OpenWPM/blame/master/environment.yaml#L11

[2021-07-23 18:35] vringar commented on #947
Hmm, I'm very confused.
Need to set up a minimal code sample just using selenium and visiting http://www.marriott.com to see if that breaks as well.
But GorgMish, you also said that disabling the extension fixes this, so that must have something do with it?

[2021-07-23 18:57] GorgMish commented on #947
Yes, it should have.
`Executing <Task pending name='Task-9' coro=<StorageController._handler() running at /home/alivm/Desktop/Intern/Proc/geographical-cookies/src/openwpm/openwpm/storage/storage_controller.py:94> wait_for=<Future pending cb=[<TaskWakeupMethWrapper object at 0x7f91e92a5f70>()] created at /home/alivm/miniconda3/envs/openwpm/lib/python3.9/asyncio/base_events.py:424> created at /home/

[2021-07-23 20:28] vringar commented on #947
I don't think this is related to this issue, or if it is then it's related via a common root cause.
This log message only says that processing the request took longer than `asyncio` thinks a single async task should be running for (iirc 100ms).
But the task still successfully continued, otherwise there would be an error message from `_handler` in the logs.

[2021-07-24 04:49] GorgMish commented on #947
Just guessing, because this log would be prompted several times (between 1 till 10, it varies time to time) exactly before the timeout log.

[2021-07-25 13:55] GorgMish commented on #947
@vringar It doesn't need to disable the whole openwpm.xpi; just disabling js_instrument (and accordingly callstack_instrument [#557 ](https://github.com/mozilla/OpenWPM/issues/557) ) will fix the problem. It is clear there is a huge amount of js_instrument recorded just for this single website, so as I already mentioned, the problem is likely related to the burst of the DB IO process.

[2021-07-25 14:17] vringar commented on #947
Could you try just disabling the callstack Instrument and see if that also resolves the problem?

[2021-07-25 14:22] GorgMish commented on #947
I disabled each of the instruments one by one and it just worked when I did it for js_instrument.

[2021-07-25 16:04] vringar commented on #947
Thank you for doing this investigation!

[2021-07-30 06:42] Ayushsunny commented on #904
Hello @vringar are you up?
Actually I'm not getting this, so I need your help

[2021-07-31 17:19] vringar commented on #904
Context from #930:

If you need a break from this PR have a look at #904. The folks at readthedocs.org recently switched us from conda to mamba and maybe that allows us to remove this work-around.
The way to check if we still need the workaround is to only change the .readthedocs.yaml so it uses our normal environment.yaml instead of the custom made environment-rtd.yaml and then create a new PR an

[2021-07-31 22:36] vringar commented on #904
Hey @Ayushsunny,

How are you?

This issue is not particularly urgent. If I can get my setup to work I might have a look at this next Friday

[2021-08-01 13:47] Ayushsunny commented on #904
I'm good Sir @vringar.
What about you???

okay sir, so what am I supposed to do now?

[2021-08-01 18:39] vringar commented on #855
As we plan to move into an independent org and won't have a CircleCI subscription available to us anymore, I think we should just stay on GH Actions.

[2021-08-01 18:39] #855 closed

[2021-08-01 18:42] vringar commented on #862
@Ayushsunny do you want to work on this?
[This file](https://github.com/mozilla/OpenWPM/blob/master/openwpm/storage/parquet_schema.py) would need to be modified as part of this change.

[2021-08-28 01:42] MaazBinMusa opened #952 "Privacy Extentions"
Is there any support of privacy extensions? I used seleniums install_addon and gave it an xpi of UBO. It seemed to load the extension just fine.

However I am unable to change selected filter lists. Previously updating storage.js file would do the trick. However I am unable to go around this problem at the moment.

[2021-08-28 10:12] vringar commented on #952
Hey,
Have a look at #941
Basically, you have to install the add-on manually on a preferably fresh profile, then package up that and set it as the seed_profile for your crawl.

[2021-08-29 18:42] MaazBinMusa commented on #952
Hey thanks!

I am instead doing this in deploy_firefox.py after webdriver is launched.

[code]

I have an xpi at this directory and it is loading it fine.

My only concern is if the browser restarts will it load the extension?

[2021-08-30 19:08] MaazBinMusa commented on #952
I set reset to true in the execute_command_sequence function and it seems to still load the extension. Not sure where it would not persist otherwise

[2021-08-30 19:10] MaazBinMusa commented on #941
@8-legged-elephant  Did you try just installing the xpi with selenium's install_addon function in the deploy_firefox.py file?

[2021-09-27 11:31] 1core0 opened #956 "Configure OpenWPM to crawl one single page with all internal links"
I'm spending a couple of days to configure OpenWPM with memcache (first tried it with queue) to crawl one single webpage including all internal links it contains.
Is it somehow possible to easily configure OpenWPM itself without using memcache (saves internal links) and for looping GetCommand?

[2021-09-29 20:08] MaazBinMusa opened #957 "OpenWPM hangs"
In the deploy firefox file I install an add_on adblocker towards the end, after openwpm xpi is installed.

After this I run a simple crawl of 50 websites. This results in the crawl getting executed but gives these warning (about 50 of these) and the demo.py does not shutdown. It Just hangs.

[code]

Running without the xpi results in a proper shutdown.

[2021-10-08 03:10] xiufenyu opened #958 ""docker build -f Dockerfile -t openwpm. " ERROR"
I am starting to use openWPM and tried to install and build openWPM in my ubuntu. Unfortunately, I cannot build openWPM in Docker. Actually,
(1) I don't have openWPM under /opt directory
(2) There is no .npm  under /opt, so I cannot check detailed error logs.
Can someone help me? As I am new with openWPM, and the log has little clues. This problem blocks me for several days. Thank you very much!

[2021-11-17 10:13] sober1998 opened #959 "Build Extension Failed"
I am running OpenWPM on the Ubuntu 18.04 virtual machine. When i run install.sh, it's always keep this error. What should i do?
[code]

[2021-11-23 21:13] elliottwaissbluth commented on #957
I've had the same issue plenty of times, it prevents me from doing long scrapes without manual intervention. A fix would be greatly appreciated.

[2021-12-03 01:38] UmarIqbal commented on #958
I ran into the same problem today. I noticed that the webext-instrumentation build directory was not getting deleted in the Docker container:

`Error: EISDIR: illegal operation on a directory, copyfile '/opt/OpenWPM/Extension/webext-instrumentation/build' -> '/opt/.local/share/Trash/files/6e07e442-5602-4779-8d39-0a7800ee48d3'`

If you delete the `Extension/webext-instrumentation/build` yourself be

[2021-12-06 03:55] ssadhuka opened #960 "Custom command sequence for browser fingerprinting analysis?"
Hi,

I am trying to use OpenWPM to do some basic browser fingerprinting analysis.  I see that custom_command.py can be used to make custom command sequences for various tasks, such as counting the number of links on a page.  I am wondering if there are examples of similar code for browser fingerprinting analyses, such as canvas fingerprinting detection, perhaps similar to the code in `Extension`.

[2021-12-06 20:01] vringar commented on #960
Hey Shuvom,

I would suggest to not try to detect whether a website is fingerprinting while running the crawl.

Instead I would suggest that you have a look at [the documentation for the JS-Instrument](https://openwpm.readthedocs.io/en/latest/Configuration.html#js-instrument) and collect information on the APIs you care about.

This data will then be saved into the SQLite database (assuming you di

[2021-12-07 01:37] ssadhuka commented on #960
Thank you, this is very helpful!  Is there an example script for the types of analysis OpenWPM does for fingerprinting detection?  Of course, I can do an analysis for a fairly simple definition, but given OpenWPM's vast database of fingerprinting sites, I was wondering if there's a specific example of a comprehensive analysis done.

[2021-12-07 10:18] vringar commented on #960
Unfortunately the fingerprinting detection we did at Mozilla remains secret to avoid trackers gaming our heuristics.
However, feel free to look through the papers written with OpenWPM and see if they have a definition that matches yours.
Sorry for not having code to show.

[2021-12-07 20:11] vringar commented on #959
A quick google search suggests that git is not installed in your VM. Is that the case?

[2021-12-07 20:14] vringar commented on #958
@UmarIqbal that's a brilliant observation. I think this might be fixed by changing the owner of the files when copying the files.

[2021-12-08 07:55] sober1998 commented on #959
yes, it is. Thanks very much!

[2021-12-08 10:19] #959 closed

[2021-12-15 16:06] Bender250 opened #964 "Firefox installation fails for older versions"
Hi,

The script `./scripts/install-firefox.sh` for OpenWPM v0.12.0 tries to download Firefox from this link: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-release.revision.bd5d1f49975deb730064a16b3079edb53c4a5f84.firefox.linux64-add-on-devel/artifacts/public/build/target.tar.bz2. The problem with this link is that Firefox seems to remove old tags from https://firefo

[2021-12-16 11:23] vringar commented on #964
Hi,

thanks for reporting this issue.
Keeping old research reproducible seems like something we should aim for.
I'm thinking about creating a repo that just contains the tar.gz files. This way we are in control of the binaries.

I think, we'd still need to manually copy the tars over to that repo, so the comment would remain relevant.

Iirc other people keep the OpenWPM code and their code separat

[2021-12-16 11:36] #952 closed

[2021-12-16 11:41] vringar commented on #956
Hey, unfortunately this is not really possible easily.
Since the main program and the commands are running in different processes communicating back from the commands to the main program is a bit tricky.
You could write your own command that finds all internal links and then create a GetCommand on them. However you will run into timeout issues with this. And you won't get the robustness of having

[2021-12-16 11:41] #956 closed

[2021-12-16 11:47] vringar commented on #946
I think I never got around to this. And looking back at this, I don't think ignoring errors is a common enough use-case to justify this feature.

[2021-12-16 11:47] #946 closed

[2021-12-16 11:54] vringar commented on #957
This seems like a duplicate of #922.
I don't think I will have time to debug this any time soon, because I don't even know where to start on this one.
How many browsers are you running in parallel? Still 30?
Without the xpi there is no data collected, so there is no data the storage controller can get stuck on saving.

[2021-12-16 13:41] vringar commented on #957
Just dumping my thoughts in here:

When we collect a lot of data from a lot of browsers and then tell the Storage Controller to shut down it doesn't shut down because it gets hung up on trying to mark all the unfinished visit_ids as unsuccessful
https://github.com/openwpm/OpenWPM/blob/3354bc18756dfcb3119d171177967aafb87b8d84/openwpm/storage/storage_controller.py#L250-L267

Are you using the SQLite

[2021-12-16 14:07] Bender250 commented on #964
I was thinking exactly that, it would help keeping research reproducible! And you are right that the comment in `install-firefox.sh` remains relevant, you will need to back-up the tar file from somewhere in the first place.

Given how much changed since v0.12.0, I will just get an old Firefox release from backups to do the changes that I needed before Christmas. But when I find more spare time, I

[2021-12-16 14:21] #960 closed

[2021-12-20 15:45] vringar commented on #867
Since mozilla/geckodriver#1844 is now fixed, we should remove the workaround now.

[2021-12-20 15:46] vringar commented on #867
(Assigning this to myself unless @boolean5 has too much free time over the holidays and wants to revert this themselves :smile: )

[2021-12-21 16:50] vringar commented on #330
I don't think we'll ever separate the instrumentation from OpenWPM ever again.

[2021-12-21 16:50] #330 closed

[2021-12-21 16:51] #103 closed

[2021-12-21 16:52] #142 closed

[2021-12-21 17:19] #472 closed

[2021-12-21 17:30] vringar commented on #505
Looking back at turban1988's comment and other issues on this repository, we should document why shared state between the TaskManager/main process and the BrowserManagers is impossible.
And then provide an example using Redis or something similiar on how to effectively recursively crawl.

[2021-12-21 17:39] vringar commented on #529
Looking back at this from a simplifying lense for long-term maintainability:

- merge the two extension folders
- keep TS around
- write documentation for implementing custom instrumentation
- maybe get rid of webpack for smt simpler

[2021-12-21 17:42] vringar commented on #595
They are all reenabled

[2021-12-21 17:42] #595 closed

[2021-12-21 17:43] vringar commented on #602
Incremental progress has been made on this issue.

[2021-12-21 17:43] #602 closed

[2021-12-21 17:44] vringar commented on #616
I think this can be done as a post-processing step.

[2021-12-21 17:44] #616 closed

[2021-12-21 17:48] #649 closed

[2021-12-21 17:52] #654 closed

[2021-12-21 17:52] #655 closed

[2021-12-21 17:55] vringar commented on #657
Hm, I still think it's valid to say that people should use Ubuntu.
Whether that Ubuntu is running under WSL2 or a VM is something that researchers can decide for themselves.

[2021-12-21 17:55] #657 closed

[2021-12-21 18:04] vringar commented on #659
I'd love to have this but I don't think I'll ever get around to it, so closing.

[2021-12-21 18:04] #659 closed

[2021-12-21 18:41] #695 closed

[2021-12-22 07:36] #702 closed

[2021-12-28 16:47] boolean5 commented on #867
Hey @vringar! Thanks for reaching out! I'd be happy to work on this in a couple of days :)

[2021-12-28 18:12] vringar commented on #867
Thank you so much!

[2022-01-16 13:54] vringar opened #967 "Consider logging return value of function call"
We currently log a call before we call the function.
https://github.com/openwpm/OpenWPM/blob/771b6db4169374a7f7b6eb5ce6e59ea763f26df4/Extension/webext-instrumentation/src/lib/js-instruments.ts#L442-L451
This results in us being unable to capture the return value so we leave it empty.
https://github.com/openwpm/OpenWPM/blob/771b6db4169374a7f7b6eb5ce6e59ea763f26df4/Extension/webext-instrumentation/s

[2022-01-16 16:17] #867 closed

[2022-03-22 11:54] kyleyoon12 opened #978 "demo.py running error"
Hi, I am trying to run demo.py but leaving the below error. Seems like there is no appropriate extension thus I tried to install by running 'build-extension.sh' but failed. Would you mind taking a look at this issue?

For your information, I followed up on your instruction under "installation" and "pre-requisites". I am using a fresh ubuntu-20.04.4 / Linux environment. Thank you in advance.

**[de

[2022-03-22 12:23] #978 closed

[2022-03-22 12:26] kyleyoon12 commented on #978
I needed to install node.js by running "apt-get install -y npm". Later on, I could run "build-extension.sh" successfully. Then I ran demo.py and now I am facing "FileNotFoundError: [Errno 2] No such file or directory: '/tmp/firefox_profile_vtm6bz_7/extension_port.txt'" error. I'll see what I can do to solve it.

[2022-03-22 12:42] kyleyoon12 opened #979 "demo.py running error"
Hi, I am trying to run demo.py but leaving the below error. Seems like there is no "extention_port.txt"... Would you mind taking a look at this issue?

For your information, I followed up on your instruction under "installation" and "pre-requisites". I am using a fresh ubuntu-20.04.4 / Linux environment. Thank you in advance.

**[demo.py]**
[code]

[2022-03-23 04:22] kyleyoon12 commented on #979
Thanks for your advice. So far, no modification has been made...
As advised, I again ran "./scripts/build-extension.sh" but I can see the same error message indicating(below).
I'll keep looking at what I can do...

"FileNotFoundError: [Errno 2] No such file or directory: '/tmp/firefox_profile__j_06uwv/extension_port.txt'"

[2022-03-23 07:48] vringar commented on #979
Okay, a couple of ideas:
1. Run ./firefox-bin/firefox to see if it starts correctly
2. In the BrowserParams change the display mode to `native` and increase both the sleep and the timeout of the get command.
Then, once the browser window is visible, open a new tab, go to about: debugging, go to the second panel (I'm on mobile so I can't look up the name rn) and then inspect the openwpm web extensi

[2022-03-23 08:44] kyleyoon12 commented on #979
Thanks again for your quick advice!

I followed accordingly but as a result, I was not able to find error information(actually blank) during debugging of the browser after running "demo.py". Also leaving the same error message(below) which is obvious

"FileNotFoundError: [Errno 2] No such file or directory: '/tmp/firefox_profile__j_06uwv/extension_port.txt'"

My guess is, it seems there is no exte

[2022-03-23 11:37] vringar commented on #979
All good, this is very weird and shouldn't happen, so it needs to be investigated.
Can you confirm that there is an  `openwpm.xpi` under `Extension/firefox`?
Also can you paste the content of the `geckodriver.log` from the root of the project.

[2022-03-24 02:00] kyleyoon12 commented on #979
Hi! I can confirm there is an "openwpm.xpi" under "Extension/firefox".
Below is the copy of logs from "geckodriver.log".

Many thanks for your engagement over this.

1647937343498   geckodriver     INFO    Listening on 127.0.0.1:44175
1647937344006   mozrunner::runner       INFO    Running command: "/usr/bin/firefox" "--marionette" "--remote-debugging-port" "60175" "-no-remote" "-profile" "/tmp/ru

[2022-03-24 12:44] vringar commented on #979
I really don't know what is going on there. Can you try pulling the latest master, rerunning `install.sh` and then trying again.

[2022-03-25 10:57] vringar opened #982 "Test container image"
Our container image has been broken for an unkown amount of time.
This is highly concerning as we want people to use it, if they don't need to modify OpenWPM.

[2022-03-25 10:57] vringar commented on #982
https://github.com/openwpm/openwpm-crawler/issues/56

[2022-04-10 05:57] shashigharti opened #987 "Tracking javascript events"
Hi,

I am trying to use openwpm to track user activities (js events). But I could not log/get js button click and other events. Does web-extension(js instrumentation) track the data such as button click and other other events ?

[2022-04-13 08:37] nrllh opened #989 "Duplicate request_id"
I noticed in my dataset that the same `request_id` was assigned for different requests (although it's rare). This currently means that the `request_id` in callstacks cannot be clearly assigned.

It is particularly important that I find the right `request_id` for call stacks. Depending on the `timestamp`, I could take the first request (after the last request in the callstack), but I'm not sure if

[2022-04-13 09:42] vringar commented on #989
Hey, this might be due to these request being part of a redirect chain. Iirc during a single redirect the http channel gets reused.
So all of these requests might indeed be triggered by a single call.
Try looking at the `response_status` in the `http_responses` and see if that brings up anything.