[2019-07-04 08:25] motin commented on #381
Good thoughts @englehardt. We could also consider configuring Travis to test against a matrix of Firefox versions that could correspond to nightly, beta, release or similar. In travis, we could allow the builds corresponding to nightly and beta to fail, so that they don't block passing PRs that work against release, but still continously warn us about breakage in upcoming versions - and let those

[2019-07-04 14:34] motin commented on #289
This was fixed in #375 along with #374

[2019-07-04 14:34] #289 closed

[2019-07-04 14:36] motin commented on #287
Ideally package-lock.json is tracked since it allows for deterministic installation of dependencies across environments. To avoid these small diffs, we should make sure to use the same node and npm versions. We could also use yarn instead of npm.

[2019-07-04 14:57] motin opened #393 "Define issue culling policy"
This repository has over a hundred open issues, of which many are from 2015-2018.
I assume that many of them either are either fixed, abandoned or irrelevant. Given resource constraints, it may be relevant to only keep up to date issues open that are known to affect users of the latest version of the platform.

Closing abandoned issues after a period of inactivity is easy to set up with https://gi

[2019-07-05 22:38] Grossdm commented on #224
Unfortunately I haven't learned how to use IRC.

I suppose it's only a matter of selecting a client (or I think that some IRC servers host via HTTP/S) and diving in.

[2019-07-08 08:31] Zernez commented on #387
@englehardt , here the complete install-log, there's three error in the middle for different version of packets, I see:

Scaricamento di:1 https://deb.parrotsec.org/parrot parrot InRelease [14,6 kB]
Recuperati 14,6 kB in 1s (14,2 kB/s)
Lettura elenco dei pacchetti... Fatto
Generazione albero delle dipendenze
Lettura informazioni sullo stato... Fatto
Tutti i pacchetti sono aggiornati.
Lettura elenc

[2019-07-08 21:57] englehardt commented on #387
It looks like this is a known issue in the node installer (https://github.com/nodesource/distributions/issues/792). That issue recommends following the manual install instructions (https://github.com/nodesource/distributions/#debmanual).

[2019-07-08 21:57] #387 closed

[2019-07-08 21:59] englehardt commented on #321
@felix would you mind to past the output of the install script here, or using a site like https://pastebin.com/? thanks!

[2019-07-09 08:15] #337 closed

[2019-07-10 07:39] motin commented on #329
This is blocked by #395 and npmjs access at the moment

[2019-07-10 15:15] englehardt commented on #184
This is based on our old instrumentation. Closing

[2019-07-10 15:15] #184 closed

[2019-07-10 15:27] englehardt commented on #6
This applies to our old instrumentation.

[2019-07-10 15:27] #6 closed

[2019-07-10 21:08] motin commented on #381
As per https://github.com/mozilla/OpenWPM/pull/396/files, we probably need to monitor/parse that wiki page to get the builds that corresponds to specific releases.

[2019-07-10 21:34] motin commented on #329
This is blocked by npmjs access at the moment. Npmjs support ticket sent.

[2019-07-11 13:10] #317 closed

[2019-07-11 15:34] motin commented on #329
Npmjs access resolved.

[2019-07-11 15:44] motin commented on #329
This is done - https://www.npmjs.com/package/@openwpm/webext-instrumentation

[2019-07-11 15:44] #329 closed

[2019-07-11 16:12] dmarti opened #398 "VPN test environment"
We have the option of using 2 different VPN systems:

 * SSTP

 * L2TP/IPSec (These always seem to take longer to get setup but are secure and supported by nearly everyone.)

We need a compatible test VPN (as a Docker container?) for OpenWPM's own VPN to connect to.

One router that we have the option to VPN into: https://wiki.mikrotik.com/wiki/Manual:TOC )

Measure traffic to figure out how many

[2019-07-11 16:13] dmarti commented on #398
cc @englehardt

[2019-07-12 20:53] motin commented on #249
Fyi I am working on setting this up using https://kubernetes.io/docs/tasks/job/fine-parallel-processing-work-queue/ as per @jasonthomas suggestion.

[2019-07-12 20:59] motin commented on #293
Yes, anyone can do it as long as the image is pushed to a registry that the Kubernetes cluster can access. GCP includes a registry for each GCP project so this is a no-brainer for anyone with GCP credentials.

Yes. The workflow would be to load a site list into a redis service using a helper function / python script (the list is named, ie "foo-crawl-123") and then launch a crawl that consumes that

[2019-07-12 22:36] englehardt commented on #249
FYI I have some WIP patches for this as well. See:
* https://github.com/mozilla/openwpm-crawler/pull/6
* https://github.com/englehardt/OpenWPM/commit/fca287f98fa67018ba78198d924ed10ef626eccc

In case it's helpful. I'm planning to run a test crawl before preparing a commit for this repo.

[2019-07-13 11:32] Zernez opened #400 "Docker container"
Hello,
I try to build a docker file, but seems don't work. I see option with docker build--help  "-f" is for the name of file ("Dockerfile" in this case). "-t" option for a name:tag option.
It build something only out of "OpenWPM" directory with command "docker build /path-of-OpenWPM" but it don't work with commands write in the instruction. I have lost some things? Thank you.

fernandez@fernandez

[2019-07-15 05:20] motin commented on #293
Work on this is going on at https://github.com/mozilla/openwpm-crawler/pull/7

[2019-07-15 08:47] motin commented on #249
This work has been consolidated into https://github.com/mozilla/openwpm-crawler/pull/7 and https://github.com/mozilla/OpenWPM/pull/401

[2019-07-15 21:00] motin commented on #400
Hi @Zernez, try this (from [here](https://github.com/mozilla/OpenWPM#docker-deployment-for-openwpm)):

[code]

Notice the dot at the end :)

[2019-07-15 21:05] motin opened #403 "UnicodeDecodeError: 'utf8' codec can't decode byte 0xea in position 522: invalid continuation byte"
There seem to be some issue related to serializing and deserializing JSON between the instrumentation and the platform.

Log output:
[code]

[2019-07-15 21:11] motin opened #404 "Alerts causing `WebDriverException: Message: Failed to decode response from marionette`?"
Not sure what this one is about, apparently something related to reading the value of alerts (`self.driver.execute(Command.W3C_GET_ALERT_TEXT)["value"]`) causing this crash?

Log output:
[code]

[2019-07-16 00:16] motin opened #405 "Clarify to Mozilla that the Firefox profiles are not owned by humans"
We should clarify to Mozilla that the Firefox profiles are not owned by humans, so that usage of OpenWPM does not affect general user retention / behavioral metrics. Neither should Firefox profiles used in OpenWPM be targeted for studies, auto-updates etc.

[2019-07-16 05:35] Zernez commented on #400
Thank you :) But I had miss the dot in the past, I think. I try now to write manually without dot, and do the same....

[2019-07-16 07:14] englehardt commented on #400
@Zernez did this fix it for you? If so, let's close.

[2019-07-16 07:42] englehardt commented on #404
Related to #255. We should take note of all of these types errors in the WebExtension crawls and fix where possible. The current crash rate is quite high.

[2019-07-16 07:43] englehardt commented on #403
Related to #255

[2019-07-16 08:05] motin commented on #249
This was added in https://github.com/mozilla/OpenWPM/pull/401

[2019-07-16 08:05] #249 closed

[2019-07-16 08:48] motin commented on #255
How is this number calculated? Do we store information about crashes in the resulting crawl datasets?

It seems like the right thing to do here is to set up [Sentry](https://sentry.io/) or similar solution so that patterns in these errors can be properly detected and troubleshot.

[2019-07-16 09:11] motin opened #406 "Configure Sentry for error/crash report aggregation"
This supports resolving https://github.com/mozilla/OpenWPM/issues/255

Docs: https://sentry.io/for/python/, https://github.com/getsentry/sentry-python

[2019-07-16 09:43] motin commented on #293
This is now done and documented at https://github.com/mozilla/openwpm-crawler#run-a-crawl-in-google-cloud-platform

[2019-07-16 09:43] #293 closed

[2019-07-16 09:45] englehardt commented on #255
Yes, see https://dbc-caf9527b-e073.cloud.databricks.com/#notebook/71922/command/71923

[2019-07-16 09:52] englehardt commented on #255
/cc @gunesacar, who also has some data on this comparing the 1M site crawls we used to run on FF52 and a crawl with the new webextensions instrumentation.

[2019-07-16 09:57] motin commented on #294
Related: Using Mock S3 to run local crawls with crawl data stored in parquet format: https://github.com/mozilla/openwpm-crawler/tree/master/deployment/local

[2019-07-16 10:19] Zernez commented on #400
@englehardt no fix, because i was writing without dot at the start.

[2019-07-16 11:02] motin commented on #405
Possible configurations to discuss:
* Disable studies?
* Disable telemetry?
* Leave enhanced tracking protection on by default?

[2019-07-16 14:30] aliamcami opened #407 "TypeError: '>=' not supported between instances of ____ and 'int'"
The following two errors occur frequently:
Version of crawler used: cb164a30758a10a6813e6a29fc13ccc1c952d5f0 and 42cea2dc4dba1e0331ab57eeef491d7413c5570f
Example of pages to craw that present these errors: ```[ 'https://www.shopify.com', 'https://www.mailchimp.com', 'https://www.xfinity.com', 'https://www.wellsfargo.com', 'https://www.vice.com', 'https://www.gamepedia.com', 'https://www.ltn.com.tw

[2019-07-16 15:35] englehardt commented on #407
Related to #255

[2019-07-16 16:53] gunesacar commented on #255
Yes, we got 4x more GET command failures with the webextensions instrumentation compared to the previous (November 2018) crawl. See the 7th figure from the top on this notebook: https://github.com/citp/openwpm-data-release/blob/master/Crawl-Data-Metrics.ipynb

Happy to share the crawl logs and the database. You can also download them as part of the [Princeton Web Census Dataset](https://webtranspa

[2019-07-17 15:14] Zernez commented on #400
The error now report the "permission denied" when I want to run. I have build the container correctly and added the permission on local server: "xhost +local:docker" (I have to modify xhost?) . I have tried with sudo too in OpenWPM directory. Thank you.

ferna@ferna-pc:~/OpenWPM$ mkdir -p docker-volume && docker run -v $PWD/docker-volume:/root/Desktop \

docker: Got permission denied while trying

[2019-07-17 16:20] markstory opened #408 "String.prototype.rsplit pollution breaking sites"
It seems like this code is being included in a Firefox pioneer experiment, and this repository defines `String.prototype.rsplit` as an enumerable property which can break sites that use jQuery.

## Reproduction

1. Be enabled int the openwpm experiment in Pioneer. I'm not sure what the actual name is a pioneer doesn't expose that information easily.
2. Go to a page that includes jQuery 3.x and cal

[2019-07-17 21:52] tdsmith commented on #405
Geckodriver switches updates and studies off and throws away telemetry by default: https://searchfox.org/mozilla-central/source/testing/geckodriver/src/prefs.rs -- would those prefs be applied for openwpm?

[2019-07-18 08:41] #408 closed

[2019-07-18 08:51] englehardt commented on #405
They should be. We also apply our own set of prefs (though these need an audit / cleanup to make sure they're up to date): https://github.com/mozilla/OpenWPM/blob/master/automation/DeployBrowsers/configure_firefox.py#L89

[2019-07-18 19:05] felix4webscience commented on #321
@englehardt, hi i am sorry for replying late. I will pass it here in the next days. First, I will see, if things changed after all your work during the last days and try reinstalling again. Thanks for your support.
Greetings Felix

[2019-07-19 09:18] motin opened #416 "Consider using Redis Queue instead of the current Redis queue implementation"
While the current Redis queue setup seems to work fine, we may want to use [Redis Queue](https://python-rq.org/) instead. It could be more stable and easier to support than our own implementation from the Kubernetes devs.

[2019-07-19 10:28] motin opened #411 "Push Docker images in CI"
We already build Docker images in CI. [Pushing them](https://docs.travis-ci.com/user/docker/#pushing-a-docker-image-to-a-registry) allows for immediate access to these images without requiring users to build and push these images themselves.

[2019-07-19 11:32] englehardt commented on #411
+1. This is especially helpful if one is on a low bandwidth connection.

[2019-07-19 17:12] #411 closed

[2019-07-19 17:13] motin commented on #411
Docker images are now pushed by CI: https://hub.docker.com/r/openwpm/openwpm/tags

[2019-07-20 06:15] motin commented on #405
I love issues that require no further intervention :)
And I see that tracking protection is turned off by OpenWPM and that there is an issue regarding enabling it again (https://github.com/mozilla/OpenWPM/issues/101)
Closing.

[2019-07-20 06:15] #405 closed

[2019-07-20 06:18] motin commented on #400
@Zernez did you try this from [here](https://github.com/mozilla/OpenWPM#building-the-docker-container)?

[2019-07-20 07:09] motin opened #413 "Crawls performed in GCP end up with no visits data saved to S3"
Could be due to some bug related to high parallelization. Needs investigation.

[2019-07-20 07:37] motin commented on #413
This issue is moot. Data ends up in S3 eventually, unless the crawl containers are forcibly shut down / cluster deleted too early.

While it looks like only "content" and "instance*.json" files are stored in S3, as @englehardt pointed out, the S3 aggregator saves visits data in memory for a while before sending to s3. In crawls with high parallelization, one should not expect any visits data until

[2019-07-20 08:32] motin commented on #413
Re-opening since the most recent crawl ran into this issue again. Sometimes the containers get stuck in "Waiting for work" and this seems to prevent the S3 queue to be drained.

Logs from a sample container (reverse chronological order):

[code]

[2019-07-20 08:48] Zernez commented on #400
@motin I try to re-insert the command that you have linked and with closing-open session, launch the run for docker, and it is ok. It create all file and logs in a directory described. Thank you!

[2019-07-21 06:39] motin commented on #413
This seems to happen when some items gets picked up to be worked upon (leased) and then never finishes due to some crash/error or similar. The `check_expired_leases` function in the work queue implementation is not implemented so these jobs will be stuck forever without the queue ever becoming empty. Only on queue empty is the S3 write queue drained, thus if any job in a crawl fails, all data is u

[2019-07-21 06:42] motin commented on #416
This may help prevent https://github.com/mozilla/OpenWPM/issues/413

[2019-07-21 12:10] motin commented on #416
I looked into this. Redis Queue is built around a paradigm where each job is executed in isolation, ie no manager process that is shared between jobs. There are multiple ways to workaround this (custom worker scripts and/or jobs that include n urls to crawl rather than one url per job), but it is still not clear how to use Redis Queue as a finite queue (ie one that ends when the queue is empty). A

[2019-07-22 07:00] motin commented on #406
With PR #415, activation of Sentry works fine (tried in a GCP crawl) and uncaught exceptions are caught. This at least allows us to get some notification on uncaught exceptions in a crawl.

In an additional PR, I hope that we can also report the caught exceptions to sentry so that we can get a good overview of what is causing driver-related crashes in the crawls.

Also, integrating with the OpenWP

[2019-07-22 07:07] motin commented on #255
This is such a great notebook. Thanks for sharing this! I am looking forward to getting Sentry setup properly (#406) so that we systematically can address this.

[2019-07-22 22:49] englehardt opened #417 "Move configuration files into their own directory on S3"
We currently write config files to the root directory. We should instead write them into `config/`

[2019-07-22 23:09] englehardt commented on #413
This isn't great! It looks like we need to actually implement `check_expired_leases` and also implement a maximum retry count for each job since I'm sure there will be some site that always leads to a crash.

[2019-07-24 07:03] felix4webscience commented on #321
@englehardt, thank you very much for your support. I found a workaround for my issues and stopped working with openwpm so far. So to avoid unecessary workload for you and your team, we can close this ticket here.

[2019-07-24 07:03] #321 closed

[2019-07-24 07:11] #413 closed

[2019-07-24 07:24] motin commented on #417
Fixed in https://github.com/mozilla/OpenWPM/pull/421

[2019-07-24 07:24] #417 closed

[2019-07-24 07:29] motin opened #422 "Retry failed/crashed site crawls n times"
From https://github.com/mozilla/openwpm-crawler/issues/12.

One way of implementing this starts with implementing the [`check_expired_leases` function in the work queue](https://github.com/mozilla/OpenWPM/blob/e82e0ed8c6e71c21c0518f62278655efa932a07e/automation/utilities/rediswq.py#L61), which would allow crashed jobs to return to the queue. A configuration option for how many times a specific job

[2019-07-24 07:33] motin opened #423 "Restore support for profile saving aka stateful crawl support"
#382 disables support for stateful crawling and profile management. This should be restored.

Related to https://github.com/mozilla/OpenWPM/issues/383 and https://github.com/mozilla/openwpm-crawler/issues/13, and there is [a project](https://github.com/mozilla/OpenWPM/projects/2) but no specific issue to track restoration of stateful crawl support, hence this.

[2019-07-24 07:38] motin commented on #380
See https://github.com/teamnsrg/mida for an example of a crawler that uses the DevTools protocol.

[2019-07-25 08:45] motin commented on #422
This would also allow crawls to be executed with [low-cost preemptible nodes](https://cloud.google.com/preemptible-vms/) without risking data-loss/duplication.

[2019-07-25 17:48] gitbbb opened #424 "problem of instantizing firefox browser: XStartTimeoutError: Failed to start X on display ":1001" (xdpyinfo check failed)"
Hi, these days I tried to deploy OpenWRT but had an issue with no obvious solution.

# My environment

|  1  | 2  |
|  ----  | ----  |
| OS  | Linux Mint 19.1 Cinnamon |
| Kernel  | 4.15.0-20-generic |

I sucessfully run install.sh script. The log is too long so I refer it in evernote [here](https://www.evernote.com/shard/s724/sh/90b3122a-cef9-485f-87c2-2f433a59c029/3a20720dfb55102a47ecde22dd4ec80

[2019-07-25 18:33] SaloniH opened #425 "Cannot run demo.py"
Hello, I am using MacOS Mojave Version 10.14.5 with latest Docker and trying to install OpenWPM. After installation while running demo.py, I get the following error continuously even after multiple trials of reinstall.

==============================================================

root@dafa11160f3b:/opt/OpenWPM# python demo.py
No handlers could be found for logger "pyvirtualdisplay.abstractdispl

[2019-07-25 18:36] SaloniH commented on #425
I have tried native MacOS install as well after a cleanup but that also gives the exact same error.

[2019-07-25 18:48] gitbbb commented on #424
It's weird, after restart the OS and i tried the command once again, and it works!

[code]

[2019-07-25 18:48] #424 closed

[2019-07-26 07:42] motin commented on #425
To run OpenWPM within a Docker container, turn on headless mode for all browsers, ie remove https://github.com/mozilla/OpenWPM/blob/a337b52eb172ceed9e2ab092a4ba0e1f7421ad29/demo.py#L29 and insert `     browser_params[i]['headless'] = True` instead.

For the [native MacOS install](https://github.com/mozilla/OpenWPM/wiki/Running-OpenWPM-natively-on-macOS), headless mode is not supported, so insert `

[2019-07-27 03:11] birdsarah opened #427 "Simplify S3Aggregator using dask"
The S3Aggregator manually works with pyarrow and manually pushes to s3

dask handles reading and writing to s3 (and other remote storage) seamlessly in my experience. the api is very pandas like so should only be a code clean-up.

https://docs.dask.org/en/latest/remote-data-services.html

the same code could also write parquet locally.

[code]

[2019-07-29 17:17] birdsarah opened #428 "WebExt doesn't load on fresh nightly profile"
Steps to reproduce:

* On Nightly (70.0a1 (2019-07-29) (64-bit)) create a fresh profile
* Go to about:config and set `xpinstall.signatures.required` to false
* Go to about:addons and install openwpm.xpi built from latest build (a337b52eb172ceed9e2ab092a4ba0e1f7421ad29)
* Go to about:debugging -> This Nightly -> OpenWPM -> Inspect
* Console shows the following error:
![Screenshot from 2019-07-29 08

[2019-07-29 17:24] birdsarah commented on #428
I am also seeing this with a fresh profile on Developer Edition 69.0b8 (64-bit)

I am on Linux.

[2019-07-29 17:28] birdsarah commented on #428
I can repeat on Windows with a fresh Developer Edition profile

[2019-07-29 21:18] englehardt commented on #428
Did you set these prefs: https://github.com/mozilla/OpenWPM/blob/a337b52eb172ceed9e2ab092a4ba0e1f7421ad29/automation/DeployBrowsers/configure_firefox.py#L211-L213?

[2019-07-29 21:22] englehardt commented on #428
The `browser.sockets` is undefined means that the extension is unable to access the sockets experiments API. We use an unbranded release build for that reason, but experiment APIs should work on all pre-release builds. See https://webextensions-experiments.readthedocs.io/en/latest/faq.html#why-is-my-experiment-undefined-on-beta-and-release

[2019-07-29 22:09] birdsarah commented on #428
woot - thanks @englehardt.

* `xpinstall.signatures.required` was done otherwise install doesn't work
* `extensions.legacy.enabled` I had tried this once already BUT you have to uninstall and reinstall the addon after changing this pref.

Having completed that it worked!

Thank you.

[2019-07-29 22:10] #428 closed

[2019-07-30 07:30] motin commented on #400
Happy to hear that it works! :)

[2019-07-30 07:30] #400 closed

[2019-07-30 15:45] motin opened #431 "Fatal crashes - "[Errno 32] Broken pipe""
In automation/SocketInterface.py in send at line 168

This currently prevents larger crawls from completing.

If this issue can't be resolved, it'd be great if it can be caught gracefully and the site visit retried so that the crawl can continue.

[2019-07-30 15:48] motin commented on #431
Maybe revisiting WebSockets (as partially implemented in https://github.com/mozilla/OpenWPM/pull/221) is a good idea?

[2019-07-31 05:44] motin opened #433 "Consider integrating with Scrapy / utilizing Scrapy to decrease project maintenance burden"
TL;DR of the first four comments:
Let's base OpenWPM on [Scrapy](https://scrapy.org/) similar to how https://github.com/clemfromspace/scrapy-selenium has it set up. This could decrease the overall project maintenance burden and help with:

* Improve the flexibility of adding new crawl commands
* Support arbitrary link following strategies

<details><summary>Click to show original first posting</su

[2019-07-31 05:56] motin commented on #433
Splash can be configured to include the adblock extension (https://github.com/TeamHG-Memex/aquarium#options) so configuring with the openwpm extension should not be to much hassle (given compatibilty of the openwpm extension with one of the supported browser engines in splash).

If the openwpm extension in turn uses websockets to send the data, one would only need to fire up a standalone websocket

[2019-07-31 07:12] motin commented on #433
Note that Splash used to be webkit only, but support for blink (chromium) was merged 11 days ago in https://github.com/scrapinghub/splash/pull/867

[2019-07-31 07:19] motin commented on #433
Looking through more of the splash code, a blocker appears: Splash literally only instruments webkit/chromium but includes no browser features. This makes the splash-route a no-go, since we want to emulate browser-based browsing as close as possible.

A more relevant approach is https://github.com/clemfromspace/scrapy-selenium

[2019-07-31 07:42] motin commented on #431
A crawl with backoffLimit 6 failed after 20 of these exceptions, and got through about 3k sites.
Another crawl with backoffLimit 100 failed after 125 of these exceptions, and got through about 8k sites.

With this very limited data, it seems that these socket-induced crashes occur on average every 64-150 sites crawled, with a result in crashing the container about 30-80% of the times.

[2019-07-31 08:47] motin commented on #431
Relates to https://github.com/mozilla/OpenWPM/issues/255

[2019-07-31 09:55] motin commented on #406
Possibly useful for crawls as well, adding Redis commands as breadcrumbs: https://docs.sentry.io/platforms/python/redis/

[2019-08-03 00:26] englehardt commented on #431
This is almost always thrown when another process that the host process is communicating with has crashed, leaving the other end of the socket dead. Thus, catching this exception and recovering from the crash will be difficult or impossible. For example, the stack trace you included is from https://github.com/mozilla/OpenWPM/blob/9f0442241909fdac273eeb444bf06c0f2beb781c/automation/TaskManager.py#L

[2019-08-03 00:33] englehardt commented on #404
This crash is quite common. I suspect it's happening almost every time there's and alert or modal dialog box on a site. We should set up a test page with a couple different styles of alerts and see if we can close them without causing this error.

[2019-08-05 15:12] #406 closed

[2019-08-05 20:21] englehardt opened #439 "localstack dependency import issues"
The latest release of localstack (0.10.X) appears to have some dependency install issues. Specifically, it appears to fail to install any of the required dependent packages.

For examples, see:
* https://travis-ci.org/mozilla/OpenWPM/jobs/567950566#L2225
* https://travis-ci.org/mozilla/OpenWPM/jobs/568040169#L2236

Pinning to an older version (0.9.6) seems to fix the issue (https://github.com/mozi

[2019-08-06 08:45] motin commented on #439
Sounds like a good solution for now.

[2019-08-06 08:51] motin opened #443 "Make it possible to know whether or not a site visit lead to fully saved visit-related data"
In https://github.com/mozilla/openwpm-crawler/issues/23#issuecomment-518279520 we discussed this.

By for instance saving a flag in crawl_history data_saved = True or making sure that the whole crawl_history record is only saved after all visit-related data is saved, we can be more confident in using that visit-related data in analysis.

We can also employ a retry-strategy (such as https://github.

[2019-08-06 16:20] crankycoder opened #444 "Remove support for flash cookie saving"
See: https://github.com/mozilla/OpenWPM/pull/426#issuecomment-517845707

We should disable Flash cookie support in OpenWPM.

The `test_flash_cookies` test has been disabled in PR #426 already.

[2019-08-06 21:57] birdsarah opened #446 "Stateful crawl mechanics"
I have seen two methods in the literature for performing stateful crawls. There may be more.

In one:
- a crawl of n k sites is run serially and the resulting profile is saved.
- subsequently that profile (or manually tweaked versions of it) is loaded into many parallelized browsers to see the response

In another:
- two crawls of n k sites are run serially and the resulting profiles are saved and

[2019-08-06 23:09] englehardt commented on #439
Closed by #440

[2019-08-06 23:09] #439 closed

[2019-08-06 23:24] englehardt commented on #282
Related to #255. Should be fixed by #442.

[2019-08-06 23:26] englehardt commented on #287
Now that I better understand how this file is used, I think it does make sense to track it in the repo. Thanks for the follow ups.

[2019-08-06 23:26] #287 closed

[2019-08-06 23:26] englehardt commented on #281
Will be fixed by #426

[2019-08-06 23:31] englehardt commented on #84
Closing in favor of #255 now that we've moved to geckodriver and webextensions.

[2019-08-06 23:31] #84 closed

[2019-08-06 23:32] englehardt commented on #231
Fixed by https://github.com/mozilla/OpenWPM/pull/402

[2019-08-06 23:32] #231 closed

[2019-08-06 23:35] englehardt commented on #216
Closing due to inactivity. Feel free to file a new issue if you still have the same problem.

[2019-08-06 23:35] #216 closed

[2019-08-06 23:37] englehardt commented on #241
Added in https://github.com/mozilla/OpenWPM/pull/318

[2019-08-06 23:37] #241 closed

[2019-08-06 23:38] englehardt commented on #76
Tests added in https://github.com/mozilla/OpenWPM/pull/318.

[2019-08-06 23:38] #76 closed

[2019-08-06 23:40] englehardt commented on #239
Since the instrumentation is now bundled into this repo, these steps are no longer necessary.

[2019-08-06 23:40] #239 closed

[2019-08-06 23:40] englehardt commented on #63
Fixed in https://github.com/mozilla/OpenWPM/pull/434

[2019-08-06 23:40] #63 closed

[2019-08-06 23:46] englehardt commented on #42
Closing this since it's just a best practice and not something we plan to audit. The socket interface between processes does not opportunistically attempt to decode different encodings as it used to, so errors like this should be caught at the process boundary.

[2019-08-06 23:46] #42 closed

[2019-08-06 23:50] englehardt commented on #148
Ultimately we decided to move to WebExtensions using a couple experiment APIs to handle sockets and file IO. Now that the ff52/addon-sdk branch is over 400 commits behind the master branch, I think it's safe to close this. :)

[2019-08-06 23:50] #148 closed

[2019-08-06 23:52] englehardt commented on #116
TravisCI tests now enforce style checking, and the entire repo is complaint.

[2019-08-06 23:52] #116 closed

[2019-08-07 00:12] englehardt commented on #169
Closing in favor of #280 .

[2019-08-07 00:12] #169 closed

[2019-08-07 15:54] englehardt commented on #407
Confirmed fix in https://github.com/mozilla/OpenWPM/pull/442#issuecomment-518877860

[2019-08-07 15:54] #407 closed

[2019-08-07 15:54] englehardt commented on #403
Confirmed fix in https://github.com/mozilla/OpenWPM/pull/442#issuecomment-518877860

[2019-08-07 15:54] #403 closed

[2019-08-09 15:34] englehardt opened #448 "Reduce the surface for bot detection"
There are likely a number of ways to identify that we're running Firefox with Selenium/geckodriver. Back in the Selenium 2 days these were injected by the Selenium extension. We made some efforts to prevent that (https://github.com/mozilla/OpenWPM/pull/108). We later removed them with the upgrade to Selenium 3 because, at least at the time, Selenium 3 didn't self-identify via `navigator.webdriver`

[2019-08-09 15:40] #425 closed

[2019-08-09 15:41] englehardt commented on #281
Closing since we no longer use XVFB/pyvirtualdisplay (#426)

[2019-08-09 15:41] #281 closed

[2019-08-09 16:54] englehardt commented on #443
Thinking a bit more about my comment in https://github.com/mozilla/openwpm-crawler/issues/23#issuecomment-518279520, I think it's likely that all data for a process has been written when the `crawl_history` record is included in the database. This record is [sent to the DataAggregator](https://github.com/mozilla/OpenWPM/blob/e9c1baa0582a6ede58e0230d5c947952cbf607a6/automation/TaskManager.py#L464-L

[2019-08-10 05:28] motin commented on #255
Percentage of command failures 12.26%
Percentage of command timeouts 5.61%

[2019-08-10 07:16] motin opened #450 "Minimize data loss during unexpected shutdown"
In a recent pair of 108k crawls in GCP, this is what happened:

1. After an initial crawl run, about 83k crawl_history records were found in the S3 bucket (about 70%)
2. After creating a new crawl list (n = 25k) with the items of the original seed list that did not yet have a crawl_history record, about 18k more, or 101k crawl_history records in total, were found in the S3 bucket (about 72% of the

[2019-08-10 07:19] motin commented on #255
The fact that out of the 1M crawl list only 89% ended up with a crawl_history record may be related to data loss in the S3 Aggregator, which is filed as a separate issue here: https://github.com/mozilla/OpenWPM/issues/450

[2019-08-13 05:42] motin commented on #404
Important comments regarding this are found in https://github.com/mozilla/OpenWPM/pull/449#issuecomment-520682990 and https://github.com/mozilla/OpenWPM/pull/449#discussion_r313225389

[2019-08-13 11:26] motin opened #454 "Upgrade to Firefox 69"
OpenWPM is currently using Firefox 68 and [upgrades to newer Firefox versions are not automatically managed](https://github.com/mozilla/OpenWPM/issues/381), nor due do we currently support more than one Firefox version, so this issue tracks manually upgrading to Firefox 69.

[2019-08-13 21:34] englehardt commented on #423
[This project](https://github.com/mozilla/OpenWPM/projects/2) collects the issues related to stateful crawling. I suspect the problem will be pretty simple to fix, but will require a lot of testing to discover inevitable corner-case failures. Unfortunately, these corner cases are quite important for stateful crawling, as missing a site leads to an incomplete/inconsistent profile.

The instability

[2019-08-14 05:47] englehardt commented on #245
When recording HTTP requests, we record a bunch of details for every request (including subresource requests) that occurs on a page. The includes the `top_level_url`, which is the URL of the tab in which the request is occurring. All of the request information is collected using the [webRequest API](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest) using a vari

[2019-08-14 16:12] englehardt commented on #335
Closing as a duplicate of #245

[2019-08-14 16:12] #335 closed

[2019-08-14 20:18] motin opened #460 "Demo.py yields `CRITICAL - Extension-7 : visitID is null while attempting to insert `"
Running the current demo.py yields the following error
[code]

[2019-08-14 23:06] #344 closed

[2019-08-15 05:17] motin opened #461 "Instrumenting parent object property breaks instrumentation of object properties"
When instrumenting both window.Foo.bar AND window.Foo itself, the instrumentation of the latter breaks the instrumentation for class instances from `new window.Foo()`.

Steps to reproduce:
1. Instrument window.Foo.bar
2. Instrument window.Foo
3. Execute js: `const foo = new window.Foo();`
4. One JS instrumentation call event for `window.Foo`
5. Execute js: `foo.bar;`

Expected results:
6. One JS i

[2019-08-15 05:20] #461 closed

[2019-08-16 06:46] motin commented on #255
Recently ran a Tranco top 500 crawl, resulting in:
[code]
Source: https://dbc-caf9527b-e073.cloud.databricks.com/#notebook/156111

The 18.6% corresponds to 93 sites that was not crawled.

I found 82 errors in [Sentry](https://sentry.prod.mozaws.net/operations/web-crawls/?query=CRAWL_REFERENCE%3Aopenwpm-crawls%2F2019_08_15_webcompat_crawl_test_1):
- 34 errors - InvalidSessionIdException (reported a

[2019-08-16 06:48] motin opened #463 "InvalidSessionIdException"
In a recent Tranco top 500 crawl, this was the most significant error - [showed up 34 times](https://github.com/mozilla/OpenWPM/issues/255#issuecomment-521905141). 34/500 = 6.8%.

[code]

More information at: https://sentry.prod.mozaws.net/operations/web-crawls/issues/6137168/?query=is:unresolved%20CRAWL_REFERENCE:openwpm-crawls/2019_08_15_webcompat_crawl_test_1

[2019-08-16 09:29] motin opened #464 "Consider using HTTP/WebSockets for client/platform communication"
In #221, this was briefly attempted but ultimately reverted in favor of a (raw) sockets-based approach.

Using a more standard/generic approach could be more [extensible, maintainable, not add technical debt, and open up possibilities for running clients remotely and so on](https://github.com/mozilla/OpenWPM/issues/380#issuecomment-507898926)

It would also open up support for running OpenWPM craw

[2019-08-16 09:31] motin opened #465 "Support running OpenWPM crawls using Chrome"
For tracking support for running OpenWPM crawls using Chrome.

Some background:
In Dec 2016, [the stubs of the initially planned support for Chrome was removed](https://github.com/mozilla/OpenWPM/commit/fe04301f0a4ec983bc9b7410be01afd99dea3f9d), with the following comment from https://github.com/mozilla/OpenWPM/issues/118#issuecomment-266222837:

Today, we no longer use an addon-sdk Firefox extens

[2019-08-16 09:41] motin opened #466 "Investigate changes necessary to drop support for Python 2"
[Python 2.7 life ends in 4 months and 15 days](https://pythonclock.org/). I noticed that our crawls run Python 2 by default, albeit OpenWPM supports Python 3 since quite a while back. Code maintenance will be easier with support for Python 2 dropped. I wonder if we could simply drop support for Python 2 as is?

[2019-08-16 11:18] motin commented on #404
Possibly related: https://stackoverflow.com/questions/44215846/handling-popup-windows-in-selenium?rq=1

[2019-08-16 17:27] englehardt commented on #255
These `InvalidSessionIdException`s have the same cause as the `Failed to decode response from marionette` we were getting in earlier crawls. The reason we're now getting these is because I started ignoring webdriver exceptions for the alert handling code to see if the alert handling was the cause or if it was a general issue -- the existence of these errors show it's a general webdriver issue. The

[2019-08-16 20:11] motin commented on #255
Ah, yes, thanks now I remember that you explained this in a recent PR.

The sites are listed above - about a third ought to reproduce the error :)

They are listed above. I realize my previous statement was confusing. All sites have records in crawl_history so no data loss was encountered, but since there were 93 sites with bool_success != 1 but only 82 errors in sentry, there ought to be 11 sites

[2019-08-16 22:49] englehardt commented on #255
Got it. That's less concerning :) I'll add in the saving of command errors and we can investigate from there.

[2019-08-16 23:15] englehardt commented on #466
I'm fully supportive of dropping python 2.7 support. Perhaps more importantly, many of the dependencies are going to Python 3 only in 2020 (https://python3statement.org/). Here are the steps as I see them:
1. Simply disable the Travis tests to not constrain ourselves to continue writing code that's compatible with both, and make it clear in the documentation that OpenWPM is Python 3 only.
2. Remov

[2019-08-17 06:22] motin commented on #466
Ok great, I think we could summarize this as follows:

1. Do this year

- [ ] Configure crawls to run Python 3 by default
- [ ] Disable the Python 2 Travis tests to not constrain ourselves to continue writing code that's compatible with both
- [ ] Make it clear in the documentation that OpenWPM is Python 3 only

2. Future cleanup

- [ ] Remove dependency on the six package, and update all uses to

[2019-08-17 06:22] #466 closed

[2019-08-17 23:47] englehardt commented on #448
It looks like WebGL doesn't work properly in headless mode:

[code]

[2019-08-21 07:11] motin opened #470 "Rely on external tools to achieve parallelism"
From https://github.com/mozilla/OpenWPM/pull/468/files#r315900063:

I agree, it should make the codebase leaner and easier to maintain.

[2019-08-21 07:51] motin opened #471 "Prototype pollution introduced in #459"
This bug was introduced in https://github.com/mozilla/OpenWPM/pull/459, with tests in https://github.com/mozilla/OpenWPM/pull/452 that surfaces the issue: https://github.com/mozilla/OpenWPM/pull/452/files#diff-0f2ffea7be85bce819e309d37ac7d063R32-R43

Initial discussion in https://github.com/mozilla/OpenWPM/pull/452#discussion-diff-315497035R42

Possible solution proposed by @englehardt in https://

[2019-08-21 15:35] nhnt11 commented on #242
@jallmann Thanks for that investigation! I'm curious - could you share your test extension somewhere? Did you try putting a small delay in the content script and then checking if page scripts are affected by that delay?

[2019-08-21 22:35] ehsan opened #472 "Scan for third-party GMP storage"
It would be nice to be notified when doing web crawls if there is a third-party attempting to obtain EME storage.  Gecko Media Plugin backends leave their storage in the profile.  Currently you could look at the directories under `$PROFILE_DIR/gmp/$PLATFORM/gmp-widevinecdm/id/` and for each one you'll find two files named `origin` and `topLevelOrigin` there containing the origin information for th

[2019-08-21 23:53] englehardt commented on #282
@StevenRoosa has confirmed that this is now fixed.

[2019-08-21 23:53] #282 closed

[2019-08-22 06:06] englehardt commented on #255
This is done in #473.

[2019-08-22 06:07] englehardt commented on #255
I think I found the cause of the high rate of `WebDriverException`s, which manifests as errors #404 and #463. I believe my intuition in https://github.com/mozilla/OpenWPM/issues/255#issuecomment-522088140 was correct. The errors are caused by Firefox crashing during the `get()` command. That explains why we don't see any errors until marionette attempts to issue a new command to Firefox, only to f

[2019-08-22 06:27] motin commented on #422
@englehardt A humble feature request: Please add information about which retry the crawl_history record corresponds to. I believe that with retry-n-times there will be either one crawl_history record per retry or only one crawl_history record for the last retry (either successful or unsuccessful), and in any of those cases it is important to know how many times a certain site was retried/requested

[2019-08-22 07:29] nhnt11 commented on #224
Alright, I looked at the code landed in bug 1447551 and it's promising. It indeed allows us to write a blocking WebRequest listener that stalls page loads till the instrumentation is ready. I'm going to try and write a patch for this today.

[2019-08-22 22:29] englehardt commented on #422
Makes sense. I've added this to #468.

[2019-08-24 13:37] SchnockNicolas opened #474 "Docker - browsers fail to launch when not headless"
Hi, I still got the same error from Docker on mac OS (10.13.6) : https://github.com/mozilla/OpenWPM/issues/425  If was closed, but the solution didn't work for me.

I followed instructions https://github.com/mozilla/OpenWPM#running-measurements-from-inside-the-container

Version of Docker version 2.1.0.0

[code]

A third iteration gave another error :

[code]

Thanks for your help

[2019-08-26 20:42] englehardt opened #476 "Add a method to S3Aggregator to synchronously commit data to S3"
The batching used by the S3Aggregator can lead to data loss as described in #450. This also makes it difficult to record basic diagnostic information regarding command success because the batched diagnostic data may also be lost if a node dies unexpectedly.

If we have a method that synchronously writes records to S3 this allows us to ensure that certain information is written before continuing th

[2019-08-28 08:23] motin commented on #474
The error message is rather obscure (I wonder if the log file includes more info?), but in the end I can't reproduce the same error messages. I followed the same instructions including setting up XQuartz etc (linked in the parts after "Instruction on how to run Docker GUI applications in Mac OSX").

[code]

The three Linux Firefox browsers opens up and the crawls runs, but an error is reported on

[2019-08-28 09:07] motin commented on #416
Yes indeed. This consideration was relevant before landing #468, as a possible alternative route. Closing.

[2019-08-28 09:07] #416 closed

[2019-08-29 00:29] englehardt commented on #472
Doing this check at the end of a crawl would require fixing https://github.com/mozilla/OpenWPM/projects/2. But we could check at the end of each page visit.

A while back I started doing this by [instrumenting several `Media*` APIs](https://github.com/englehardt/OpenWPM/commit/a38b49ba20eb910a05c673ac83c0ba4c912016f3), but had to switch to other things before I was able to dig too deep. Would insp

[2019-08-29 08:28] Zernez opened #482 "No log"
Hello,
I'm trying to run demo.py a simply scan of 2 site modified properly in "NUM_BROWSERS" and "sites". After running message with GET and no error, finally "BaseAggregator       - INFO     - Received shutdown signal!" it never create any log or database. Here the setting of the new files settings in "default_manager_params.json":

    "extension_enabled": true,
    "cookie_instrument": true,

[2019-09-01 06:54] motin opened #485 "Use Python 3 by default"
As mentioned in https://github.com/mozilla/OpenWPM/issues/466#issuecomment-522209540

[2019-09-01 06:54] motin opened #486 "Disable the Python 2 Travis tests"
As mentioned in https://github.com/mozilla/OpenWPM/issues/466#issuecomment-522209540

[2019-09-01 07:12] motin commented on #391
Related to this, will the upcoming web extension-based version be v0.10 or v1.0 (presumably with a round of v1.0-betaN before tagging it as v1.0)?

[2019-09-01 07:12] birdsarah commented on #381
You will soon be able to `conda install firefox` - https://github.com/conda-forge/staged-recipes/pull/9234. All other dependencies are already conda installable (give or take).

[2019-09-01 07:19] motin commented on #381
Thanks for sharing! That, together with dependabot creating PRs automatically on version upgrades, would definitely take us a big step towards automatic Firefox version upgrades! :)

[2019-09-01 11:16] Vishal19111999 commented on #476
Is this repo good for first timers? Can anyone suggest me a good repo for python first timers?

[2019-09-04 12:29] jallmann commented on #242
This is the extension I built for testing:
https://github.com/jallmann/webExtTest

The repo includes a test page and script with some console prints to illustrate the order of events.
The extension is currently configured to register content scripts 5 seconds after it loads. If the test page is loaded wihtin that interval, the page script runs without the content script being injected at all.

I n

[2019-09-04 13:03] Otteas opened #487 "Python3 Base Aggregator Shutdown freeze/hang"
Hello,
I'am trying to run a custom script using python 3.6, but most of the time it frezzes after initiating manager.close() With 2.7 i could not obeserve these freezes.
Furthermore i could observer it freezes in 3.6 when this Info appears:
'TaskManager          - INFO     - BROWSER 359: Received failure status while executing command: GET',
though this Info also appears in 2.7, the freeze only ha

[2019-09-04 14:06] jallmann commented on #224
@nhnt11 Have you made any progress with this patch? Or otherwise, would you mind if I pick it up?

[2019-09-09 19:27] birdsarah commented on #381
Main firefox is now available. https://github.com/conda-forge/firefox-feedstock

I now need to make a `firefox-unbranded` which is what we need to install OpenWPM. But this should be trivial at this point. I'll keep everyone posted.

[2019-09-12 02:00] englehardt opened #489 "Instrument worker creation APIs in the JS instrument"
Requests from workers are attributed specifically to the worker script, rather than the tab or frame that created the worker (see #488 for context). If we instrument the APIs used to create workers, we can attribute workers (and their subsequent requests) to specific frames. The [Web Workers API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API) MDN page is a good place to start.

[2019-09-14 22:28] englehardt commented on #245
Fixed in #469 and #488.

[2019-09-14 22:28] #245 closed

[2019-09-14 22:41] englehardt commented on #444
This will require:
* removing flash from the [linux install script](https://github.com/mozilla/OpenWPM/blob/07fe54d08d9e758e40bd908ab95eb62085c13dbb/install-system.sh#L23-L39) and possibly the mac install script
* removing the [`mini-amf` dependency](https://github.com/mozilla/OpenWPM/blob/07fe54d08d9e758e40bd908ab95eb62085c13dbb/requirements.txt#L9)
* removing the [config option](https://github.c

[2019-09-17 02:51] #454 closed

[2019-09-17 14:09] birdsarah opened #493 "`save_javascript` does not save javascript, throw an error"
previously to save javascript, in demo.py you would set `browser_params[i]['save_javascript'] = True`. If I understand correctly, the correct call is now `browser_params[i]['save_content'] = ['javascript', ]`.

The old command does not throw an error, meaning people with old crawling scripts may attempt to reuse them only to find javascript has not been saved. Suggest throwing an error for this de

[2019-09-17 15:21] birdsarah opened #494 "Setting `save_content=['script']` no request, response, redirect data"
~~I thought save_content was about saving response body content. However, if save_content='script' I get no http_request, http_response, http_redirect information.~~

I made a mistake and wrote `save_content=['script']` which results in some crawl data but not all. I think invalid specification like what I did should throw an error.

[2019-09-20 15:26] nhnt11 commented on #224
@jallmann ugh, I didn't see this. Please feel free to pick it up and let me know if I can help.

[2019-09-20 15:28] nhnt11 commented on #242
Thanks!

That sounds right. 👍

Yup, that's what I meant.

[2019-09-25 12:41] jallmann commented on #242
Yes, blocking the content script for some time delays execution of the page script as well, just as expected.

[2019-09-25 13:28] nhnt11 commented on #242
I think we can close this!

[2019-09-25 13:28] #242 closed

[2019-09-26 13:15] englehardt opened #495 "Turn browser_params and manager_params into dataclasses and validate them"
A mistyped or unknown configuration parameter in `browser_params` or `manager_params` will currently not throw an error. This may lead to missing data that's not discovered until the end of a crawl. We should validate that the configuration parameters are valid before starting a measurement.

We can do this basic check by using [dataclasses](https://docs.python.org/3/library/dataclasses.html) and

[2019-09-26 13:15] englehardt commented on #494
Filed #495 for this request.

[2019-09-26 13:15] #494 closed

[2019-09-26 13:16] englehardt commented on #493
Filed #495 for this request.

[2019-09-26 13:16] #493 closed

[2019-09-26 13:17] englehardt commented on #34
Closing in favor of #495

[2019-09-26 13:17] #34 closed

[2019-09-29 16:24] Zernez opened #496 "Document OpenWPM instrumentation and schema"
Hello, there is a info file or .py file (some method for insert values) that explain the columns into the tables of the output crawl-data.sqlite? Some columns are difficult to understanding like "frame_id", "parent_frame_id" ecc ecc, in "http_requests" or others. I've searched in "automation" folder all .py files to find some information, and I discover an array "data[]" that cointain some informa

[2019-10-04 23:24] englehardt commented on #247
I've updated the title to reflect that our current way of saving these files leads to issues while crawling + while analyzing the data. See https://github.com/mozilla/openwpm-crawler/issues/33 for a description of the issues while crawling.

We should consider both of these constraints when we investigate an alternate way to handle saved files.

[2019-10-07 08:32] turban1988 opened #497 "Logging CSS dependencies"
Hi,

I noticed that CSS loading hierarchies are not fully captured by opwnWPM. It would be nice to identify loading dependencies (e.g., @import) between two style sheets, similar to the JavaScript call stack that is already logged.
Right now, the platform logs the requests to the imported scripts, but finding the dependencies is quite tedious, as one has to check the content type of each request a

[2019-10-08 00:32] englehardt opened #498 "Parquet-related error in S3Aggregator"
See the [most recent run](https://travis-ci.org/mozilla/OpenWPM/jobs/594846373#L3016-L3046) of the test suite:

[code]

It looks like the Parquet interface has been updated.

[2019-10-08 00:40] englehardt opened #499 "Pin versions for all pip-installed dependencies"
We've had several issues randomly pop up due to changes in our underlying dependencies. These include #439 and #498. We should really pin all of the pip-installed requirements to specific versions. One approach would be to switch over to using `pipenv` as described in #205.

[This post](https://hynek.me/articles/python-app-deps-2018/) gives a good comparison between our options (at least as of ~1

[2019-10-08 01:04] englehardt commented on #498
This argument was removed by https://github.com/apache/arrow/pull/5130.

[2019-10-08 03:59] englehardt opened #501 "Memory watchdog monitors the geckodriver process instead of the Firefox process"
The [memory watchdog](https://github.com/mozilla/OpenWPM/blob/960fc5040cbeb188310fd89c8b7b93d7a8e35989/automation/TaskManager.py#L199-L211) in the `TaskManager` is meant to monitor the memory usage of the Firefox and decide whether the process should be restarted. Since the update to a multi-process version of Firefox, this instead monitors the memory consumption of the geckodriver process since t

[2019-10-08 21:07] #498 closed

[2019-10-09 06:15] motin opened #503 "Support running OpenWPM crawls on Windows"
To be able to run as representative crawls as possible, running crawls on Windows helps.

(@birdsarah I searched for issues filed for Windows support but didn't find any. Let me know if this is a duplicate. Thanks)

[2019-10-10 00:10] #486 closed

[2019-10-10 00:10] #499 closed

[2019-10-10 00:24] englehardt commented on #205
I've decided against Pipenv for the reasons discussed in #499

[2019-10-10 00:24] #205 closed

[2019-10-10 04:44] englehardt opened #504 "Restore XVFB-based headless mode"
By moving from XVFB to Firefox's built-in headless mode in #426 we no longer properly support WebGL. WebGL is likely not the only web API that doesn't work correctly under headless mode. This means that OpenWPM is even more detectable as a bot (see #448), but this also means that we won't be able to properly measure WebGL and may end up messing with the many fingerprinting scripts that use WebGL.

[2019-10-10 04:49] englehardt commented on #496
We have some outdated documentation [here](https://github.com/mozilla/OpenWPM/wiki/Instrumentation-Schema-Documentation), but I agree this is sorely needed.

[2019-10-10 04:57] englehardt opened #505 "Support arbitraty spidering strategies"
OpenWPM currently has a [browse command](https://github.com/mozilla/OpenWPM/blob/c047b4e4b1fefb82edc9d5509d6c2e7938c7ac80/automation/Commands/browser_commands.py#L145-L175) which selects a few internal links off of the current page and follows them. We should re-think this command. Ideally we'd be able to have the crawler execute an arbitrary link selection and following strategy.

[2019-10-10 05:22] englehardt commented on #485
Done in #502 and https://github.com/mozilla/openwpm-crawler/pull/35.

[2019-10-10 05:22] #485 closed

[2019-10-10 05:29] englehardt commented on #32
Since we're planning to remove flash support (#444) this is no longer relevant.

[2019-10-10 05:29] #32 closed

[2019-10-10 05:32] englehardt commented on #123
Proposed fix is in #135.

[2019-10-10 05:35] englehardt commented on #187
Now that we've upgraded past geckodriver v0.16.0 this should be fixed.

[2019-10-10 05:35] #187 closed

[2019-10-10 05:41] englehardt commented on #294
I'm going to close this as I don't think it's the right direction anymore. The S3Aggregator should be optimized for cloud crawls and minimizing data loss. Constraining the future development there to also support an alternate local format doesn't seem right.

If we do want something like this, adding a new aggregator is the right approach.

[2019-10-10 05:41] #294 closed

[2019-10-11 00:43] englehardt commented on #448
Removing the `webdriver` attribute, and anything else that reveals to websites that automation is active is a great first step. See:
* https://github.com/antoinevastel/fpscanner/blob/master/src/fpScanner.js
* https://github.com/antoinevastel/fp-collect/blob/7963703e97784cd228af35dbce4785c5da0427e2/src/fpCollect.js#L228-L254
* https://antoinevastel.com/bot%20detection/2017/08/05/detect-chrome-headl

[2019-10-16 10:13] karlolukic opened #506 "Unable to run example file 'python demo.py' natively on macOS Mojave"
After following described steps for native usage, I'm unable to run 'python demo.py' file.
Log file is attached, as described in the instructions.
[openwpm.log](https://github.com/mozilla/OpenWPM/files/3733693/openwpm.log)

[2019-10-18 10:16] vringar opened #507 "xhost replacements on macOS Catalina?"
I was trying to run a docker image on macOS Catalina 10.15 .
As a first issue I got:
[code]
And as a result of the broken X sharing, I got same result @SchnockNicolas in #474

Now my question would be, is this a setup error on my part or has xhost been removed and we should replace it with something in ```./run-on-osx-via-docker.sh```.

[2019-10-18 11:03] vringar opened #508 "Make dockerfile work from unconfigured repo"
For some reason running ```build-extension.sh``` was required to build a proper docker image from the Dockerfile.
From what I can tell the only difference between the Dockerfile and the script is the ```cp dist/*.zip ./openwpm.xpi```at the end of the script.

[2019-10-20 16:13] Flnch commented on #448
I am currently fixing the `webdriver` attribute such that it is set to `false` as for a regular Firefox instance on Ubuntu. My approach is to overwrite the attribute in a JS content script.

Using `Object.defineProperty()` opens a new way of identification. Therefore, I switched to another way of overwriting. As this is a bit complex, I oriented the code on other code published under the GNU Gener

[2019-10-22 04:52] #508 closed

[2019-10-22 05:01] englehardt commented on #507
It looks like that run script requires [XQuartz](https://www.xquartz.org/) (unfortunately). You should be able to install it through brew and should follow [these instructions](https://stackoverflow.com/a/47309184). This is currently linked in the README, but I can see that it's easy to skim past. Let me make a quick update to clarify that.

[2019-10-22 05:07] englehardt commented on #507
Requested your review on https://github.com/mozilla/OpenWPM/pull/510

[2019-10-22 05:13] englehardt commented on #506
I don't see any errors in the log. It looks like the browsers successfully completed a couple page visits and closed. Are you worried about the errors on shutdown?

[2019-10-22 05:18] englehardt commented on #448
OpenWPM is GPLv3, so that's fine. You can just reference the other codebase following [this example](https://github.com/mozilla/OpenWPM/blob/8641ca740854f056c0e30fdc8f1ee8841192ebea/LICENSE#L26-L32).

Individual, self-contained PRs are best. That way we can decide whether to accept your fix for each component individually and can give you feedback as you go. We may choose not to accept some compon

[2019-10-22 17:17] #507 closed

[2019-10-22 20:34] englehardt opened #511 "Instrument all APIs used by fingerprinting2 in the fingerprinting API monitoring module"
We currently miss:
* navigator.mediaDevices
* navigator.webdriver
* navigator.deviceMemory
* window.devicePixelRatio
* window.screen.width
* window.screen.height
* window.screen.availHeight
* window.screen.availWidth
* Date().getTimezoneOffset()
* window.Intl.DateTimeFormat().resolvedOptions().timeZone
* window.indexedDB
* window.openDatabase
* navigator.cpuClass
* window.swfobject
* navigator.har

[2019-10-23 03:56] englehardt opened #512 "Update Firefox to version 70"
https://github.com/mozilla/OpenWPM/pull/455 is a good example of our previous upgrade. The latest unbranded builds are [here](https://wiki.mozilla.org/Add-ons/Extension_Signing#Unbranded_Builds). I see that 70 hasn't yet been posted.

[2019-10-25 17:28] vringar opened #513 "python(2) doesn't work in docker anymore"
When I ran
[code]
as it is currently in the README, I got the error ` no module named psultil`.
Since we've sunset python2 support I'd just go ahead and change the README to reflect that.

[2019-10-26 01:05] #513 closed

[2019-10-29 08:44] vringar opened #518 "manual_test.py doesn't work with python 3"
[code]

[2019-10-29 09:30] #518 closed

[2019-10-29 14:14] Flnch commented on #504
One thing I wonder about: XVFB works in combination with headful Firefox, does not it? Then the difference is that the screen output is not rendered on some screen but virtually in memory. Is the gained performance compared to Firefox headful without XVFB so big that this makes a difference? Or is there another reason why you would prefer XVFB over native headful Firefox?

[2019-10-29 16:02] vringar opened #519 "Firefox 70 changed the ExtensionCommon.EventManager constructor"
After setting everything up by running `python -m test.manual_test --selenium`
Open up the extesion debug window and run
[code]
and then
[code]
Nothing gets logged to console. Meaning the data is not getting through the experimental part of the API
Blocks #512

[2019-11-01 11:48] vringar commented on #519
Use `about:devtools-toolbox?type=extension&id=openwpm%40mozilla.org` to directly access the extension toolbox

[2019-11-01 12:30] vringar commented on #519
The connection gets established and the content arrives in the browser which can be demonstrated by sending a string and the extension logging into the browser console that encoding "u" is not supported.

[2019-11-01 14:48] vringar commented on #519
Okay, so after logging everything I can see that `gManager.onDataReceivedListeners` doesn't change when `browser.sockets.onDataReceived.addListener (x)` gets called.

[2019-11-01 14:49] vringar commented on #519
TODO: Figure out if something changed [here](https://dxr.mozilla.org/mozilla-central/source/toolkit/components/extensions/ExtensionCommon.jsm)

[2019-11-01 17:38] #519 closed

[2019-11-01 18:07] #512 closed

[2019-11-01 20:17] englehardt commented on #504
@Flnch The reason to prefer Firefox's native headless mode is cross-OS functionality. XVFB only work when X would normally be used to render the GUI. That's the case for Ubuntu, but not MacOS or Windows.

[2019-11-05 11:43] vringar commented on #285
Created the column, but still need to figure out, where this data should be coming in as input (@englehardt any input on this?) and how to route this information through the application.

[2019-11-05 18:45] englehardt commented on #285
This should be specified in the crawl script as an optional parameter for the [CommandSequence constructor](https://github.com/mozilla/OpenWPM/blob/bab2a629fcc3909a7ad6057e1d6740c7df70517c/automation/CommandSequence.py#L26-L40). That way, when someone ingests a site list in [the crawl script](https://github.com/mozilla/OpenWPM/blob/bab2a629fcc3909a7ad6057e1d6740c7df70517c/crawler.py#L121-L127) the

[2019-11-11 12:41] nhnt11 commented on #272
console.log calls are visible as long as you ensure `Show content messages` is enabled in the console. We manually verified this.

[2019-11-11 12:41] #272 closed

[2019-11-11 13:44] englehardt commented on #325
May be relevant: https://searchfox.org/mozilla-central/rev/6566d92dd46417a2f57e75c515135ebe84c9cef5/dom/chrome-webidl/ChannelWrapper.webidl#82-87

[2019-11-12 09:46] nhnt11 commented on #338
We think we should just do #339 (and by default - i.e. sans a config option) - so this can be closed.

[2019-11-12 09:46] #338 closed

[2019-11-12 09:47] englehardt commented on #339
We should always save the hash of the content in the data URL, but have a config option that allows us to decide whether we should save the actual content.

[2019-11-12 10:01] nhnt11 commented on #423
I wrote some code to do this for multipreffer tests: https://github.com/mozilla/multipreffer/blob/65f3bc67e4b8b381fd101a861bd8836b98cec101/test/functional/utils.js#L100-L122

[2019-11-12 10:06] englehardt commented on #62
A full profile after a year or so of browsing can be around 500 MB. A new profile with very few page visits is around 20MB.

[2019-11-12 10:22] nhnt11 commented on #276
This is the code that `about:url-classifier` calls to update lists: https://searchfox.org/mozilla-central/rev/6566d92dd46417a2f57e75c515135ebe84c9cef5/toolkit/content/aboutUrlClassifier.js#332-345

[2019-11-12 10:23] englehardt commented on #276
For priming we need to know when the profile has been primed. We can do this within the web extension by either monitoring state in the profile or by triggering updates manually. I.e., for remote setting we can force updates for specific collection and for tracking protection we can call the same update procedures that `about:url-classifier` (as posted by Nihanth above). The extension can post bac

[2019-11-12 10:49] vringar commented on #450
With registering a [preStop Hook](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/) we should be able to flush an aggregator before the instance gets killed

[2019-11-12 11:03] nhnt11 commented on #450
We can use the preStop hook to run a script that sends a signal to the task manager which then shuts everything down and flushes data. Ideally we should also log the success/failure of this process.

[2019-11-12 11:15] vringar commented on #247
Single Document (html, js, jpg...)saved and looked up randomly by key.

[2019-11-12 11:16] englehardt commented on #247
May be able to use a key-value store like DynamoDB from Amazon (or whatever the equivalent is on GCP)?

[2019-11-13 09:32] englehardt commented on #166
The reason this happens is because we [bubble assertions](https://github.com/mozilla/OpenWPM/blob/276200ed446266098168e39740520359299a565e/automation/BrowserManager.py#L505-L509) to the TaskManager for test purposes. See the [commit](https://github.com/mozilla/OpenWPM/commit/994b08057d5f7eb742be3e77f557310b2d569ca7) that added it. I don't actually see any tests using this anymore, so the fix here

[2019-11-13 09:39] nhnt11 commented on #505
We should aggregate links and then click them.

Since clicks might not actually lead to navigations, we'll probably need to anticipate a navigation and time out if we don't get one, at which point we might need to reset page state to be able to interact with the rest of the links.

Ideally someone's already figured out a good way to do this so we can reuse something.

[2019-11-13 10:30] nhnt11 opened #527 "Investigate data loss at the page script level that doesn't propagate to our logs"
We might be losing data because the page script tries to send something over that's not serializable, or we hit an error but it gets lost, etc.

[2019-11-13 10:48] vringar commented on #450
Apparently we have a default grace period of 30s to clean up after ourselves, as per [the kubernetes docs](https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods)

[2019-11-13 11:03] vringar commented on #247
GCP equivalents seem to be [BigTable](https://cloud.google.com/bigtable/) and [FireStore](https://cloud.google.com/firestore/)

[2019-11-14 13:23] vringar commented on #450
MainThread: Inform everybody else to shutdown
WorkerThreads: Inform Extension of shutdown, wait for extension to report done, save profile, shutdown
Aggregator: Wait for WorkerThreads (possibly in the main thread), flush all data to Storage, and report crawl incomplete sites

[2019-11-18 09:00] nhnt11 opened #529 "Remove TypeScript usage from instrumentation"
I wanted to start the conversation about this. Here are some pros:

1. Removal of a dependency and a compile-step.
2. Increases the ease of contributing (I'd argue that TS devs can write JS more easily than JS devs can write TS)
3. No need to mirror standard Web interfaces as TS types. This is a huge annoyance for me.
4. The instrumentation is really not that complex and I feel like enforcing a ty

[2019-11-19 12:35] vringar commented on #450
Apparently we still might be forced to use non preemtible nodes as [per the GKE docs](https://cloud.google.com/kubernetes-engine/docs/how-to/preemptible-vms#kubernetes_constraint_violations) any nodes on preemptible instances might be terminated without any notice (including not running the preStop hook)

[2019-11-19 12:39] vringar commented on #450
or we bother with [this complexity](https://medium.com/google-cloud/stateful-services-on-preemptible-nodes-with-google-kubernetes-engine-c73ac10b8253)

[2019-11-20 05:59] ed-w-lee opened #530 "Adding support for logging websockets?"
Hi all!

We're a group of students who are trying to use OpenWPM.
One thing we would like is to log websocket sends and receives into the database, as well as the already existing HTTP requests.
Would you all happen to have any ideas on where to get started on doing that? Or, since it likely has  to do with modifying the extension / instrumentation, any ideas on who to ask in regards to creating e

[2019-11-20 09:37] vringar commented on #530
Hey @ed-w-lee ,
consider having a look at [the WebExtension API for webRequests](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest)
 I'm not an expert on this but their first line

makes it seem like you might find what you need here :)

[2019-11-21 06:04] motin commented on #529
In it's current mode (stable/maintenance) the upside of TS is definitely smaller than during testless Quantum-support-refactoring. I'd also argue that Python contributors prefer JS over TS, and since maintenance and contributor compatability is of highest priority, dropping TS/Webpack seems desirable.

I introduced TS since converting the instrumentation to use Web Extension API:s was a paradigm c

[2019-11-21 23:09] englehardt commented on #530
Are you sure that we don't already have support for logging web socket requests? The webRequest listener is already [configured to log websocket requests](https://github.com/mozilla/OpenWPM/blob/f1c5a22848c168245c6deee2b66d04cf63e0e987/automation/Extension/webext-instrumentation/src/background/http-instrument.ts#L62).

[2019-11-22 09:39] #285 closed

[2019-11-22 16:02] englehardt commented on #325
We believe the request id remains constant through redirects, so that may be sufficient to deterministically link redirected channels (along with timestamp). I'll double check this to verify.

[2019-11-22 16:05] englehardt commented on #135
* Extension needs to say when it’s done and the platform needs to block on that timeout.
* How does the extension know that it’s done with a page visit? We can have Firefox close the tab and wait 5 seconds before sending the next visit ID.
* When a page gets closed, any open requests (tested both DOM with src and XHR) are invalidated and we don’t receive them.

Procedure:
* Submit visit id —> wait

[2019-11-22 16:09] englehardt commented on #135
![IMG_20191114_155356](https://user-images.githubusercontent.com/3280150/69441324-5aee9380-0cff-11ea-921d-720016530fef.jpg)

[2019-11-22 19:13] englehardt opened #534 "Investigate why the MPLogger tests failed to capture serialization issues"
See https://github.com/mozilla/OpenWPM/pull/532#discussion_r349558424 for a discussion of the bug, and https://github.com/mozilla/OpenWPM/issues/487 for an example of how the bug manifests.

[2019-11-22 19:14] englehardt commented on #534
#532 should fix #487, but lets leave it open until we're able to get a working test case.

[2019-11-22 19:21] englehardt commented on #466
With the merging of #532 these tasks are now all complete. Python 2 support is now fully removed.

[2019-11-23 19:58] ed-w-lee commented on #530
Got it, I think we did see that but don't think it does everything we want it to.
I think that the initial request to the websocket was logged with the 101 response, but not the messages being sent and received after the connection is established.
Or if they are, we're not entirely sure where such events would be located in the resulting database, as they aren't in `http_responses` as far as we ca

[2019-11-26 01:28] englehardt commented on #448
Found in the wild, some tricks a script uses to detect various browsers (and webdriver):

[code]

top_url	https://www.pragmatismopolitico.com.br/
script_url	https://rtbcdn.doubleverify.com/bsredirect5_internal41.js

[2019-11-26 01:29] englehardt commented on #448
Specifically relevant to webdriver are: `if (document.documentElement.hasAttribute && document.documentElement.hasAttribute("webdriver") || null != window.domAutomation || null != window.domAutomationController || null != window._WEBDRIVER_ELEM_CACHE) return 98;`

[2019-11-26 09:23] vringar commented on #534
The exception difference between the testcases and the error we are seeing in #532 is that the WebDriverException in a real run gets caught in the BrowserManager, has it's exception formatted and then logged and put into the status queue. [See here for the code](https://github.com/mozilla/OpenWPM/blob/master/automation/BrowserManager.py#L485)

[2019-11-26 09:27] vringar commented on #534
What I currently don't understand how the status queue in the browser manager relates to the one in BrowserManager or if it's the `exc_info=True, extra = extra` that is causing this behaviour as both don't appear in the test cases
[code]

[2019-11-26 09:41] vringar opened #535 "Can't kill already killed process"
In #474 we see in the logs that we can't kill an already killed process.
This happens because we [assume that a WebDriverException](https://github.com/mozilla/OpenWPM/blob/16ebe3cc151febc409de5439eb32ec33705c05de/automation/BrowserManager.py#L485) means that we still have a handle to the process, while in this specific circumstance it means that we never had a process in the first place.
So we try

[2019-11-26 11:12] vringar commented on #534
Somehow having `Process` in `multiprocess_utils.py` name the exception causes it to be saved in `exc_text` instead of `exc_info`. [According to the docs](https://docs.python.org/3/library/logging.html#logging.Formatter.format) this is a field where a preformatted string can be cached.
Because of this caching the test case never hit the `ensure_string` code path.

[2019-11-27 21:51] englehardt commented on #325
https://searchfox.org/mozilla-central/source/toolkit/components/extensions/webrequest/ChannelWrapper.h#275

[2019-11-28 09:19] linwhitehat opened #537 "Can't run on Ubuntu18.04.3 in virtual machine"
after installing OpenWPM  by running `./install.sh`
when I run python3 demo.py , error shows like these:
[code]
How to fix up the problem?

[2019-11-29 11:07] vringar commented on #537
Is there a firefox-bin folder in your project directory and does it contain an executable called firefox-bin?

[2019-12-02 01:49] linwhitehat commented on #537
No, I just downloaded the project by "git clone https://github.com/mozilla/OpenWPM.git" and followed the install steps to test OpenWPM.

[2019-12-02 01:54] linwhitehat commented on #537
I followed the steps from link "https://github.com/mozilla/OpenWPM/wiki/Setting-Up-OpenWPM", is there other guidance notes for me learning how to installing and use OpenWPM?

[2019-12-02 01:55] linwhitehat commented on #537
I followed the steps from [link,](https://github.com/mozilla/OpenWPM/wiki/Setting-Up-OpenWPM) is there other guidance notes for me to learn how to install and use OpenWPM?

[2019-12-02 04:53] linwhitehat commented on #537
Add a note that I am in china and can not connect to archive.canonical.com，I have tried to use proxy but it didn't work for me.  The info shows below.

Would you like to install Adobe Flash Player? (Only required for crawls with Flash) [y,N]
Not installing Adobe Flash Plugin
Hit:1 http://mirrors.aliyun.com/ubuntu bionic InRelease
Hit:2 http://mirrors.aliyun.com/ubuntu bionic-security InRelease
Hit

[2019-12-03 11:39] vringar commented on #537
Can you run `sudo apt-get update` on your VM and see if that completes successfully?

Our script exits at the first line that returns with an error code and I believe  `sudo apt-get update` fails for you because you have mirrors in your `/etc/apt/sources.list` that you can't reach.

If the command also fails if you run it from the command line then I would suggest you remove all non chinese entrie

[2019-12-03 11:55] vringar commented on #530
Hey,
sorry for taking so long to get back to you on this.
I think would think they should show up in the `http_requests` and `http_responses` as well.
Do you have the time and interest to create a test case to show us this is broken? Because with this test case I could then go off to try and fix this.

[2019-12-04 01:51] #534 closed

[2019-12-05 22:02] englehardt commented on #325
The comment linked in https://github.com/mozilla/OpenWPM/issues/325#issuecomment-552451194 has proven true. It looks like the `requestId` property is kept around through all redirected channels. This will greatly simplify analysis and may even allow us to get rid of the `http_redirect` table since records in `http_requests` are already explicitly linked.

See: [console-export-2019-12-5_13-58-10.tx

[2019-12-05 22:03] #325 closed

[2019-12-06 17:01] vringar opened #538 "Give TaskManager.close() the option to not wait on the browser being done"
This means we don't loose data if loading the current site takes longer than 30s.

[2019-12-08 12:21] linwhitehat commented on #537
thanks for the suggestion, I changed the source.list and it worked, I can run `apt-get update`  but while installing Openwpm, the warning occurred like this：
![image](https://user-images.githubusercontent.com/20349381/70389281-2f0a2800-19f8-11ea-915c-57d1dfb68bca.png)

[2019-12-08 12:28] linwhitehat commented on #537
thanks for your suggestion！After I changed the source.list, I can run `sudo apt-get update` successfully and I installed Openwpm successfully! It worked for me, thanks a lot! The question has been solved perfectly and I need to add a suggestion that users in china install Openwpm with proxies in terminal.

[2019-12-08 13:39] vringar commented on #537
:+1: Happy to help

[2019-12-08 13:39] #537 closed

[2019-12-09 22:55] nhnt11 commented on #224
@englehardt Can we close this?

[2019-12-09 23:30] englehardt commented on #224
@nhnt11 If I remember correctly from a few weeks back you mentioned that you had tested this manually by adding in a big delay into startup and didn't see any missed requests? Is that right?

[2019-12-10 14:23] nhnt11 commented on #224
Yes.

[2019-12-10 14:26] nhnt11 commented on #224
I think what we verified was that we can indeed use the blocking WebRequest listener to achieve this but I can't remember if we landed it. It doesn't seem like it.

[2019-12-10 20:25] hadiasghari opened #539 "Add `visit_id` to the keyword arguments of `run_custom_function`"
Is it possible to know the sequence's visit_id inside a custom function? (This would help matching database records for inserts done in the custom function.)

[2019-12-11 00:10] nhnt11 commented on #352
I pushed some code to the nhnt11-callstacks branch that attempts to solve this. It sets up window actors - the child intercepts requests[1], checks for the relevant ones (same window ID)[2], captures the callstack[3], and sends it to the parent[4]. This is then sent to the WEE api via an observer notification[5], which is then propagated as an event[6] to the extension's sandbox scope. With each c

[2019-12-13 18:50] vringar commented on #530
At this point I think that we would need to register different callback handlers to catch the WebSockets traffic (I might be very wrong on this though)

[2019-12-17 17:32] englehardt opened #541 "Upgrade to Firefox 71"

[2019-12-19 14:38] englehardt commented on #541
I took this over because I wanted to test something on 71. Will be fixed by #544

[2019-12-19 14:40] englehardt opened #545 "Ensure content scripts inject into dynamically created iframes"
It seems like our content scripts may not inject into all iframes. This would mean that our instrumentation fails to capture some calls. See https://github.com/mozilla/OpenWPM/pull/526#issuecomment-567464231 for a discussion. A possible fix is linked in that comment.

[2019-12-20 09:29] turban1988 commented on #505
The problem that I faced when trying to implement something similar was that the timeout of each command has to be defined before the command is executed and that it cannot be updated once the command sequence is started.
_Scenario:_
I wanted to crawl all links on a website and visit them afterwards. Technically that is not a problem: (1) visit the page, (2) crawl all links, and (3) visit each lin

[2019-12-20 09:37] turban1988 opened #546 "UnboundLocalError: local variable 'command_status' referenced before assignment"
When I perfom large-sacle  crawls i often get the following error (undeterministically).

[code]

The relate dcode is:
https://github.com/mozilla/OpenWPM/blob/8ed3798c45ce01729458a794748fe018a81727e2/automation/TaskManager.py#L461-L515

It seams that if an eception (other than `EmptyQueue`) is raised the `command_status` is never set. A work around might be to initialize it before teh if statement

[2019-12-20 09:39] turban1988 opened #547 "TypeError: exceptions must derive from BaseException"
I encounter the following exception when in the `TaskManager`.

[code]

[2019-12-20 09:47] turban1988 opened #548 "RequestsDependencyWarning"
When I run the framework on a freshly installed Ubuntu 18.04 LTS I get the following warning:
[code]

Other projects had similar issues [streamlink](https://github.com/streamlink/streamlink/issues/2448), [Stackoverflow](https://stackoverflow.com/questions/56155627/requestsdependencywarning-urllib3-1-25-2-or-chardet-3-0-4-doesnt-match-a-s/56170469) , or [urllib3](https://github.com/urllib3/urllib3/

[2019-12-20 10:39] vringar commented on #541
Closes by merging #544

[2019-12-20 10:39] #541 closed

[2019-12-20 11:08] vringar commented on #547
Can you figure out the type and the content of ` pickle.loads(self.failure_status['Exception']` ?

[2019-12-20 15:06] vringar commented on #352
Unfortunately process scripts don't seem to work as they only get notified when the chrome makes web requests and not when the windows running inside of it make requests.
So we'll probably stick with actor.

[2019-12-20 15:20] englehardt commented on #546
That doesn't seem right, because we'd never get to line 512 if an unhandled exception were thrown.  The same goes for the [`else` condition](https://github.com/mozilla/OpenWPM/blob/8ed3798c45ce01729458a794748fe018a81727e2/automation/TaskManager.py#L496-L499) which would throw a `ValueError`.

Instead, it looks like this will happen if there is a critical command failure, since we don't set `comman

[2019-12-20 15:37] englehardt commented on #548
You don't need `requests` to run OpenWPM; the library is only required to run the tests (via `requirements-dev.txt`).

Would you mind to share the full set of logs that precede this?

[2019-12-20 15:38] englehardt commented on #547
Would you mind to share more of your logs so we can get an idea of when/where this happens. A reproducible website / test case would be very helpful as well.

[2019-12-20 15:49] englehardt commented on #539
Not currently, but it's an easy change:

1. Add `RUN_CUSTOM_FUNCTION` to https://github.com/mozilla/OpenWPM/blob/12b23cc2c490033d8e6e9c7381e3a4432b3ae361/automation/TaskManager.py#L446-L452

2. Pass this visit id into the argument dictionary https://github.com/mozilla/OpenWPM/blob/12b23cc2c490033d8e6e9c7381e3a4432b3ae361/automation/Commands/command_executor.py#L59-L66

3. Access the visit id using

[2019-12-20 15:51] englehardt commented on #539
@hadiasghari if you happen to add this, we'd happily accept a PR :)

[2019-12-20 16:29] #546 closed

[2019-12-30 10:41] turban1988 commented on #548
Here some more details (after uninstalling `requests`)

Console out:
[code]

The beginning of the log (I do not think that this will help):

[code]

[2020-01-07 09:48] vringar opened #550 "Create a script folder and create one main entry script"
There should only be one `setup.sh`/`install.sh` in the top level directory.
It should automatically detect arch and have a command line argument so you can run the dev setup as well ( `./install.sh dev`). This would allow us to more easily support multiple distributions and clean up the top level directory.

[2020-01-14 16:51] vringar opened #551 "Filter urls on scheme to filter non window noise"

[2020-01-14 16:52] vringar commented on #551
Outer join on requests table to find candidates

[2020-01-17 13:37] vringar opened #552 "Debug why test_s3_aggregator.py::TestS3Aggregator::test_basic_properties is failing"
This causes:
https://github.com/mozilla/OpenWPM/blob/9686b8402925336fc0fc9d69780a6551da3b589e/test/test_s3_aggregator.py#L70
Causes an OSError:
`OSError: Passed non-file path: localstack-foo/s3-aggregator-tests/visits/callstacks`

[2020-01-17 16:05] englehardt opened #553 "Update to Firefox 72"
We should also check if there's a new geckodriver release and update that if necessary.

[2020-01-17 16:18] vringar commented on #553
There is no new GeckoDriver release

[2020-01-17 16:50] vringar commented on #552
[code]

[2020-01-17 17:11] vringar commented on #552
It's failing because nothing gets written to that table.
TODO: Extend the testcases so that something goes in there

[2020-01-17 17:17] vringar commented on #553
Use a pinned version to increase reliability

[2020-01-21 15:15] vringar commented on #496
This seems like a bit of a duplicate of #342

[2020-01-21 15:41] vringar commented on #342
Bumping this for multiple reasons:
- `new_request_id` is apparently unused, so it should be removed
- `req_call_stack` is no longer used as there is a new table for that _soon_
- `navigations.id` is always `null`, because it's not set to autoincrement
- `navigations.process_id`also seems to `null`(? need to verify)
- Remove the `flash_cookies` tables as Flash is

Also we should probably create a `

[2020-01-21 15:43] vringar commented on #551
Since the request also gets captured, this is now questionable.
It also seems to be mostly favicons being loaded.

[2020-01-21 18:02] vringar commented on #381
Alternative:
1. Go find the latest tag here:  https://hg.mozilla.org/releases/mozilla-release/tags
2. Go the hash provided for that tag
2. https://firefox-ci-tc.services.mozilla.com/tasks/index/gecko.v2.mozilla-release.revision.{tag goes here}.firefox/{linux64/macosx}-add-on-devel/target.{tar.bz2/dmg}

[2020-01-21 18:25] Abhi-khandelwal commented on #444
Can I work on this issue?

[2020-01-21 18:51] englehardt commented on #444
@Abhi-khandelwal please feel free to :)!

[2020-01-29 13:58] jonathanKingston commented on #529
My understanding is you can do tsdoc without the need for Typescript which means you get the type checking in standard JavaScript.

[2020-02-04 17:46] vringar opened #557 "Narrow down issues with callstack tests"
Currently we know the following:
- Running plain FF makes the stackDump API behave as expected.
- Running `demo.py` (or tests)  and the JS Instrument enabled makes the stackDump API behave as expected.
- Running  `demo.py` and no JS leads to the actors not being created in normal windows and only the children being created in privileged windows (DevTool, about:debugging) but even there no callstac

[2020-02-04 17:57] #553 closed

[2020-02-05 18:00] CuttlefishJones opened #558 "Scanning site with the containerised version"
I've been handed the containerised version of OpenWPM to perform cookie audits of sites but I can't see how you pass your own configuration to the container. I've tried mapping an external dir to /opt/OpenWPM but that just fails with No module named 'automation'. Any help would be appreciated.

[2020-02-07 13:21] vringar commented on #558
Hey,
Can you go into more detail on what kind of configuration you would like to do?

My general suggestion would be to either:
1. Use our image as a base image, add your script into the /opt/OpenWPM directory (as that is where our code lives) and then run your python script.
2. Mount your script someplace else into the container and then add /opt/OpenWPM to your python path, so that the automatio

[2020-02-11 16:03] vringar commented on #342
This is partially addressed in #556, so maybe we could make the effort to get all of this done in there.

[2020-02-11 17:02] vringar commented on #552
Activated callstack instrument in s3 tests and fixed the error

[2020-02-11 17:02] #552 closed

[2020-02-11 17:06] vringar opened #559 "Fix logging test timing out on Jenkins"
Why is it timing out and how do I get to it?

[2020-02-11 17:08] vringar commented on #559
Or disable the test on Jenkins because it's flaky

[2020-02-11 17:12] #352 closed

[2020-02-14 17:34] vringar opened #561 "Rewrite DataAggregators"
If we split structured and unstructured storage we'd currently have the following 4 Aggregators:
- Structured
   - SQLLite
   - Parquet on S3
- Unstructured
   - LevelDB
   - S3

In a second step we then could move the SQLLite Aggregator to a [SQLAlchemy](https://www.sqlalchemy.org/) based one, so we could then write to a Cloud SQL DB. This would give us atomic commits with no batching and enable

[2020-02-14 17:36] vringar commented on #551
We want to capture all requests and their appropriate callstacks. So we are also capturing the favicon loads and the internal calls that load them.

[2020-02-14 17:36] #551 closed

[2020-02-14 17:37] vringar commented on #550
Good first issue because it's only tangentially related to the project and only requires knowledge of bash

[2020-02-14 17:54] vringar opened #562 "Add onCompletion Callback to CommandSequence"
Inform the user of the TaskManager that CommandSequences data has been saved.
This needs to happen, so that crawls whose data couldn't be saved are correctly marked as "not finished" and can be retried.
The interface changes:
- There would now be a onSaveCompleted method on CommandSequence that would take no arguments and be executed once the data has been saved
The implementation:
- There would b

[2020-02-14 17:57] vringar commented on #538
This would just be a shim over the current architecture flaws. #562 will be the new issue to discuss better alternatives in

[2020-02-14 17:57] #538 closed

[2020-02-14 18:21] vringar commented on #476
Superseded by #562 as that is a non blocking approach

[2020-02-14 18:21] #476 closed

[2020-02-14 18:24] vringar opened #563 "Use set_page_load_timeout"
This is a way less resource intensive way of dealing with site timeouts
Reference implementation can we found here: https://github.com/birdsarah/faust-selenium/blob/4e3602deeb39456f27215bb539fd3ffe073344fd/crawler/crawler.py#L32

[2020-02-15 01:32] englehardt opened #564 "Set site_rank in crawler.py"
Since we now have the ability to save site rank in the DB we should set it in crawler.py

[2020-02-16 16:12] eriktews opened #565 "Remove is_full_page and is_frame_load in http_requests"
In the current version of OpenWPM, is_full_page and is_frame_load are used a bit inconsistently. The documentation on https://github.com/mozilla/OpenWPM/wiki/Instrumentation-Schema-Documentation#http-requests says:

is_frame_load - True if the request is for an iframe document
is_full_page - True if the request is for a top-level (i.e. tab) document

However, the code that determines those attribu

[2020-02-18 13:18] vringar opened #566 "Should the taskmanager create a watchdog thread even when it's disabled?"
Currently a watchdog daemon always gets spawned even though it can't  be enabled.
https://github.com/mozilla/OpenWPM/blob/master/automation/TaskManager.py#L146

[2020-02-18 13:48] vringar commented on #562
The status_queue of the aggregator is currently used to inform the taskmanager of the current queue size. So I either need to add an additional queue (seems like a quick and dirty fix that would stick around) or rewrite the status queue two handle two types of status updates.

[2020-02-18 16:13] vringar commented on #562
Currently we are blocking on the status_queue getting small enough to resume distributing command by repeatedly blocking on the status_queue getting updates.
This means reusing the existing queue leads to some architectural rethinking

[2020-02-18 17:21] vringar opened #567 "Remove "send to all browser" in execute_command_sequence"
It adds unneeded overhead and doesn't provide useful functionality

[2020-02-18 17:27] vringar commented on #566
The watchdog should be enabled because it also enforces a memory limit

[2020-02-18 17:27] #566 closed

[2020-02-18 17:29] vringar commented on #562
Let's just create an extra queue, it's way easier

[2020-02-27 03:45] say-yawn opened #569 "Collect data on most popular trackers and website with most trackers"
# About this Issue
As an engineer working on the Shavar services I want to know what are the trackers that are used most in the websites so that when a change in block list or the entity list is introduced in the [shavar-prod-lists](https://github.com/mozilla-services/shavar-prod-lists) I can warn the reviewer about the likelihood to cause breakage based on the popularity of the tracker. Also, to

[2020-02-27 09:34] PatSpiegel commented on #569
link is broken, you meant? https://github.com/mozilla-services/shavar-prod-lists/

[2020-02-28 14:47] vringar commented on #559
https://travis-ci.org/mozilla/OpenWPM/jobs/655821761
Here we are getting a proper exception so it might be helpful for debugging

[2020-03-02 20:28] MaazBinMusa opened #570 "javascript execution without profile tar"
So i was trying to run the following function in the run_custom_function
[code]
- I visit a site where doing pbjs.getBidresponses() works e.g accuweather
- I run the custom function that gathers ads
- It fails by saying:

![image](https://user-images.githubusercontent.com/19577994/75714779-ee861780-5c91-11ea-8319-e3334a7dfe45.png)

When I load a profile tar before doing this, it works smooth. The

[2020-03-03 12:34] vringar commented on #570
Can you share the selenium script that you wrote?
Because from first impression this something that's happening in Selenium code (as `driver` is a Selenium class)

[2020-03-03 16:49] MaazBinMusa commented on #570
I use my own config files and not the default config but it has the same key value pairs plus a few of my own.

os.chdir('opt/OpenWPM')
config_path  = sys.argv[1] ## Config File Path
mode         = sys.argv[2] ## Flag for Mode ## 1 is ad collection 2 is persona without intent 3 in persona with intent

def callGet(path,mode,**kwargs):
    driver = kwargs['driver']
    js = "var output = [];"\

[2020-03-03 16:58] englehardt opened #571 "Simplify command issuing in Task Manager"
https://github.com/mozilla/OpenWPM/blob/59e79a7adbb41b2a801b7f8fb9c2863cb6222cc7/automation/TaskManager.py#L443-L454

* Remove `start_time`, and entire `elif` block for dump profile cookies and dump flash cookies
* Change all other commands to accept the visit id, pass it to all commands (i.e., remove the `if` condition)
* Pass `crawl_id` to all commands for clarity.

[2020-03-03 18:09] vringar opened #572 "Add synchronous force_data_save method to TaskManager"
To allow us to verify that all data has actually been saved the user should have the option to enforce a commit to storage via a method that only returns if the saving has been successful.

[2020-03-03 18:10] vringar commented on #567
Need to pull this out of the onCallbackCompleted branch

[2020-03-03 18:17] vringar commented on #562
This isn't a useful technique as we would have to lease a given site over and over again until it's eventually completed and the implementation is quite complex

[2020-03-03 18:34] vringar commented on #562
TODO to make this work:
- Have a dict of sites to jobs
- Re-lease all unfinished jobs after each command under a lock
- Lock and remove a job from the dict once it has been saved

[2020-03-03 18:36] vringar commented on #572
TODO afterwards:
- Rewrite leasing to checkout a batch over and over
- Upload batches to Redis
- Force upload after finishing a batch

[2020-03-05 08:05] turban1988 opened #573 "Collect SRI info of scripts"
Hi,

it would be great if information on Subresource Integrity (SRI) could be collected during the crawl.
Would that be possible?

[2020-03-05 18:55] MaazBinMusa commented on #570
The issue was a resource loading issue. Increasing the timeout generously to 90 seconds solved this issue. No profile was needed.

[2020-03-05 18:55] #570 closed

[2020-03-06 12:23] vringar commented on #573
Hey, you could write a custom function as [seen here](https://github.com/mozilla/OpenWPM/issues/570) and access any information available on the site

[2020-03-08 07:58] svensevenslow commented on #564
Hi! I'm a Outreachy 2020 participant. I'd like to work on this issue. Could you please assign it to me?

[2020-03-09 06:55] svensevenslow commented on #564
Hi! I'm not clear on what it means here to set the site_rank. The crawler.py file has this line of code
[site_rank, site = job.decode("utf-8").split(',')](https://github.com/mozilla/OpenWPM/blob/59e79a7adbb41b2a801b7f8fb9c2863cb6222cc7/crawler.py#L124)

[2020-03-09 16:20] vringar commented on #564
Hey,
Oh that's convenient. So passing this to [the command sequence constructor](https://github.com/mozilla/OpenWPM/blob/master/automation/CommandSequence.py#L25) [five lines below](https://github.com/mozilla/OpenWPM/blob/59e79a7adbb41b2a801b7f8fb9c2863cb6222cc7/crawler.py#L129) should fix this bug.
Because right now `site_rank` seems to be unused.

[2020-03-10 10:39] svensevenslow commented on #564
Hi! I've opened a [PR](https://github.com/mozilla/OpenWPM/pull/575).

[2020-03-10 10:54] vringar commented on #564
Hey, thank you so much!
Are you aware that you can get GitHub to automatically close the issue you are fixing by writing

in the description of the merge request?

[2020-03-10 11:01] #564 closed

[2020-03-10 11:02] svensevenslow commented on #564
Hi! Didn't know, will keep it in mind next time. Thank you for merging my PR.

[2020-03-10 11:02] vringar commented on #572
No longer needed since we are using callbacks

[2020-03-10 11:02] #572 closed

[2020-03-10 11:18] svensevenslow commented on #571
Hi! I'd like to work on this. Please assign me this issue.

[2020-03-10 11:47] vringar commented on #571
Hey, there is some context to this issue that hasn't been written down yet.
I'll quickly summarize of the top of my head:
There should be a base class that contains visit_id and crawl_id and subclasses for every single command that may provide additional names fields.
[The command executor](https://github.com/mozilla/OpenWPM/blob/master/automation/Commands/command_executor.py) would then use [isIn

[2020-03-10 12:56] vringar opened #576 "Consider using JSON Schemas to document the instrumentation output"
[JSON Schemas](https://json-schema.org/learn/getting-started-step-by-step.html) allow us to specify every field in our output with a description and a set of constraints that allow verification and deserialization in many different languages including [python](https://json-schema.org/implementations.html#validator-python). It also [supports reuse](https://json-schema.org/understanding-json-schema/

[2020-03-10 17:41] svensevenslow commented on #571
So, I need to write these base classes and sub classes where specifically. I mean create a separate file or write in the TaskManager.py file. Also I would need to remove all instances of command[0] etc used in this repo and use isInstance() to check the type ?

[2020-03-11 13:52] Akhila499 commented on #160
Hi... I am Akhila, Outreachy applicant for March 2020. May I start working on this? Is this still open for contribution?
@englehardt I am new to open source community. Can you please guide me on getting up to speed with this issue?

Thanks

[2020-03-11 13:54] Akhila499 commented on #576
Hi... I am Akhila, Outreachy applicant for March 2020. May I start working on this? Is this still open for contribution?
@vringar  I am new to open source community. However, I am familiar with both JSON objects and Python programming language. Can you please guide me on getting up to speed with this issue?

Thanks

[2020-03-11 14:03] vringar commented on #571
I would expect you to create a `Commands.py` in automation/Commands.
Yes, that would be the goal of this. I'm hoping that this way everything is more explicit and easier to change in the future

[2020-03-11 14:55] vringar commented on #576
Hey Akhila,
While the issue is open and unassigned, I am unsure if this is a good issue to start on, as it requires quite a deep understanding of OpenWPM as a whole.
I'll spent the next hours looking through our current issues and seeing if they would be good first issues.

[2020-03-11 14:58] vringar commented on #539
@svensevenslow Once you have finished work on your current issue, this might be a good follow-up to show how this is now easier to do

[2020-03-11 15:01] vringar commented on #444
@Abhi-khandelwal are you still working on this or could this be reassigned?

[2020-03-11 15:04] vringar commented on #443
I think this #574 fixes this issue for the most part.
We could however discuss if we should mark visits that were cut short by a shutdown as such in some table.

[2020-03-11 15:25] birdsarah commented on #443
Visits cut short by a shutdown should definitely be marked as failed. In an ideal world their data wouldn't be saved.

The only reason that it's probably not urgent is that it doesn't happen very often but it definitely invalidates the measurement if it didn't get a chance to complete for the requested time.

[2020-03-11 16:37] vringar commented on #443
We definitely will save their data online but we could easily implement a post processing step that removes all rows of failed crawls for the analysis and keep the sites marked as not done in the work_queue

[2020-03-11 17:36] vringar commented on #114
@Akhila499 do you think this is something you would want to take on?

[2020-03-11 18:22] Akhila499 commented on #114
Thank you very much @vringar for offering this. I am happy to work on this. I did understand broadly as to what this feature is supposed to do. However, I do not know the exact details of this feature request. For instance where can I find the function execute_command_sequence()? Kindly direct me to the piece of code where this change needs to be made along with necessary documentation.

Thank you

[2020-03-11 20:22] vringar commented on #114
Hey,
I'm would suggest you read through `demo.py` to get an overview of the crawler. You'll find [execute_command_sequence in the TaskManager](https://github.com/mozilla/OpenWPM/blob/master/automation/TaskManager.py#L565) but I don't think it'll be of much use to you without some context.
If you have any more general questions feel free to ask them on matrix (The link is at the top of the README.m

[2020-03-11 20:47] vringar commented on #114
My suggestion would be that the user can set an key called `labels` in the `browser_params` that is a list of all groups a certain browser belongs to.
`TaskManager.execute_command_sequence` would then also take a `label` as a parameter and then wait for the next browser with the right label to be ready and schedule the CommandSequence on there.

[2020-03-11 20:48] vringar commented on #114
I'll get some cleanup for the code you'll have to edit in the next two days, so maybe wait for them to be landed before you start your coding and familiarize yourself with the core OpenWPM concepts until then.

[2020-03-11 22:11] boolean5 opened #577 "Running install.sh in a virtual environment fails"
The installation instructions in the README suggest running `install.sh` in a virtual environment, but the `--user` flag is used in `install-pip-and-packages.sh` (specifically in the commands `python3 get-pip.py --user` and `pip3 install --user --upgrade -r requirements.txt`).

This results in `install.sh` failing with `ERROR: Can not perform a '--user' install. User site-packages are not visible

[2020-03-11 23:05] vringar opened #579 "Improve python development experience"
Currently when building the extension there are lots of linters and so on running to make sure to catch errors.
On the python side we currently only run flake8 for formatting and nothing else.
My list of tools to enhance the python developer experience is:
- [black](https://pypi.org/project/black/) as a formatter that removes the need to manually add line breaks or remove unneeded whitespace
- [py

[2020-03-11 23:11] vringar commented on #577
AFAIK the `--user` flag installs packages into the user directory to avoid requiring root access and still make the packages available for all local projects.
Since we suggest using a virtualenv to keep the installed packages (with their fixed versions) contained to the project.
Unless I'm missing something I would think that we can remove the `--user` flag
@englehardt @skim1102

[2020-03-12 05:50] Akhila499 commented on #114
@vringar I am on it. Will be going through demo.py and other documentation over the next couple of days before starting to code. Hope I can reach out to you in case I need any clarification.
Thanks

[2020-03-12 10:35] boolean5 commented on #73
It seems that `expected.py` and the expected values defined within it are no longer used by any tests.
If someone confirms this I can send a PR that removes this file.

[2020-03-12 10:50] svensevenslow commented on #571
Hi! I have opened a Work in Progress [PR](https://github.com/mozilla/OpenWPM/pull/580). Please have a look.

[2020-03-12 23:24] englehardt commented on #577
That sounds right. I believe we added this avoid using `sudo` to work around permission errors when not using a virtualenv (e.g., deploying crawls to a cloud machine).

Given that pip now [falls back](https://github.com/pypa/pip/pull/7002) to `--user` under those conditions, removing the explicit `--user` flag from the install script seems right.

[2020-03-13 00:07] englehardt commented on #73
After a quick pass that seems to be right. Feel free to create a PR and we'll see if any tests fail. (cc\ @skim1102)

[2020-03-13 00:17] englehardt commented on #573
@vringar is right. This seems more appropriate as a Selenium command than something built into the native instrumentation.

I don't see a way to collect SRI information using the probes we currently have in place. I'm hesitant to add commands that parse page content since there's a lot of subjectivity involved in that (e.g., when to start parsing, do we go into iframes, etc). It seems safer to all

[2020-03-13 00:17] #573 closed

[2020-03-13 00:23] englehardt commented on #565
Thanks for the thorough submission!

That's an error. The intended functionality is what's in the documentation.

That's expected, and matched the documentation.

This is the right fix.

[2020-03-13 00:39] englehardt commented on #342
We should also update the documentation

[2020-03-13 00:42] englehardt commented on #496
Not exactly a duplicate, but I agree the tasks are linked. I've expanded the scope of that bug slightly to include this.

[2020-03-13 00:42] #496 closed

[2020-03-13 10:08] boolean5 commented on #73
Done. The tests are passing too.

[2020-03-13 16:30] #73 closed

[2020-03-13 17:47] vringar commented on #576
@birdsarah this is the issue I wanted your input on.
Do you know if we could generate documentation from the schema.
Because I don't want to assume that users could read JSON schema in it's raw form

[2020-03-13 17:51] vringar opened #584 "Make use of typed dict to show all config options"
Currently manager_params and browser_params are rather complex and there is no complete listing of all options that can be set.
This could allow us to partially clear that https://www.python.org/dev/peps/pep-0589/

[2020-03-14 01:22] birdsarah commented on #576
https://github.com/lbovet/docson

[2020-03-16 14:17] vringar commented on #114
Hey, I saw that you asked for some more guidance in the channel.
Can you show me what you have done so far, so that I can be more helpful?

[2020-03-16 17:59] Akhila499 commented on #114
Hi @vringar Thanks for your reply. I have created new pull request (https://github.com/mozilla/OpenWPM/pull/585). I have not added anything. But, I guess I need to add a new key named 'label' and initialize it with empty list. However, I do not know how this affects the task manager and command sequence. Should I make any changes there as well? Let me know. Thanks

[2020-03-16 18:52] boolean5 commented on #563
Hi @vringar, I'm interested in working on this. Could you please provide some more background? What is the current timeout implementation and why is the proposed implementation less resource intensive?

[2020-03-16 18:57] vringar commented on #114
Hey,
then please go ahead and implement it as far as you understand it and see if you can maybe figure the rest out afterwards.
You don't need to change anything in the command sequence code and I have already linked you the method you'll need to change in the task manager.

[2020-03-16 19:28] vringar commented on #579
mypy --ignore-missing-imports --check-untyped-defs  --disallow-incomplete-defs  --disallow-untyped-defs

[2020-03-17 11:18] vringar commented on #563
Hey,
I initially thought this would just be about copying one line over from the faust-selenium repo and removing some localized piece of code.
But it turns out our timeout logic is spread over multiple files and threads and I don't feel comfortable calling this a good first issue anymore.
I'm sorry for marking it as such and hope you find another issue to work on.

[2020-03-17 11:29] boolean5 commented on #563
That's ok, I'll find something else to work on for now and might get back to this later when I'm more familiar with the entire OpenWPM code base. Thanks for letting me know.

[2020-03-17 11:49] #577 closed

[2020-03-17 17:28] Akhila499 commented on #114
Hi @vringar I was able to make a few changes. I added a key named "prioritize-this-config" and set it to False in default browser params. Also changed the code in TaskManager.execute_command_sequence. However, I do not see how the browser params flow into execute_command_sequence function. I tested it by passing an argument into the function execute_command_sequence directly in Demo.py. But, I am

[2020-03-18 12:59] vringar commented on #114
I execute_command_sequence you have a list of browsers each saving their respective browser_params
So you can do `self.browsers[i].browser_params` to access the config of the specific browser.

Can you tell me which part of my feature description you didn't understand?

I don't quite understand your problem with pycharm as everything works as expected for me. Please consider filing another issue w

[2020-03-18 16:44] gunesacar commented on #529
This is also a significant barrier for researchers who want to use OpenWPM, but need some simple modifications.

[2020-03-18 20:26] svensevenslow commented on #539
According to the changes that will be made for[ issue#571](https://github.com/mozilla/OpenWPM/issues/571)

`visit_id = arg_dict["command"].visit_id`

this should give us the visit_id

[2020-03-18 22:16] LilyLME opened #588 "Error in wiki"
In the first like of the Wiki where WPM is describe, serves has to services

Web Privacy Measurement is the observation of websites and ~serves~ services to detect, characterize and quantify privacy-impacting behaviors.

[2020-03-19 00:03] LilyLME commented on #565
@englehardt can I work on this?

[2020-03-19 00:25] eriktews commented on #565
From my point of view it looks like an easy task. Don't forget to update the sqlite scema and the code for the pa file as well.

Am 19. März 2020 01:04:10 MEZ schrieb Asongfac Lily Rospeen <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2020-03-19 06:51] Akhila499 commented on #114
Hi @vringar Thanks for the input. I understood the way how to access a given browser's parmas. However, I am confused around the labels part that you mentioned. Can you elaborate on what you meant by the following sentence:

"My suggestion would be that the user can set an key called labels in the browser_params that is a list of all groups a certain browser belongs to."

So, may I know this 'labe

[2020-03-19 12:35] vringar commented on #114
`DNT0` and `DNT1` are labels just like `adblock-plus` and `donottrack`
I think you have a good understanding of this problem by now and agree with your statements. You should be able to produce some results based of that understanding.
If you still need further clarification I'd suggest that you consider dropping this issue and taking a look at another.

[2020-03-19 13:35] hadiasghari commented on #114
Hi @vringar @Akhila499. I'd like to give an update on my request from 2016. I have since worked around this limitation—the inability to tell which Firefox instance or configuration relates to a particular visit—by running multiples crawl scripts each with only one (single) browser.  The crawl script instances (which I typically also run in  docker containers) configure the browser based on the scr

[2020-03-19 15:14] svensevenslow commented on #444
If nobody is working on it can I pick this issue to work on?

[2020-03-19 15:18] Akhila499 commented on #114
Hi @vringar @englehardt I made the changes. I also tested them. Let me know what you think.

[2020-03-19 16:26] englehardt commented on #565
Yes you can, thanks!

We'd like to remove both of these, and update the sql and parquet schemas as well.

[2020-03-19 16:28] englehardt commented on #444
Yes, please do. Thanks :)

[2020-03-19 16:29] boolean5 commented on #501
Hi, I'd like to work on this. May I?

[2020-03-19 16:30] vringar commented on #501
Go right ahead :)

[2020-03-19 16:32] vringar commented on #529
@gunesacar I'm sorry, I don't quite understand which side you are arguing for at the moment?
Do you think types make it easier to work with the code base or that this rigidness is harming quick experimentation?

[2020-03-19 16:33] englehardt commented on #588
Thanks for the report. I think "serves" here was intended to refer to Web privacy Measurement. I.e., "Web Privacy Measurement serves to detect, characterize, and quantify..." but I like your phrasing :) I've updated it.

[2020-03-19 16:33] #588 closed

[2020-03-19 16:47] gunesacar commented on #529
Oh, sorry. The latter; the rigidity and (more importantly) the unfamiliar language (TypeScript) harming quick experimentation.

[2020-03-19 17:07] englehardt commented on #529
I'm in favor of removal as well. Particularly hearing the concerns from Gunes as they validate a concern I've had--that TS will be difficult for folks to quickly engage with the repo.

[2020-03-20 00:59] LilyLME commented on #550
Hello @vringar please assign this to me. :) I would like to work on it

[2020-03-20 16:18] valkyr13 commented on #280
@englehardt can i work on this?

[2020-03-20 16:18] valkyr13 commented on #233
@englehardt can i work on this?

[2020-03-20 17:23] englehardt commented on #233
@valkyr13 yes, and thank you!

[2020-03-20 17:28] englehardt commented on #280
@valkyr13 Yes. I suggest first trying [what we used to do](https://github.com/mozilla/OpenWPM/blob/683216f7927afc760ba6195479823cd3e23d85df/automation/Commands/browser_commands.py#L64-L68) before upgrading to Selenium 3. I wonder whether some of the unreliability has since been fixed.

[2020-03-20 17:32] englehardt commented on #550
@LilyLME done! Thank you.

[2020-03-22 12:21] svensevenslow commented on #444
Hi! I have opened a [PR](https://github.com/mozilla/OpenWPM/pull/593). Let me know what you think. Also this test [errored ](https://travis-ci.org/github/mozilla/OpenWPM/jobs/665443725?utm_medium=notification&utm_source=github_status)but re-triggering the build made the test [pass.](https://travis-ci.org/github/mozilla/OpenWPM/jobs/665453558?utm_medium=notification&utm_source=github_status).

[2020-03-23 13:50] svensevenslow commented on #99
Hi! Is this feature still required? Can I work on this @vringar ?

[2020-03-23 18:40] englehardt opened #594 "sqlite3.ProgrammingError: Cannot operate on a closed database in TestSimpleCommands.test_browse_wrapper_http_table_valid"
See https://travis-ci.org/github/mozilla/OpenWPM/jobs/664956158#L3994

[2020-03-24 10:53] #559 closed

[2020-03-24 14:18] boolean5 commented on #594
@englehardt, the above link points to a successful test run. I've seen this error appear in `TestExtension.test_canvas_fingerprinting` here though: https://travis-ci.org/github/mozilla/OpenWPM/jobs/664047781#L1862

[2020-03-24 15:58] Akhila499 commented on #114
@vringar Please let me know if I have to do something from my end

[2020-03-24 19:08] birdsarah commented on #529
My background is in being a huge proponent of TypeScript. I spent many years as a full-stack web developer and, although I most strongly identify with being a python developer, I have developed multiple large applications in JS (of note in terms of number of users and application scale - Bokeh and the Anaconda Enterprise Platform). In that context, moving to TypeScript was one of the greatest thin

[2020-03-24 19:19] birdsarah commented on #529
I like the suggestions regarding linting and webpack that have been offered to reduce pain. I do not have firm opinions on any particular suggestion for improvement vs the suggestion of removing all together. Others are far more deeply in the weeds than I am.

My only suggestion was to use DefinitelyTyped typings. But, as @vringar pointed out to me this morning, it appears we already are (`"@types

[2020-03-24 20:50] englehardt opened #595 "Investigate disabled MP logger tests"
We've had to disable MP logger's tests because of intermittent failures on Travis. We should investigate the cause of those failures and re-enable. See #559

[2020-03-25 21:01] boolean5 commented on #501
Hello again. I submitted a PR along with a few questions and comments here: https://github.com/mozilla/OpenWPM/pull/596

[2020-03-26 12:25] svensevenslow commented on #444
@vringar @englehardt Could please have a look at my [PR](https://github.com/mozilla/OpenWPM/pull/593)?

[2020-03-27 11:15] LilyLME commented on #594
This test happens to pass locally for me.

[2020-03-27 18:54] birdsarah opened #597 "sourceURL obfuscates script's origin from JS table"
## Background

I was investigating a list of scripts I had generated from the `javascript` table. That table includes `visit_id`, `top_level_url`, `script_url` among other columns.

I was trying to join this data with the `http_requests` table to understand the properties of these scripts.

### Notes on where data comes from

Although the requests table has a request ID, there is no direct link to

[2020-03-27 19:05] birdsarah commented on #597
The data was processed from a crawl that @englehardt ran Feb 2020. I have captured some summary pieces of data including the JS call stacks for reference. This should be enough to look up these rows if you have access to the data, or to see the call-stacks if interesting:
* dna-persist -  https://gist.github.com/birdsarah/469561283b6d46c4af627b40c4b5d589
* dna-min - https://gist.github.com/birdsar

[2020-03-27 19:26] boolean5 commented on #166
Hi, I'd like to work on this. Should I go ahead and just remove the bubbling of `AssertionError`? Or are we interested in preserving it when the `testing` configuration flag is true, as @englehardt suggested? Tests do not currently use this but is it likely that they will need it in the future?

[2020-03-31 16:03] boolean5 opened #598 "Restore functionality of process watchdog"
The [process watchdog](https://github.com/mozilla/OpenWPM/blob/5a67ce87cd925eafc6831e4d6171ca781b9c1de4/automation/TaskManager.py#L216-L234) stopped being supported in 1db64ed. This issue investigates what would be required in order to make it functional again. Here are some ideas and questions. Any feedback is welcome.

1. First of all, is the process watchdog a feature we still need?

2. In a re

[2020-03-31 16:07] boolean5 commented on #174
I think this issue can be closed now because commit d4f5c70 in https://github.com/mozilla/OpenWPM/pull/467 removed the line that caused this crash by mistakenly assuming that `crawl_id` was an attribute of `TaskManager`.
https://github.com/mozilla/OpenWPM/issues/598 has been opened to discuss what needs to be done to restore the functionality of the process watchdog.

[2020-04-01 16:22] #567 closed

[2020-04-01 21:15] shreyagupta30 commented on #423
Hello, @englehardt I am trying to figure this issue out as a part of my Outreachy internship. After reading this issue I have understood that we are facing the temp issue storage clash between what is generated by selenium driver and that by default of Firefox.
Would using a cache storage service like Redis can solve this issue of stateful crawling? If not so, can you please tell me why?
Thank You

[2020-04-02 08:48] vringar commented on #114
@Akhila499 Hey, I haven't heard back from you for a while and am now assuming that the PR is no longer under active development and this issue can be reassigned.

[2020-04-02 11:09] Akhila499 commented on #114
Hi @vringar I am still working on writing unit tests. will update you as soon as possible. Thanks for waiting.

[2020-04-02 12:00] vringar commented on #539
This is now exposed in the way that @svensevenslow described it.

[2020-04-02 12:00] #539 closed

[2020-04-02 14:50] vringar commented on #535
This error is easily reproduced when starting OpenWPM without xhost set in a docker container.
It basically means there is not webdriver process as selenium can't cope with the fact that firefox fails to spawn and we just mark this as normal failure where it probably should be a critical failure.
A fix to this would also include a test that creates a non headless browser being spawned and the plat

[2020-04-03 09:36] vringar commented on #423
Oversimplified the problem is:
On shutdown the GeckoDriver deletes the temporary Firefox profile that we are interested in, since it contains a lot of state we want to analyse.
When GeckoDriver passes the critical exception through Selenium to our Python code, the best we can do is try to be faster at copying the temp directory then GeckoDriver is at deleting it which is inherently racing and bad.

[2020-04-03 09:56] #174 closed

[2020-04-03 12:35] vringar opened #602 "Use mypy to uncover unwanted bytes or strings"
In python2 every sequence of bytes was a string and the other way around.
Python3 allows us to differentiate that so we should.
Using mypy or pylint somebody should go through all places we receive bytes and decide if this really should be a sequence of bytes or if we're expecting a string here and make that conversion.

[2020-04-03 15:50] #571 closed

[2020-04-05 12:23] Akhila499 commented on #114
Hi @vringar, Thank you very much for waiting. I have added testcases and fixed flake8 errors. Kindly check my PR https://github.com/mozilla/OpenWPM/pull/585 .Thanks a lot for guiding me through this process. I did learn a lot. Let me know.

Regards,
Akhila

[2020-04-06 17:36] boolean5 commented on #598
I guess [this comment](https://github.com/mozilla/OpenWPM/pull/596#issuecomment-608228451) by @englehardt answers 2. Should we move [the code](https://github.com/mozilla/OpenWPM/blob/5a67ce87cd925eafc6831e4d6171ca781b9c1de4/automation/BrowserManager.py#L324-L350) that kills geckodriver and firefox processes into a separate `kill_browser()` function so that we can reuse it in the process watchdog?

[2020-04-07 15:30] vringar opened #604 "Fix crawl_history for RunCustomFunction command"
Currently saving our `crawl_history` uses `json.dumps` when completing a command which breaks on a function handle
https://github.com/mozilla/OpenWPM/blob/29a213456d65ce6e8256a452336e588d2753adc2/automation/TaskManager.py#L448
This might be a fix
[code]
I don't understand why this doesn't show up in tests...

[2020-04-07 15:38] vringar commented on #604
Apparently we just fail silently and never notice ....

[2020-04-09 13:22] vringar opened #605 "Rename and move some properties to where they belong"
`browser_pid` -> `geckodriver_pid` as this is no longer the Firefox pid
Move `visit_id` to be a property of the `command_sequence` instead of the `browser`
Edit: Scoped this more narrowly as #701 is for the discussion of crawl, browser and task

[2020-04-09 13:33] shreyagupta30 commented on #605
Hello @vringar can I work on this?

[2020-04-09 13:57] vringar commented on #605
Sure :)

[2020-04-09 20:54] birdsarah commented on #597
sourceURL does also affect network call stack :(

I have opened a bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1628853

Additionally, I found this bug, which is a different type of attack which may be relevant: https://bugzilla.mozilla.org/show_bug.cgi?id=1622158

I also found this bug, which seems less likely to be relevant but wanted to note: https://bugzilla.mozilla.org/show_bug.cgi?id=122

[2020-04-10 19:17] birdsarah commented on #597
I made a test page: http://www.sarahbird.org/tests/sourceURL/

[2020-04-10 22:54] birdsarah opened #606 "OpenWPM does not run with FF74 or higher"
Tried upgrading version of FF installed and hit issues. FF 73_0_1 (TAG=5b0905233e5d29d9fbad98c1380030387cda5dd9) works

But FF 74, 74_0_1, 75 all fail with the same error:

[code]

FF74 release notes (https://www.mozilla.org/en-US/firefox/74.0/releasenotes/) says "Add-ons installed by external applications can now be removed using the Add-ons Manager (about:addons). Going forward, only users can i

[2020-04-11 19:48] englehardt opened #608 "run_custom_function test is silently failing"
See https://travis-ci.org/github/mozilla/OpenWPM/jobs/673635080#L2928-L2944. The failure is silent because it occurs in the command execution thread during cleanup. @vringar I know we discussed this general issue, just want to be sure this specific problem is on your radar.

[2020-04-13 12:05] vringar commented on #608
This is a duplicate of #604 I just haven't gotten around to creating a PR for it yet

[2020-04-13 12:05] #608 closed

[2020-04-14 10:34] vringar opened #609 "Should we merge closing methods in TaskManager"
[`_cleanup_before_fail`](https://github.com/mozilla/OpenWPM/blob/29a213456d65ce6e8256a452336e588d2753adc2/automation/TaskManager.py#L279) just calls [`_shutdown_manager`](https://github.com/mozilla/OpenWPM/blob/29a213456d65ce6e8256a452336e588d2753adc2/automation/TaskManager.py#L261) but maybe it's docstring provides additional value.
And then there is [`close`](https://github.com/mozilla/OpenWPM/b

[2020-04-14 10:35] vringar commented on #562
Closed by merging #574

[2020-04-14 10:35] #562 closed

[2020-04-15 19:05] vringar commented on #505
@skim1102

[2020-04-16 11:17] #501 closed

[2020-04-16 17:59] wangk5 opened #611 "E: Package 'firefox' has no installation candidate when running ./install.sh"
Hello,

I just tried to set up OpenWPM by running the install.sh script, but get this error:

[code]

[2020-04-16 20:03] wangk5 commented on #611
Removing `firefox` seems to have resolve this issue.
Also, removing line 45 https://github.com/mozilla/OpenWPM/blob/master/install-system.sh#L45 got the script to run successfully.

Thanks!

[2020-04-16 21:17] wangk5 commented on #611
Although I was able to run install.sh, I now get the following errors when running demo.py

`libgtk-3.so.0: cannot open shared object file: No such file or directory
Couldn't load XPCOM.`
`RuntimeError: Firefox not found.  Did you run `./install.sh`?`

[2020-04-17 02:42] englehardt commented on #611
What OS are you trying to install on?

Do you see a `firefox-bin` directory in the root directory of OpenWPM?

[2020-04-17 03:02] birdsarah commented on #611
I expect that error in a docker container or server where there's no x server. In particular, I have a vague recollection that centos doesn't have libgtk-3 available.

Are you running in headless mode?

[2020-04-17 04:02] englehardt commented on #565
This was fixed by #590

[2020-04-17 04:02] #565 closed

[2020-04-17 04:09] englehardt commented on #444
This was almost entirely fixed by #593. #612 will finish it up.

[2020-04-17 04:09] #444 closed

[2020-04-17 15:51] vringar opened #613 "Start testing with pytest-localstack instead of localstack[full]"
A quick scroll brought me to this https://github.com/localstack/localstack#integration-with-nosetests

[2020-04-17 16:05] #550 closed

[2020-04-18 00:01] englehardt opened #614 "Refactor LocalS3Session to handle botocore sessions"
s3fs > 0.4.0 breaks localstack sessions. See https://travis-ci.org/github/mozilla/OpenWPM/jobs/673635080#L2983-L2997 and https://github.com/dask/s3fs/issues/309.

in 0.4.1 s3fs was refactored to use `botocore` rather than `boto3`, meaning that we need to pass in a botocore session object rather than a boto3 session object on initialization: https://github.com/mozilla/OpenWPM/blob/480dd7daf384ff4a6

[2020-04-18 03:58] birdsarah opened #615 "Manage openwpm dependencies with conda"
We can use conda instead of running scripts that install programs into people's environments.

We need to consider how to handle a clean integration with pip requirements. Do we keep a requirements file? How do we pin things and keep things up to date?

Original WIP PR: #429

[2020-04-18 04:00] birdsarah opened #616 "Add an option for JS instrumentation to only capture first 1000 characters of "value""
I have found the "value" column of the JS table can get very large which causes huge memory inefficiencies. I always pre-process my data to just get the first 1000 characters and have only ever done analysis on that. We could save data, bandwidth, etc. by having an option to have the extension truncate this value for us.

[2020-04-20 14:12] vringar commented on #613
After a bit of investigation I can am fairly certain that this only works if you have a `[full]` installation of localstack.
`localstack start` is just a very elaborate wrapper around calling `docker run localstack/localstack` with the right parameters and such set.
We should probably just explore using [pytest-localstack](https://pytest-localstack.readthedocs.io/en/latest/)

[2020-04-20 14:25] vringar commented on #613
Unfortunately the package doesn't seem well maintained so we might need to put some effort into upstreaming some fixes.
This however seems to be worth it, as removing our dependency on localstack[full] is currently blocking us on moving forward with conda

[2020-04-20 15:46] birdsarah commented on #613
More worth it than doing the decoupling we discussed in the last meeting and splitting out the code that writes parquet locally?

[2020-04-20 17:20] vringar commented on #613
I understood that as a seperate issue. Or did we just want to write out to filesystem and then let s3fs handle the syncing? Because then we once again loose the feedback if our data has actually been saved out, don't we?

[2020-04-20 17:24] vringar commented on #613
I thought this was just another aggregator we wanted to implement, not a replacement for the current S3Parquet aggregator. I might have missed something in our discussion though.

[2020-04-20 17:25] birdsarah commented on #613
That's my suggestion

My general rule is that you don't need to test other people's libraries. We can assert the call to `s3fs.put` is made and assume `s3fs` knows how to put.

[2020-04-20 17:26] birdsarah commented on #613
That's not my understanding. My point was the the collection of data into parquet and the storage of them on a third party service do not need to be coupled. Decoupling them is a better technical solution and can allow easy integration of lots of 3rd party destinations.

[2020-04-20 17:42] vringar commented on #613
Does this mean we would just call `fs.close()` on shutdown and hope everything gets synced out before we get killed?

[2020-04-20 18:59] vringar opened #618 "Make the S3Aggregator to an ParquetAggregator"
S3 is hard to mock and [PyFilesystem](https://docs.pyfilesystem.org/en/latest/guide.html#why-use-pyfilesystem) in conjunction with [s3fs](https://fs-s3fs.readthedocs.io/en/latest/) allows us to set up everything in a way where we don't need our tests to write out to S3 but instead to `tmpfs`.
See the discussion in #613
@birdsarah is this more what you had in mind?
Or should we do this using dask a

[2020-04-20 19:00] vringar commented on #613
Using #618 or #427 we should remove all dependency on S3 explicitly and as such can remove localstack from our dependencies, which rn seems like the better solution.

[2020-04-20 19:00] #613 closed

[2020-04-20 19:09] englehardt commented on #609
Let's merge `_cleanup_before_fail` and `_shutdown_manager`, but keep `close`. Close is a user-facing method that shouldn't expose the extra parameters.

[2020-04-20 22:41] birdsarah commented on #618
dask is backed by s3fs and provides a pandas like API.

There could be some advantages to using it, but they seem minor, I don't see any reason to use it with the way our current distributed architecture works.

I did just have an idea though. We already have the sqlite aggregator. What if the parquet aggregator is just `pandas.read_sql`, `pandas.to_parquet`.

[2020-04-20 22:50] birdsarah commented on #618
Aside from simplicity, one of the advantages I can see to this is that we only need to maintain a sql scheme, the parquet schema would just follow from it.

The only time I can then imagine wanting to break from the sql aggregator is when we want to implement streaming collection and push to big query.

That said, the local aggregator is a record processor, I can imagine extending it to be record

[2020-04-20 22:54] birdsarah commented on #618
One final thought, given that we're already heavily multi process, if we don't want to process all the data at the end of the crawl we can start the data read and push process in a separate process that is periodically checking for n records is the sqlite database, gathering them, pushing them, then removing them from the sqlite database so the sqlite database is just left with the net of what has

[2020-04-20 22:58] birdsarah commented on #618
Given that, by my logic, we don't need to test pandas. *All* we'd need to do test the logic of grabbing data from the sql database and deleting records after push. The worst bit of this will be testing the unexpected shutdown conditions.

As I'm writing this I'm seeing the challenge of this idea is marking the "done" states. @vringar if you wanted to brainstorm this a little I'd be happy to chat.

[2020-04-24 09:39] vringar opened #619 "Make the status_queue typed"
Currently we're just throwing a bunch of tuples through the status queue which isn't very useful for arguing about what different events might be sent.

[2020-04-28 21:21] birdsarah commented on #504
agreed at weekly meeting:

Add a new config parameter: display-mode

- Native
- Xvfb
- Headless

[2020-04-28 22:30] englehardt commented on #448
from @birdsarah: https://dxr.mozilla.org/mozilla-central/search?q=IsHeadless()&redirect=false might be useful for tracking down differences between headless and headed modes

[2020-04-28 23:20] birdsarah opened #620 "screen_res, not used by headless mode"
I may be misreading the code, but I think we currently don't read the screen res for headless mode:

From `DeployBrowsers/deploy_firefox.py`
[code]

And do we use it at all for non headless mode?

[2020-04-29 22:18] birdsarah opened #622 "idiomatic pytest cleanup"
Was working on parametrizing a test and noticed some opportunities for cleanup in the test code:

* manager and config could both be pytest fixtures instead of methods on classes, this would dry out a lot of repetition in the setup of tests. pytest fixtures can be overridden per module (as you would do for manager when updating manager params for example)
* the `set_tmpdir` function would not be n

[2020-04-30 23:51] birdsarah opened #623 "callstack_instrument cannot be set by environment variable"
needed for using crawler.py in cluster crawls.

[2020-05-01 02:03] birdsarah opened #624 "Problem in "mark_job_as_done" running GCP crawl"
I have just run a gcp crawl of top 1000 sites.

docker image:  [commit-3959c67c38e88b986e842a2732fc099308f61d23](https://hub.docker.com/layers/openwpm/openwpm/commit-3959c67c38e88b986e842a2732fc099308f61d23/images/sha256-f6ec9ae4eec41e08c73800c9d8fae28e97862e0ef44d85b1319f732237763258?context=explore)

In doing so, I got 3 events in sentry with the following error.

[code]

[2020-05-01 03:15] birdsarah commented on #624
cc @vringar

[2020-05-01 05:44] birdsarah opened #626 "IndexError in _manager_watchdog"
During a recent cloud crawl of a 1000 sites, I got the following error 3 times from the newly revamped _manager_watchdog.

We just need to handle the case where geckodriver has no children - presumably because of an unexpected failure.

[code]

@boolean5 - am I right in thinking there's nothing more complicated to worry about here, just check if geckodriver has children before contininuing.

[2020-05-01 08:23] #623 closed

[2020-05-01 10:46] boolean5 commented on #626
@birdsarah, yes, checking if the geckodriver process has children before trying to access the Firefox process should be enough to avoid this. Thanks for pointing this out. I can send a patch if you haven't started working on it already. Let me know if I should. Thanks!

[2020-05-01 15:40] vringar opened #627 "Make a docker-compose test for the crawler"
Make it hidden behind a special flag that can get run via a special flag. Make sure the cron job is running using that flag

[2020-05-01 15:55] birdsarah commented on #626
Lovely. Thanks!

[2020-05-01 16:15] birdsarah commented on #627
Hidden flag is just a pytest mark e.g. `@pytest.mark.docker` (https://docs.pytest.org/en/latest/example/markers.html#mark-examples). Then you deselect with not `py.test -m "not docker"`.

I can't quickly find the githook used before to run tests based on a commit message. I can look next week.

[2020-05-02 23:28] birdsarah opened #628 "Running tests requires sudo"
I was running tests locally and surprised to find them asking for my sudo password!

[code]

I'm pretty sure this is related to localstack services as per: https://github.com/localstack/localstack/issues/2371

[2020-05-02 23:30] birdsarah commented on #628
Workaround

    $ export EDGE_PORT=9999

Before running tests.

[2020-05-03 10:16] boolean5 commented on #626
Here it is: https://github.com/mozilla/OpenWPM/pull/629

[2020-05-04 11:49] #626 closed

[2020-05-04 12:54] vringar commented on #628
Oof, just ran into this as well...
Should we just upgrade our localstack dependency or is this what breaks the camels back and gets us to use docker in testing?

[2020-05-04 16:06] birdsarah commented on #628
They've fixed the issue, so yes, we should update. They were pretty quick to turn this around. Can we not ask for upstream fixes for our other issues?

[2020-05-04 16:06] birdsarah commented on #628
(I do not want to use docker in testing, I had not realized that was the alternative).

[2020-05-04 21:52] vringar commented on #628
I just had to reboot my PC today because somehow running localstack[full] natively managed to screw up my entire setup to the point that nothing else worked to get the tests to pass again.
I also have weird intermittent issues where the s3 state persists throughout multiple test runs and similar
I understand your aversion but I hope that just like we came around to seeing conda as a useful tool wi

[2020-05-04 22:45] birdsarah commented on #628
I don't really need to be convinced of docker per se, I was just moaning.

How would docker replace localstack. Localstack gives us an AWS interface. What about S3 interface do we need to test?

[2020-05-05 04:14] #606 closed

[2020-05-05 18:43] #504 closed

[2020-05-07 05:22] birdsarah opened #632 "`prefs` isn't used anywhere (that i can tell)"
It's an empty dictionary in the default_browser_params.json and it's set in `crawler.py` but i can't see anywhere that it's used in the codebase. what's it for? setting additional custom preferences? that seems useful. would we add that here: https://github.com/mozilla/OpenWPM/blob/2f978c4cfba43df154431842e23754f78296ef66/automation/DeployBrowsers/deploy_firefox.py#L178?

[2020-05-07 07:20] shubhank-saxena opened #633 "Addition of pre-commit hooks"
While working on the codebase, if the changes are pushed without checking the linting issue, may fail the Travis build, and thus causing manual error checking and again running the lint. This is a tedious task for a programmer and may forget to do that.
So, we can work with pre-commit hooks, as it will run all the required linting tests before the commit itself.
I implemented this in the Treeherde

[2020-05-07 08:30] vringar commented on #633
Hey, this seems really nice especially since we plan to introduce a lot more tooling on this repo down the line.
Do you want to file a PR for this?

[2020-05-07 09:26] shubhank-saxena commented on #633
@vringar done!

[2020-05-07 09:34] shubhank-saxena commented on #579
@vringar can use Tox for multiple version python testing instead of running so many Travis test, as tox provides the facility to run it.
Also, implementing tox will help us clean travis.yml file

[2020-05-07 10:35] vringar commented on #579
We have discussed internally that we don't want to/ have the staffing to actually support multiple versions of python and the tests already take way too long to run.
So I don't want to have multiple versions of python running the tests to multiply my test time.
I appreciate you thinking about this though.

[2020-05-07 10:50] vringar commented on #624
This was hopefully fixed by #599

[2020-05-07 10:50] #624 closed

[2020-05-07 10:52] vringar commented on #605
Hey @shreyagupta30  are you still on this?
Otherwise I'd pick this up myself.

[2020-05-07 11:53] shreyagupta30 commented on #605
Hi @vringar, you can take this up. Sorry!

[2020-05-07 15:57] vringar commented on #633
Thank you so much for filing this issue :)

[2020-05-07 19:33] vringar opened #637 "Make "visitID is null when trying to insert into table" into a useful message"
This issue is the place to discuss how the visitID being unset should be handled by the extension
## The expected Flow
1. A ['GetCommand`](https://github.com/mozilla/OpenWPM/blob/master/automation/Commands/browser_commands.py#L116) sets the visitID  [in the extension](https://github.com/mozilla/OpenWPM/blob/master/automation/Extension/firefox/feature.js/loggingdb.js#L36)
2. The `GetCommand` procee

[2020-05-07 20:00] vringar commented on #20
This is handled by the crawl and task table isn't it? @englehardt
We don't log the extension version but they can easily be restored from the git repository and the browser config contains if they were enabled or not

[2020-05-07 20:01] #20 closed

[2020-05-07 20:07] vringar commented on #55
Many of those are now part of the browser_params or manager_params and can be fully customized.

[2020-05-07 20:07] #55 closed

[2020-05-07 20:22] vringar commented on #615
Whenever this gets addressed we should close #66

[2020-05-07 20:24] vringar commented on #68
https://github.com/mozilla/openwpm-webext-instrumentation/issues/8 was migrated to #353 which is closed. So I'm closing this as well

[2020-05-07 20:24] #68 closed

[2020-05-07 20:28] vringar commented on #233
@valkyr13 are you still working on this?

[2020-05-07 20:29] vringar commented on #280
@valkyr13 are you still on this?

[2020-05-07 20:42] vringar commented on #123
While this error report is still valid and unfixed the fix for it is begin discussed in another issue so this one doesn't provide any additional value. Especially seeing how the observable behaviour is completely different by now.

[2020-05-07 20:43] #123 closed

[2020-05-07 20:47] vringar commented on #340
The extension calls it crawlID instead of crawl_id but that's just following variable naming convention

[2020-05-07 20:47] #340 closed

[2020-05-07 20:48] #258 closed

[2020-05-07 20:50] birdsarah commented on #637
Given that this is all expected behavior, I would suggest a logLevel of debug.

[2020-05-07 20:52] birdsarah commented on #637
I thought we did this. But I see we just "close other windows"

https://github.com/mozilla/OpenWPM/blob/e1b0c2e89239d8ccbf9f9aec9cd22a26345f85b0/automation/Commands/browser_commands.py#L136

[2020-05-07 20:53] vringar commented on #224
The second part of the issue (the ack to the plattform) is being tracked in #135 and the first part was successfully implemented so I'm closing this

[2020-05-07 20:53] #224 closed

[2020-05-07 21:00] vringar commented on #637
I would aim for warn because it indicates that our assumptions are wrong, @englehardt and the both of us assumed that there wouldn't be any more information.
And once I've figured out a way to close the only open tab without closing the browser I'd like to go back to making that assumption because it's really helpful.
Also maybe there are like window.close listeners that send out some tracking stu

[2020-05-07 21:17] #558 closed

[2020-05-07 22:43] birdsarah commented on #353
i'm working on some related stuff at the moment, so i'm self-assigning and if a pr comes out of it great. if i stop working on related stuff, i'll un-self assign.

[2020-05-07 22:47] birdsarah opened #638 "Replace automation.utilities.domain_utils with library"
domain_utils was extracted from openwpm-utils and made into a standalone package with tests and features that cover a lot more edge cases.

propose removing automation.utilities.domain_utils and using https://pypi.org/project/domain-utils/

[2020-05-07 23:18] englehardt commented on #632
It's used here: https://github.com/mozilla/OpenWPM/blob/01dd4e12332527730ae4df50329f968de1c62785/automation/DeployBrowsers/deploy_firefox.py#L187-L193

And yes, it's meant for settings custom preferences.

[2020-05-07 23:21] birdsarah commented on #632
Thanks! github search failed me! sorry for the noise.

[2020-05-07 23:21] #632 closed

[2020-05-08 01:06] englehardt commented on #637
Can we move https://github.com/mozilla/OpenWPM/blob/01dd4e12332527730ae4df50329f968de1c62785/automation/Commands/browser_commands.py#L113 to the end of the get command, instead of the beginning of a new command?

[2020-05-08 06:20] vringar commented on #637
No, because that would e.g. break the keyboard command and all custom scripts would no longer have access to the current open window.
But we can move it into the beginning of the finalize command
So that we go to about:blank and then unset the visit id

[2020-05-08 10:39] shubhank-saxena opened #640 "Addition of codecov for analyisng test coverage"
We can get a reporting dashboard of the tests being run in the repo during Travis, and then can have additional quality checks on the basis of coverage
@vringar

[2020-05-09 09:30] birdsarah opened #641 "Instrument arbitrary JS modules"
Extend `js_instrumentation_modules` to accept any WebAPI object e.g. CanvasRenderingContext2D or XMLHttpRequest.

[2020-05-11 11:35] vringar commented on #628
Docker wouldn't replace localstack but instead of running localstack on the host and mangling all of our dependencies with theirs, we would run localstack as a docker container.
As such we could guarantee that we would wipe all artifacts after every test, and wouldn't have to pin some of our dependencies to older versions just because localstack needs them at that version.
If I figure out fixtures

[2020-05-11 18:53] agogodavid opened #643 "installation issue"
I'm trying to install openwpm on an ubuntu server (18.04) hosted on GCP and I keep getting this error - even with a vanilla install.

19 error code ELIFECYCLE
20 error errno 1
21 error OpenWPM@1.0.0 prebuild: `cd ../webext-instrumentation && npm run build && cd - && webpack`
21 error Exit status 1
22 error Failed at the OpenWPM@1.0.0 prebuild script.
22 error This is probably not a problem with np

[2020-05-12 07:29] vringar commented on #643
Hey @agogodavid,
Could you give us the full log as just this part doesn't seem to contain the information we need.

[2020-05-12 11:02] agogodavid commented on #643
Thanks for the reply. I set this up successfully just last week, unsure what I'm doing wrong now.

  GNU nano 2.5.3                File: 2020-05-11T19_53_48_019Z-debug.log
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node',
1 verbose cli   '/usr/lib/node_modules/npm/bin/npm-cli.js',
1 verbose cli   'run',
1 verbose cli   '--@openwpm/webext-instrumentation:commitizen_path=./node_mo

[2020-05-12 13:02] shubhank-saxena commented on #615
@birdsarah any specific reason to go for conda packages? It would again cause conda as a dependency. If we want more generic, we can consider poetry as one (Plus its methods comply to PEP 518).

[2020-05-12 20:04] birdsarah commented on #615
I'm afraid I've never heard of poetry before you mentioned it. Can you use poetry to install: firefox, node, redis, ....?

If yes, as best as I can tell from poetry it's still relatively young.

Having worked for anaconda, I am not unbiased and it would be good to get additional input.

But conda / anaconda back AWS's EMR, Google's Dataproc, it's used at hundreds of very large companies along with

[2020-05-12 22:30] birdsarah opened #646 "Wait for instrumentation to complete before navigating to page"
As I've been working on implementing generic JS instrumentation, it occurred to me, why don't we wait for the instrumentation to finish initializing before navigating to the page.

I'm aware that currently @vringar has implemented some shenanigans with going to about:blank initially. It maybe that this already covers this eventuality.

But, in theory, we could send a signal from the instrumentatio

[2020-05-12 22:37] vringar commented on #646
I've just quickly scanned over this as it's quite late for me but from what I understand #135 is what you'd want.
We just haven't gotten around to it yet.

[2020-05-12 22:42] birdsarah commented on #646
I thought so @vringar, but I just realized I'm wrong (and have updated issue name accordingly).

I realized that the JS instrumentation happens on every page load, so loading about:blank wouldn't help.

We'd need to interrupt dom parsing to stop everything, load our instrumentation and then continue dom parsing. I can't imagine that is possible from a web extension, so closing.

[2020-05-12 22:42] #646 closed

[2020-05-13 13:31] shubhank-saxena commented on #615
Wow, these are really good features! Thanks for letting me know! Will study more about condo packaging. It sounds way more better than poetry

[2020-05-13 19:44] birdsarah opened #649 "Consider breaking out webdriver_utils into separate package"
I think we want to go the direction of getting openwpm down to just it's core to make it easier to manage. Stumbled across: https://github.com/mozilla/OpenWPM/blob/master/automation/Commands/utils/webdriver_utils.py and while I can see the usefulness, it seems like this could be separated out.

I also have a nagging feeling that I've seen a package with similar functionality although I can't find

[2020-05-13 19:56] birdsarah opened #650 "Don't use boto3 directly, stick to s3fs"
There are a number of places where we're using boto3 directly and, on quick inspection, it looks like we could just use s3fs as I don't think we're using any advanced features of boto3.

[2020-05-13 20:13] birdsarah opened #651 "Update references to geckodriver 0.15"
There are a couple of places that document the limitations of geckodriver 0.15. As we're now on 0.26, we should check these references and update them or update the code if the limitation is no longer present.

[2020-05-13 20:53] birdsarah commented on #650
#614 is sort of a dupe, I'll update that issue.

[2020-05-13 20:53] #650 closed

[2020-05-13 20:54] birdsarah commented on #614
As per now closed #650, if there was a chance to not use boto directly it seems like it would abstract things away easier.

[2020-05-13 20:56] birdsarah opened #652 "Remove dependency on localstack / refactor s3aggregator to parquet aggregator"
It's come up in a few issues so gathering the core issue here.

Related: #614, #628

Localstack has caused us a number of headaches:
* dependency management (needing to pin older versions of libraries)
* upstream changes (#628)
* and generally adding complexity

It's purpose is to mock out s3, but that complexity is driven from the fact that the s3aggregator does two things for structured data:
*

[2020-05-13 21:01] birdsarah commented on #652
@vringar @englehardt I recall from our conversations that the above description of the issue is not accurate and there's an additional piece of related to saving content. Can you update the above description and we can continue iterating the conversation?

[2020-05-13 22:18] birdsarah commented on #503
An alternate version of openwpm was created as a proof of concept and has done windows crawls with openwpm. It uses basically the same openwpm instrumentation extension, but replaces the socket with a websocket, and uses kafka for orchestrating the crawl: https://github.com/birdsarah/faust-selenium

[2020-05-13 23:27] birdsarah commented on #611
I believe this will be resolved with #648

[2020-05-13 23:29] birdsarah commented on #474
I believe this issues is now fixed, can we close @vringar?

[2020-05-14 12:08] vringar commented on #474
I believe so yes, but I would like to just try it out, by running a headful (?) browser in a container without xhost configured correctly to make sure everything works as expected

[2020-05-14 14:13] vringar opened #653 "Firefox writes out Unicode which breaks python"
This is the traceback I got in the GCP console. Idk why python is assuming ASCII encoding but maybe we can specify that somewhere.
[code]

[2020-05-14 14:41] vringar commented on #653
Also b'["callstacks",{"crawl_id":3815218321,"request_id":37,"call_stack":"\xddE\xf7\xbc\xd1\xb4\x88\x9f0@https://realtime-chart.mofi.xyz/a1352312363x1222897961is/nikkei_a2.js:845:16;null\\nnull@https://realtime-chart.mofi.xyz/a1352312363x1222897961is/nikkei_a2.js:92:11;null","visit_id":586938654453539}]' breaks us [in the SocketInterface](https://github.com/mozilla/OpenWPM/blob/686c4d0bbb08ac0fd49

[2020-05-14 14:46] vringar opened #654 "Which errors make it to sentry and which ones only end up on GCP?"
It appears that only seperate Processes failing/crashing end up in Sentry and exceptions that we catch in a Logger somewhere.
However any sort of unexpected thread dying in the main process seems to be only caught by GCP Error reporting.
Should have a wrapping thread spawn thing (maybe using a threadpool) so that we document all crashes into the logs and not only stderr/stdout

[2020-05-14 19:31] vringar opened #655 "List of failed website visits"
For some reason or another all of the following websites got stuck in the redis-queue.
[code]
I'll try to go through and find out why they failed but I just wanted to document the failures here.

[2020-05-15 14:46] birdsarah opened #656 "deploy_to_dockerhub should run the tests in the docker image"
To check that the docker image is working as expected we could add a step to the deploy_to_dockerhub script that runs all the tests.

[2020-05-15 14:53] birdsarah commented on #653
bleugh. i hate bugs like this. we’re about to standardize on py3.8 assuming that my conda pr lands so lets double check that’s a problem there - although this is usually a 2 to 3 problem.

[2020-05-15 14:53] birdsarah commented on #653
but also web data is gross and can just break things.

[2020-05-15 16:48] birdsarah opened #657 "Document developing on windows"
Have tested workflow with #648 branch on WSL1 and 2 and it worked smoothly.

Setting up WSL:
https://docs.microsoft.com/en-us/windows/wsl/install-win10

[2020-05-15 16:49] birdsarah opened #658 "Remove custom FirefoxProfile"
We override selenium’s FirefoxProfile in DeployBrowsers/selenium_firefox.py

This isn’t necessary, addon installation seems to work fine in latest selenium as far as I can tell.

[2020-05-15 21:07] birdsarah commented on #503
I believe there's a not too bad path to supporting windows with OpenWPM.

* Once #648 is merged, there will be three dependencies that don't work on windows:
  * leveldb
     - have looked at the conda-forge recipe. appears it should now be straight forward to add windows support to it. (alternatively windows users have to manually install)
  * plyvel
    - i believe we can switch out plyvel for p

[2020-05-15 21:11] birdsarah commented on #423
@vringar - now we have finalize command, do things get easier?

[2020-05-15 21:21] vringar commented on #423
For a successfull visit possibly but it still doesn't handle the unexpected shutdown.
When I discussed this usecase with a Geckodriver maintainer he suggested that this should be a setting for Geckodriver, with which a user can configure where Geckodriver should write out the profile when shutting down.
This would be way more resistant to failure
However he also said that they likely don't have th

[2020-05-15 21:24] birdsarah commented on #423
@englehardt I see a path for restoring some of the original functionality. While I take your point that there are a lot of important edge cases, I think the only way to work through them is to restore functionality and start figuring them out.

Here's what I'm thinking. I think I have a path where our profile path is the actual geckodriver temp profile path rather than the path we get from seleniu

[2020-05-15 21:48] englehardt commented on #423
I agree. Doing this incrementally is necessary and okay. My point was that it's hard to rely the feature prior to doing the work because losing a profile can heavily impact a measurement.

It seems like that could work. I suspect that the geckodriver process doesn't crash so much as throw an error. Perhaps we can handle that error somehow and deterministically intervene before geckodriver goes thr

[2020-05-15 22:16] englehardt commented on #652
This seems like a duplicate of #618? We should close that one or the other.

And yes, see https://github.com/mozilla/OpenWPM/pull/390 for context.

Right now we have:

1. S3Aggregator:
    1. structured data: parquet on S3
    2. unstructured data: individual gzipped files on S3 (very inefficient)
2. LocalAggregator:
    1. structured data: sqlite
    2. unstructured data: leveldb

it seems like w

[2020-05-15 22:21] birdsarah opened #659 "Have a test to check if packages need repinning."
When #648 merges, it should be easy enough to write a test that we could run on a travis cron job that runs `repin.sh` for us and checks if there are updates. If there are, we would get a test failure, which presumably would land in steve's inbox, but I'm guessing there's a way to open an issue or have some kind of more global notification for the team to act on.

[2020-05-15 22:27] birdsarah commented on #618
closing as dupe of #652

[2020-05-15 22:28] #618 closed

[2020-05-15 22:28] birdsarah commented on #652
+100

[2020-05-15 22:31] birdsarah commented on #652
Move from leveldb to rocksdb and use https://github.com/rockset/rocksdb-cloud to push to aws, google cloud etc?

[2020-05-15 22:34] birdsarah commented on #652
I don't love this suggestion because I think the path to windows is easier with leveldb.

[2020-05-18 11:30] verybiigcat commented on #643
Hey @agogodavid, did you resolve this? I'm having the same on a fresh AWS EC2 Ubuntu 18.04 instance.

[2020-05-18 11:59] verybiigcat commented on #643
@agogodavid I had a similar issue; not sure if you're experiencing the same but in case it helps:
I did not have the "build" directory created, hence why trash build was failing.
So I had to manually build it by performing "sudo npm install" under the /automation/Extension/webext-instrumentation folder; which created the build folder.
Then I went back and re-run install.sh
Hope this helps.

[2020-05-18 14:10] agogodavid commented on #643
interesting. I'll try that. I ended up doing a work around. I used the
docker installation instructions, however, I edited the demo.py file with
my own list of domains to crawl first.

On Mon, May 18, 2020 at 7:59 AM verybiigcat <notifications@github.com>
wrote:

[2020-05-18 15:29] #615 closed

[2020-05-18 15:29] #628 closed

[2020-05-18 15:29] #638 closed

[2020-05-18 17:54] birdsarah commented on #643
With #648 merged the install process has been completely reworked, so you may want to try a fresh install.

Not much has changed for building the extension, but when I was reworking the docker script I had a very similar issue to you @agogodavid, I'm not sure it's the same problem, but it sounds like it. As a result I tweaked the build_extension script to do an npm install in both directories and

[2020-05-18 17:54] birdsarah commented on #643
If you're willing to do a fresh install, I'd be really eager to know if we have sorted the issue you were facing with #648.

[2020-05-18 19:37] agogodavid commented on #643
Actually, I tried @verybiigcat 's fix and it worked and then tried a fresh
install and that worked as well - so issue looks fixed!

On Mon, May 18, 2020 at 1:55 PM Sarah Bird <notifications@github.com> wrote:

[2020-05-18 20:58] birdsarah commented on #643
@agogodavid - I understand that you fixed your issue, so I'll close this issue, but the new install infrastructure just got merged so if you are able to help us test it out by doing a fresh install that would be gratefully received.

[2020-05-18 20:58] #643 closed

[2020-05-18 22:58] vringar commented on #614
This is the thing breaking my PR. If I run:
`python -m pytest -vv -o log_cli=True -k basic_properties` I see:
[code]
However I _locally_ also see this error on master while the tests keep passing for it on Travis
@birdsarah  do you have any idea how this can happen?
I have my conda activated in my local enviroment and my pytest is also using the conda python interpreter.

[2020-05-18 23:04] vringar commented on #614
I why this broke though, given that our s3fs is at `0.4.0` according to `conda list`

[2020-05-18 23:44] birdsarah commented on #614
@vringar - is this fixed now you removed a global s3fs?

[2020-05-18 23:55] vringar commented on #614
Yes

[2020-05-19 00:47] agogodavid commented on #643
Oh yes, that was what I meant. I fixed the issue using @verybiigcats work
around... and then I decided to run a fresh install and write up the steps
for a blogpost, and then doing that worked without the workaround. So yes,
the merge appears to have worked.

On Mon, May 18, 2020 at 4:58 PM Sarah Bird <notifications@github.com> wrote:

[2020-05-19 01:28] agogodavid opened #660 "RuntimeError: Firefox not found."
After [643](https://github.com/mozilla/OpenWPM/issues/643) was resolved,  `demo.py` not running on Ubuntu 18.

[code]

[2020-05-19 01:31] agogodavid commented on #660
I saw this.. [537](https://github.com/mozilla/OpenWPM/issues/537) ... did not fix it

[2020-05-19 01:59] birdsarah commented on #660
To help with your issue:

1) Please list the installation steps you took (the output of running `history` should do it)
2) Please paste the output of `conda list` run from the same shell you're running `python demo.py` in
3) Please paste the output of `ls` in the OpenWPM directory.

[2020-05-19 02:32] birdsarah commented on #660
Also, are you running on a fresh install of Ubuntu 18.04 Server.

[2020-05-19 03:46] englehardt commented on #659
I would prefer a warning over an error. The travis jobs run every so often in a cron job and this would guarantee that we'd eventually start failing that build part way through a release cycle.

[2020-05-19 03:56] englehardt commented on #653
I suspect the cause is:
https://github.com/mozilla/OpenWPM/blob/022e20a56e86636bef6435117af5328b9d79fea4/automation/Extension/firefox/feature.js/callstack-instrument.js#L17.

For most other things we use `escapeString`, e.g.:
https://github.com/mozilla/OpenWPM/blob/022e20a56e86636bef6435117af5328b9d79fea4/automation/Extension/webext-instrumentation/src/background/http-instrument.ts#L284-L285

This

[2020-05-19 03:59] englehardt commented on #637
@vringar this will be fixed by #589 right?

[2020-05-19 06:48] vringar commented on #637
Yes. I should have put a comment for that somewhere sorry

[2020-05-19 09:43] davehunt commented on #649
PyPOM provides some base objects for representing pages and regions. There might be some overlap with `webdriver_utils.py` (perhaps `wait_until_loaded`) but not much else. In my opinion it's probably not worth the effort of splitting these out.

[2020-05-19 12:10] agogodavid commented on #660
Yes, fresh install of Ubuntu 18.04.4 LTS (GNU/Linux 5.3.0-1018-gcp x86_64) Running on Google Cloud platform- I just retried on a vanilla install (I had setup jupyter notebook before installing OpenWpm before)

**installation steps**
(openwpm) agogodavid@quickvanillatry:~/OpenWpm$ history
    1  cd OpenWpm/
    2  ./install.sh
    3  ls
    4  ./install.sh
    5  cd tmp
    6  ls
    7  bash Anacon

[2020-05-19 16:37] birdsarah opened #662 "Improvements to making requirement adding clear"
As per #661 it could be clearer on how to add requirements.

1) Easy - add a note to the environment.yaml
2) Harder:
  2.1) Easier - add a test that runs repin and compares with environment.yaml. This will work but may want to repin dependencies separate from the PR. Something like this was proposed in #659. I think it will fine to fail in a PR (as opposed to a cron job) because this would have ha

[2020-05-19 16:45] birdsarah commented on #660
Thanks so much!

The problem is:

[code]

Your ubuntu server installation is missing some dependencies.

These dependencies are listed here: https://github.com/mozilla/OpenWPM/blob/master/Dockerfile#L14-L16

I knew about this installation challenge and I noted it here: https://github.com/mozilla/OpenWPM/#troubleshooting. But my description is very vague, and I don't think you would reasonably have

[2020-05-19 17:10] birdsarah commented on #660
cc @englehardt @vringar @agogodavid for thoughts.

[2020-05-19 17:32] englehardt commented on #660
@birdsarah is it possible to add these dependencies to conda?

[2020-05-19 18:07] birdsarah commented on #660
Depends. Let's review individually and be clear about the use case we're solving for:

* wget - yes - but there's a weird chicken and egg situation with getting conda
* git - yes - but you probably already got openwpm
* make - don't know
* libgtk-3-0 libx11-xcb1 libdbus-glib-1-2 libxt6 - maybe - there is a gtk3 package, i haven't tested to see whether it correctly links with ff though
* xvfb - no

[2020-05-19 19:58] birdsarah commented on #660
Did a quick test of conda installing `gtk-3` and it doesn't seem to link correctly with the downloaded firefox. There might be some kind of a solution, but I don't know it.

[2020-05-19 21:23] birdsarah commented on #662
Per comments on #661 - 2.1 is ok, we would want to deselect for a cron job though. This issue is discussed in #659.

Suggest that this issue becomes the issue to "Easy - add a note to the environment.yaml"

Which is not as easy as just making a manual comment in the environment.yaml as that file is created by a script, but still should be straight forward.

And #659 can cover adding the test to ch

[2020-05-21 01:00] birdsarah opened #663 "Add JS instrumentation option to capture return value of functions"
Currently value is always "" when a function is called.

Add option to logSettings to capture it.

[2020-05-21 13:25] agogodavid commented on #660
Speaking as a noob, I think the use case I was after was to get OpenWpm working and be able to work with it from within a jupyter notebook or similar. That has not been easy to setup so I'm currently running it as a batch-process. Load in the urls into a python file, modify the parameters and then copy to docker and run. I could imagine some benefits of greater interaction with OpenWpm in form of

[2020-05-21 18:49] birdsarah commented on #660
These are the best because they bring us fresh perspective which we've long lost.

I love jupyter notebooks and use them as a core part of my work. With my work on Bokeh and Dask I'm also have some perspective on the challenges of trying to use OpenWPM via jupyter and I would say its hard and would be very difficult to provide a good/general experience.

Really appreciate your perspective. Can you

[2020-05-21 22:31] birdsarah opened #664 "Cacheing issue when using python tests and updates to web extension"
As I've been working on the JS instrumentation I've regularly encountered an issue with the wrong web extension being loaded.

Typical steps to reproduce:
1) build the web extension
2) run a test that builds the webext e.g. `python -m test.manual_test --selenium` or `py.test test_js*`
3) make changes to the web extension
4) run `npm run build`, observe the updates using `python -m test.manual_test

[2020-05-21 22:32] birdsarah commented on #664
Thinking about this, maybe it's that the copy step from dist to the firefox directory doesn't happen.

[2020-05-22 19:32] birdsarah opened #665 "Use new fullscreen screenshot command"
Geckodriver now supports full page screenshots (https://github.com/SeleniumHQ/selenium/pull/7182)

So https://github.com/mozilla/OpenWPM/blob/aa5e2a6fe628e67953016f79fddd6e9c9096ac7f/automation/CommandSequence.py#L106-L130 can be updated to work with moden geckodriver.

[2020-05-25 08:45] #443 closed

[2020-05-26 16:06] englehardt commented on #637
Fixed by https://github.com/mozilla/OpenWPM/pull/589

[2020-05-26 16:06] #637 closed

[2020-05-27 07:07] motin opened #669 "ui-instrument: Instrument specific user interface properties / interactions"
I propose a ui-instrument for instrumenting specific user interface properties and interactions, such as:
 - Clicks
 - Scrolls
 - Keyboard event metadata
 - Frame dimensions / Viewport dimensions
 - Document/Page visibility (indicates if the window/tab is active)
 - HTML5 Media states (is a sound/video playing etc)
 - etc

Track basic user interaction was desired in a previous study, comparing dat

[2020-05-27 08:57] normannator opened #670 "DNS Resolve Integration and write to Database"
I am a beginner on working with OpenWPM and I want to integrate a dns resolve ([Tool](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/dns/resolve))
 in the crawl, so that each first party cookie, that was created, go through a dns resolve and this result should be written in a separate SQLite table. Could you please give me a hint, where I can integrate this functionalit

[2020-05-27 09:07] turban1988 commented on #670
Hi everyone,
I would also welcome a feature that allows storing DNS data related to each request in a separate table in the database. This feature would enable one to reason about the origin/destination of each request, which might be interesting concerning legislation like the GDPR or CCPA. The named [dns.resolve()](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/dns/re

[2020-05-27 23:34] englehardt commented on #135
@vringar do you think your latest PRs cover this?

[2020-05-27 23:38] englehardt commented on #353
Addressed by #642

[2020-05-28 06:58] vringar commented on #135
No, not really
What we now have is an explicit communications channel going
Taskmanager-> Extension -> Aggregator -> Callbacks
But the Taskmanager still doesn't know anything about the status of the extension

[2020-05-29 08:25] vringar opened #671 "Discuss how to release a stable version"
We previously discussed that OpenWPM should put out a release every time we update our Firefox version and since have failed to do so.
I'm also wondering if this is the best way to structure the release process.
I'd rather would like to see us do feature based releases, which would allow us to do a nice Changelog every release instead of just saying "Bumped firefox to version ..."

[2020-05-30 06:43] birdsarah opened #672 "Consider removing "visit with visit_id xxx was interrupted error""
In a crawl I ran recently I got ~50k "Visit with visit_id xxx got interrupted". I was running a crazy crawl, so that was fine. But that's a lot of events.

I was able to use the sentry api to download 2,600 of the events and compare the visit_ids with the crawl_history and incomplete tables.

A markdown version of the table is below.

For these 2,600 visits none got through to "ok" status for the

[2020-05-30 07:23] birdsarah opened #673 "Incomplete table does not contain `crawl_id`"
I was surprised to see `incomplete_visits` table doesn't contain `crawl_id`.

If this is unexpected, let me know.

If expected, then can we add `crawl_id` as we do for all other tables. While the chance of collision is small, presumably we still want to capture it. And if we don't should we get rid of it everywhere?

In my case I ran 700 very small, but different, crawls and put them all into one

[2020-05-30 07:34] birdsarah opened #674 "No tables have instance_id"
I've never found the instance_id useful, but it's still in the schemas and I've noticed it isn't in any tables from my latest crawl. If that's intentional (or maybe something went wrong with my crawl), we should clean up the schema?

[2020-06-01 17:34] vringar opened #676 "Fix parse_neterror"
https://github.com/mozilla/OpenWPM/blob/454981094b62c9d76d28875de752520debbfea59/automation/Commands/utils/webdriver_utils.py#L21-L36
This is the new format:
`selenium.common.exceptions.WebDriverException: Message: Reached error page: about:neterror?e=netTimeout&u=http%3A//csuchico.edu/&c=UTF-8&f=regular&d=The%20server%20at%20csuchico.edu%20is%20taking%20too%20long%20to%20respond.`

[2020-06-01 18:06] MaazBinMusa opened #677 "AttributeError: 'Display' object has no attribute 'cmd_param'"
I am using firefox-52 branch. I am using Docker as well. It was all very smooth but today I rebuilt the dockerfile and ever since this is the error I am getting.

[2020-06-01 18:40] birdsarah commented on #677
What is "firefox-52" branch?

[2020-06-01 19:01] MaazBinMusa commented on #677
It was the stable branch that had stateful crawls etc.

[2020-06-01 19:51] MaazBinMusa commented on #677
https://github.com/mozilla/OpenWPM/releases/tag/firefox-52

[2020-06-01 21:05] MaazBinMusa commented on #677
The version isn't important, I would just like to know why this error appeared all of a sudden. thanks.

[2020-06-02 00:07] birdsarah commented on #677
Well. It's a tag, not a branch, so updates can't be made to it. Therefore the most likely explanation is that something changed at your end - a version of docker, a version of python, something.

Sorry that's not the most useful information for you, I know.

@englehardt - this is related to the conversation we had at our meeting last week. What's the ongoing policy on versions that are supported.

[2020-06-02 00:27] MaazBinMusa commented on #677
I understand. since the code creating the issue is still in the latest branch I figured id ask. Because nothing changed on my side except some text files which is why i rebuilt the docker image and started the issue.

However it is my understanding that status_queue is just used for logging of some sort, so commenting out this line (line 100 in deploy_firefox.py) makes the code run again.

[2020-06-03 11:55] turban1988 commented on #670
Hello,
I worked a little bit on this.

- I created an` browser_params[i]['dns_instrument'] = True` command that indicates if the DNS requests should be resolved and written to the database.
- I wrote an `DnsInstrument` class in the extension that utilizes the `dns` API of Firefox  (see below) and made several smaller adjustments that the class is used and that the data is written to the database,

[2020-06-03 16:25] agogodavid commented on #660
Sorry for taking a moment - life in the time of covid....

My big challenge with the setup that worked eventually (docker) was my prior lack of knowledge about docker and how to get a file into the docker container to run the crawls - that was why I went with editing demo.py and then rerunning the docker install script. Anything that makes that part of the process a little clearer would have made

[2020-06-03 17:00] englehardt opened #678 "Set javascript.options.asyncstack to true"
See https://searchfox.org/mozilla-central/rev/7cadba1d8b8feaec4615f5bb98aac4b8a719793c/modules/libpref/init/all.js#1132-1141. This is only true by default in Nightly/dev edition.

We should also add test pages for various async API accesses, e.g., `setTimeout`.

[2020-06-03 17:30] birdsarah opened #679 "Add column to crawl_history table to capture how long command took"
I'd like to get some kind of idea of how long different commands are taking.
My motivation is to be able to debug "performance" when instrumenting lots of APIs. I'm thinking about a very crude python timer added around here:
https://github.com/mozilla/OpenWPM/blob/a811af1c9c1f8efa4b9d2a008c6cbb3e5be6d1e8/automation/TaskManager.py#L469
Obviously this number will need to be understood carefully, but

[2020-06-08 08:15] turban1988 commented on #670
If there is a general interest in this feature, I could send some cycles developing it.

[2020-06-08 14:31] vringar opened #680 "Enable dump_profile"
@MphDevelopment needs stateful crawling for an experiment they wanted to run. This issue outlines the steps that need to be taken to get to a version of stateful crawling that works to satisfy [the given requirements](https://view.matrix.org/room/!pFJihVSEWzcMCcOzSH:mozilla.org/?anchor=$jitB6DiHAZJwyYeu08yE8E51v_VfUejEQApxjNGs6zw&offset=-10&highlight=$jitB6DiHAZJwyYeu08yE8E51v_VfUejEQApxjNGs6zw)
S

[2020-06-08 15:28] MphDevelopment commented on #680
Thanks for the information, i'll look into it !

[2020-06-08 20:39] englehardt commented on #680
This issue is a bit confusing without context from matrix. @vringar would you mind to add context here? Not sure if this is just for helping MphDevelopment?

[2020-06-10 08:48] motin commented on #465
As mentioned, these are the parts to this:
1. Tweak the webextension instrumentation to run properly in Chrome
2. Find a solution for platform communication without using Firefox-only privileged web extension experiments ([re-evaluate http/websockets](https://github.com/mozilla/OpenWPM/issues/464) or the [Devtools Protocol](https://github.com/mozilla/OpenWPM/issues/380) instead?)
3. (Re-)add Chrom

[2020-06-12 15:33] englehardt commented on #450
This was addressed in several recent PRs

[2020-06-12 15:33] #450 closed

[2020-06-12 15:47] vringar opened #684 "Command table should contain short command names"
It shouldn't be the full type name in the table but so instead of automation.commands...GetCommand

[2020-06-15 09:27] vringar opened #685 "Rename package automation to openwpm"
Since our package name is going to be OpenWPM our top level directory should have the same name.

[2020-06-15 09:53] vringar opened #686 "Add name field to commands for saving out into the table"
Currently we just [dump out the full type name](https://github.com/mozilla/OpenWPM/blob/5ffde00ecd5ecaa9105b74935490e5e267596eb7/automation/TaskManager.py#L488) into the table which is practically useless for analysis.
Instead each command should have a name field like GetCommand -> Get and so on.

[2020-06-17 23:30] englehardt commented on #658
Fixed in #687

[2020-06-17 23:30] #658 closed

[2020-06-18 17:59] birdsarah opened #688 "Are we ok with not fully error handling "Crash in driver""
I was just reviewing some tests and noticed the following.

The browser is crashing in the test, perhaps intentionally, which is fine, but we are getting to `    display_pid, display_port = display.pid, display.cmd_param[-1][1:]` line of code which won't work because the browser's not running.

Should we better error handle this? Not sure we should, just bringing it up for discussion.

[code]

[2020-06-18 18:06] birdsarah commented on #688
Closing this. I think this is actually related to pyvirtualdisplay update.

[2020-06-18 18:14] #688 closed

[2020-06-18 21:55] englehardt opened #689 "Isolate a user's conda environment from python user packages in ~/.local"
#### The problem

In #682 we discovered that conda doesn't provide a fully isolated execution environment, and instead allows python dependencies installed in `~/.local` to be picked up. Unfortunately these seems to be preferred to conda's own packages. Here's a simple test script:

[code]

When a conda environment isn't active, run `pip install --user crontab`. Then `conda activate openwpm`. The

[2020-06-18 22:48] birdsarah commented on #689
My only issue is with the helper script not actually working. If it does work, great.
If it doesn't work, that doesn't preclude us adding `PYTHONNOUSERSITE=True` to all places where we have:

[code]

Specifically what I mean by "not actually working" is that eval line is, to my understanding, necessary in scripts so that they see conda. So you can't split it out. And if you can't split it out, the

[2020-06-18 22:58] englehardt commented on #689
Thanks Sarah. I'm also curious what you think about

This seems like a bunch of extra overhead.

[2020-06-19 10:08] vringar commented on #680
@MphDevelopment just checking in. Do you need guidance or assistance on anything?

[2020-06-19 12:05] MphDevelopment commented on #680
Thanks for checking !
We haven't started on the issue yet, we're still in the research part of the study..
I'll let you know if i need assistance on this !

For now i've only tried running OpenWPM with docker, and met some bugs related to npm that seems to magically not be triggered sometimes, i'm trying to understand the issue with it.

[2020-06-21 14:40] turban1988 opened #691 "Profile loading fails"
Hi,
to test the effect of some specific cookies present in the Firefox cookie store, I created a Firefox profile and wanted to load it into OpenWPM (by using `browser_params[i]['profile_tar'] = "/home/openwpm/Desktop"`). However, the loading seems to fail because the cookies are not in the used profile (i.e., the cookie store of thespawned browser is empty). The import of the profile seems to work

[2020-06-22 09:41] alexsavv opened #692 "Problem in Json serializable"
Hi, i try to create a task in OpenWPM and i have the error "Object of type function is not JSON serializable"

The task works fine but there is problem in TaskManager.py (line 489) ,which tries to convert "command.__dict__"  to a json format.
I send also two photos. The one shows my task and the other the error.
Please answer me if it is a problem due to my code.

![task](https://user-images.githu

[2020-06-22 15:03] vringar commented on #692
Hey Alexandros,
I don't think this is an issue with your code.
I remember seeing this issue but thought we had fixed it. I'm sorry about that.
Would you mind posting the code as text so it's easier for me to reproduce the issue?

[2020-06-22 15:09] #691 closed

[2020-06-22 15:15] vringar commented on #691
Hey, I was planning to follow up with you on this.
How did you fix the issue?

[2020-06-22 15:17] turban1988 commented on #691
The problem was my created profile and the copying process. I had the wrong structure in my `.tar`

[2020-06-22 15:32] #676 closed

[2020-06-22 19:20] birdsarah commented on #689
Yes

The problem is that we're talking about a tradeoff and as I have a hard rule that you never install things outside of a virtualenv or a conda env then I don't see this as a problem.

So I can't weigh in on the benefits.

On the cons, I'm assuming by overhead you mean "extra code and extra complexity". If so I really agree and I think there are lighter weight solutions we can do for now:

(1)

[2020-06-22 20:26] englehardt opened #694 "Update pyvirtualdisplay to >1.0.0 version"
In #682 we pinned `pyvirtualdisplay` to 0.2.5 due to an incompatible interface change. See the excerpt from this [test run](https://travis-ci.org/github/mozilla/OpenWPM/jobs/699798694#L2176-L2183):

[code]

We use `cmd_param` to retrieve the "display port", which is then used to identify a temporary lockfile placed in the users tmp folder. See:

[code]

This was initially added because long-runnin

[2020-06-22 21:42] #692 closed

[2020-06-22 21:43] #640 closed

[2020-06-22 22:00] englehardt commented on #689
Yeah I agree. In #682 I added a troubleshooting comment to the readme to solicit feedback to this issue if folks run into the issue.

But I think it might actually be fairly easy to fix since conda environments support setting environment variables upon activation. See https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#saving-environment-variables. This should

[2020-06-25 12:40] vringar opened #695 "Integrate GitHub and Sentry better"
Sentry let's us specify a [version number](https://docs.sentry.io/workflow/releases/?platform=python) so that issues that only appear in a certain release can be highlighted as such.
Issue tracking from Sentry would be a lot easier if we had the GitHub integration enabled, but idk who I'd need reach out to for that. @englehardt Do you thinks it's feasible to get all of this integrated a bit more t

[2020-06-25 15:34] vringar commented on #547
I've started to see this in cloud crawls as well. Maybe we should just throw in an assert to then get better error messages

[2020-06-25 16:58] birdsarah opened #697 "Trying do -> Trying to"
https://github.com/mozilla/OpenWPM/blob/master/automation/DataAggregator/BaseAggregator.py#L148

[2020-06-25 17:57] Christlev opened #698 "An issue in Json format"
Hi, i am new in the OpenWPM tool. I want to visit some websites and get the title of them but i have an exception. I search it and i found that it is from OpenWPM code

The exception is:
  TaskManager          - INFO     - BROWSER 41: Received failure status while executing command: RunCustomFunctionCommand(<function  get_title at 0x7f47dfff7830>,())

  TypeError: Object of type function is not JS

[2020-06-25 21:31] #672 closed

[2020-06-25 23:24] birdsarah opened #699 "Remove canvas_recursion test page"
It's not actually used anywhere.

[2020-06-25 23:38] birdsarah opened #700 "Update printing of crawl settings to console"
I find it extremely hard to read the browser configuration that is dumped to console

[code]
Followed by matching numerical keys to the values.

This is exacerbated by the new generic JS instrumentation - so the value for 14 is a large json blob.

Can we do better?

[2020-06-26 00:52] birdsarah opened #701 "Crawl ID -> Browser ID, and matching data structures"
Following up from discussion on chat.

TIL that Crawl ID is actually meant to uniquely identify browser instances, rather than to give a "crawl" a global ID.

In the LocalAggregator, the concept exists of a Task ID, which identifies a set of browsers and visits as all belonging to one "task".

The "task" is what we would normally think of as a "crawl", in the sense of "I'm going to run an alexa 10

[2020-06-26 00:52] birdsarah commented on #701
cc @vringar

[2020-06-26 01:39] birdsarah opened #702 "Warning processing types: Error processing types.15: Invalid enumeration value "xbl""
Seen when doing manual test and looking at extension debug

![Screenshot from 2020-06-25 20-38-40](https://user-images.githubusercontent.com/1796208/85811483-e6ac2080-b723-11ea-9719-2b034476b2a1.png)

[2020-06-26 01:40] birdsarah commented on #702
I'm guessing that it's become obsolete and has been removed from type library so we just need to remove from http-instrument.ts

https://developer.mozilla.org/en-US/docs/Archive/Mozilla/XBL

[2020-06-26 19:15] #699 closed

[2020-06-26 19:15] #697 closed

[2020-06-26 23:57] englehardt commented on #701
I agree we should rename crawl_id to browser_id, but I'm not sure about task_id to crawl_id.

I use the term "crawl" to refer a single parquet directory or sqlite database. This is currently how we bucket data on S3 and how we shared datasets back in OpenWPM's Princeton days: https://webtransparency.cs.princeton.edu/webcensus/data-release/. If you don't think of a single directory as a "crawl", wh

[2020-06-26 23:59] englehardt commented on #700
I totally agree. This was the best I could come up with back when I originally introduced it, but I've hated that list of keys since then.

Do you have any suggestions? I wonder if there are some libraries that can help here.

[2020-06-27 00:02] englehardt commented on #698
@Christlev would you mind to share the crawl script you're using to run the crawl? (Your version of demo.py)

[2020-06-27 09:27] Christlev commented on #698
As you will see the script doesn't crash ,but it throws a Type Error.
    TypeError: Object of type function is not JSON serializable

The code is at:
    https://github.com/Christlev/DemoOpenWPM/blob/master/openwpm_demo.py

[2020-06-29 11:56] #671 closed

[2020-06-29 12:04] vringar commented on #701
I already wrote down my thoughts on this in #605 and mostly agree.

@englehardt isn't that exactly what @birdsarah wants to call a crawl (and which is currently called task)?

[2020-06-29 13:19] vringar commented on #652
One big thing I'd want to be mindful of is the discussion around caching and completion callbacks.
If we offload the caching into an external system we loose the knowledge whether something has been actually saved out to the remote storage or just cached locally.
At least for s3fs I couldn't find a way to manually flush, maybe this happens upon closing the FS?
Also if we cache the records to group

[2020-06-29 16:19] birdsarah commented on #701
@englehardt thanks for the thoughts. And I think I agree with you (and not myself). @vringar I'm not sure I agree with you.

@englehardt

yes

@englehardt

yes

@vringar

no

Hopefully my use case can illustrate why I agree with @englehardt but not @vringar. I want to run a crawl (gather one large dataset) with the majority of browser APIs instrumented. This can't be done in a single pass. I need

[2020-06-29 16:20] birdsarah commented on #605
@vringar can we scope down this issue to just:

* `browser_pid` -> `geckodriver_pid` as this is no longer the Firefox pid
* Move `visit_id` to be a property of the command_sequence instead of the browser

And have 701 for the task / crawl / browser?

[2020-06-29 16:30] birdsarah commented on #700
My starting point improvement would just be:

[code]

Moving beyond that we could do an ascii table

[code]

But I actually think that would be harder to read than the first one where the keys and values are close to each other.

I would suggest separating the listing into some distinct groups e.g. "short" (crawl_id, display_mode, .... things with text), "boolean" (all the true false), and "long"

[2020-07-01 19:00] vringar commented on #698
Why did you reopen this when https://github.com/mozilla/OpenWPM/pull/693 closed this?

[2020-07-01 19:10] englehardt commented on #698
Ah I missed that this was fixed by #693. We can close then

[2020-07-01 19:10] #698 closed

[2020-07-08 07:10] birdsarah opened #707 "CI can fail but show as green :("
See build:

https://travis-ci.org/github/mozilla/OpenWPM/jobs/706059232

The tests failed spectacularly but because the codecov ran and exited with a 1. The tests showed as passing.

[2020-07-08 18:18] birdsarah opened #708 "Clean up un-context-managed use of open"
I somehow came to the opinion that `open()` no longer needed to be used with `with` as best practice. This is wrong.
Should be cleaned up from some commits in my recent PRs.

Good practice reference: https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files: "It is good practice to use the `with` keyword when dealing with file objects. The advantage is that the file is properly

[2020-07-08 18:26] birdsarah commented on #708
Having done a quick search there are also some other instances. Let's clean them up all in one go. As an example, it's this kind of change: https://github.com/mozilla/OpenWPM/pull/642/commits/95465a8d1e4945265b70aeaed9215a2a6919a073

[2020-07-08 21:40] Febeoro opened #709 "no such file or directory, open '/home/parallels/conda/OpenWPM-master/automation/Extension/webext-instrumentation/node_modules/.staging/*"
While I was doing "pushd automation/Extension/firefox
npm install",
I received the error log. The full log is as below:

[code]
I have tried both the Ubuntu18.04 and CentOS7 while using python3.7.8.
It seems that it finds the wrong path. But I don't know how to do it.
What I can do to correct this?

[2020-07-08 22:55] #641 closed

[2020-07-08 22:55] #28 closed

[2020-07-08 23:31] birdsarah commented on #709
As of version 0.10, OpenWPM runs on python 3.8 managed by a conda environment. It also supports OSX.

So, we would need more information to track down this problem, but the first thing I would suggest is checking you've got a fresh copy of the release and have followed the new installation setup.

(I'm just about to cut v0.11)

[2020-07-08 23:42] birdsarah opened #710 "Improve utility of install.sh script"
When #642 landed, it included click and I made some improvements, using [click](https://click.palletsprojects.com/en/7.x/), to the [manual_test.py script](https://github.com/mozilla/OpenWPM/blob/master/test/manual_test.py#L178).

We can use click other places to make things nicer.

In particular, as I was running ./install.sh today I was thinking it would be nice to have an interactive mode where

[2020-07-09 02:02] birdsarah commented on #561
I made a plan after doing a spike in #704. We discussed in person (@englehardt, @vringar, and @birdsarah) and agree this is a reasonable way forward.

Open questions:
- should you be able to send structured data and unstructured data to separate destinations? Can we live with not being able to do this for now.
- Why not have more listeners - one running process_record (listening to data coming up

[2020-07-09 02:04] birdsarah commented on #701
We discussed this in person and, if I remember right, agreed the following:
* crawl_id -> browser_id
* task_id stays the same
* no need to track additional things (like instances) for now

Also see notes in #704.

[2020-07-09 02:05] birdsarah commented on #701
We may want a follow on issue to look at combining params together.

[2020-07-09 04:38] Febeoro commented on #709
I have tried the v0.11, and it has the same error. Now I try to switch to python3.8.

[2020-07-09 11:21] nayanamana opened #711 "How does the content hash saved to levelDB evaluated?"
When running OpenWPM over a set of URLs, I observed that it computes different content hashes (md5) for the same script (https://connect.facebook.net/en_US/fbevents.js) used in different first party URLs (e.g., http://jacquescartierchamplain.ca/?lang=en and http://jacquescartierchamplain.ca/circulation-travaux/reseau-en-direct/pont-honore-mercier/). Although the content hash (MD5) of the script UR

[2020-07-09 15:01] birdsarah commented on #709
I'm on conda 4.8.3. I'm as sure as I can be that conda versions won't be the problem. (mini)conda supports many versions of python.

So to recap:
* you have downloaded and unzipped the v0.11 release
* you run `./install.sh` and you get an error?

Can you please take the full output from running ./install.sh and post it either in this issue or in a [gist](https://gist.github.com).

It can be a pain

[2020-07-09 15:22] birdsarah commented on #711
Interesting!

I'm not sure what this would mean. The content hash is generated from the response body. If you're seeing the same exact code in the leveldb database under different hashes, my first guess would be that there's something wrong with our hashing.

The hash is created of the content in the JS before being sent to python for deduplicated insertion into the database [here](https://github.

[2020-07-09 15:25] birdsarah commented on #711
@englehardt @motin - maybe seperately, looking at https://github.com/mozilla/OpenWPM/blob/v0.11.0/automation/Extension/webext-instrumentation/src/lib/sha256.ts and https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/digest, they have this pretty simple looking example:

[code]

Is there any reason we can't use that simpler code?

Lastly, our code has this comment at the top:

[code]

We

[2020-07-09 15:41] nayanamana commented on #711
I used the below code to extract the content from levelDB by providing the content_hash (as the key). For the example I mentioned, I am getting the same content for different content_hashes (validated using "diff"), where I was expecting different content in corresponding JavaScript source code. Again this is observed for the same script URL with different content_hashes.

------------------------

[2020-07-09 15:43] englehardt commented on #711
I'll defer to @motin since he originally implemented this. I'd need to dig in myself.

My understanding is that the built-in crypto library we're relying on no longer supports md5. We used to use md5 for this, but that relied on internal APIs that are no longer accessible post-WebExtensions.

[2020-07-09 15:43] birdsarah commented on #711
The reason I was asking to confirm with python hashing is, just in case, diff is glossing over different whitespace which isn't meaningful for a text diff, but could result in a different hash.

[2020-07-09 15:46] birdsarah commented on #711
Missed that in the mdn page. You're right. I think we should remove this comment.

[2020-07-09 15:47] nayanamana commented on #711
Using Python I computed the MD5 hash for content returned from both content_hashes and the hash values are the same (so I don't think this is a space/special character issue).

[2020-07-09 15:51] birdsarah commented on #711
Brilliant. Thanks.

Now the gross part. This seems like it could be very hard to setup a test for.

@nayanamana can you now confirm the opposite. In the original report, I assume you were able filter the requests table and see the same script URL having different content hashes. Can you now look for the opposite: a script URL that has multiple requests to it, but has the same content hash.

[2020-07-09 15:53] englehardt commented on #711
@nayanamana Separately, can I also ask you to share the contents of the two files retrieved from the leveldb database that are the same but have different hashes. It would be helpful if you could share the URLs from which that content has originally retrieved (if you have an example of URLs that return static content that would be helpful) and the site that loads those URLs. That would let me see

[2020-07-09 15:54] nayanamana commented on #711
With my limited data set, I did that verification to some extent. But I couldn't find having the same content (i.e., script source) for same script URL where there are multiple requests.

[2020-07-09 15:56] birdsarah commented on #711
I don't understand. You have said you have a leveldb database with two copies of the same file but with different hashes. So that's one instance of multiple requests.

[2020-07-09 16:02] nayanamana commented on #711
Sorry. I mistyped my reply. Corrected the reply above. Not sure if I answered your question.

[2020-07-09 16:15] nayanamana commented on #711
If you want to recreate here is an example:

I used below first party URLs to crawl.
https://ici.radio-canada.ca/conditions-utilisation/espace-numerique
https://ici.radio-canada.ca/info

Then selected the following content hash_values for script: https://static.chartbeat.com/js/chartbeat_video.js

c1 --> 'ba607af2c8d414ab6d4bac90c526d90a939cb0adf507b6ba063265347479159d'
c2 --> '0db5cab943f4d486fa8

[2020-07-09 18:55] birdsarah commented on #711
Running a crawl locally, to those two sites, I see chartbeat_video on both but in my responses table, the content hash is the same (5ae4aa074b868e28804c31a420423d8647ea6771fe61b2793095479260fed5e7) - I'm not sure whether it should be the same as yours.

Some questions:
* When you rerun your crawl for just these two sites do you get the same? i.e. is this error reproduceable for you?
* Are you runn